@{
    ViewData["Title"] = "kLS | Monitoreo";
}

@section Styles{
    <style>
        .selected {
            color: red;
            background-color: yellow;
        }
    </style>
}

<div class="p-2">
    <div class="d-flex flex-nowrap">
        <div class="p-2">
            <div class="text-left d-flex p-2">
                <a href="#">
                    <div class="material-icons icon-red">arrow_back</div>
                </a>
                <div class="text-uppercase poppins medium size-24 pl-2">MONITOREO</div>
            </div>
        </div>
        <div class="ml-auto p-2">
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center shadow-sm p-3 bg-white rounded" style="width: 9rem; height: 5rem; font-size: 14px;">
                        1
                        <br />
                        CONFIRMADOS
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center shadow-sm p-3 bg-white rounded" style="width: 9rem; height: 5rem; font-size: 14px;">
                        0
                        <br />
                        EN TRANSITO
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center shadow-sm p-3 bg-white rounded" style="width: 9rem; height: 5rem; font-size: 14px;">
                        0
                        <br />
                        CONCLUIDOS
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-4 shadow bg-white" style="overflow-x: auto; overflow-y: hidden;">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item">
                <label style="font-size:12px;font-weight:bold;">Cliente</label>
                <select class="form-control form-control-sm" id="sCliente" style=" width: 200px;">
                    <option value="value">Selecciona una opción</option>
                </select>
            </li>
            <li class="nav-item pl-4">
                <label style="font-size: 12px; font-weight: bold">Estatus</label>
                <select class="form-control form-control-sm" style="width: 200px;" id="sEstatus">
                    <option value="value">Selecciona una opción</option>
                </select>
            </li>
            <li class="nav-item pl-4">
                <label style="font-size: 12px; font-weight: bold">Sub estatus</label>
                <select class="form-control form-control-sm" style="width: 200px;" id="sSubEstatus">
                    <option value="value">Selecciona una opción</option>
                </select>
            </li>
            <li class="nav-item pl-4">
                <label style="font-size: 12px; font-weight: bold">Grupo monitor</label>
                <input type="text" class="form-control form-control-md" style="width: 200px;" />
                @*<select class="form-control form-control-sm" style="width: 200px;">
                        <option value="value">Selecciona una opción</option>
                    </select>*@
            </li>
            <li class="nav-item ml-auto">
                <a class="btn btn-sm btn-secondary float-right" href="#">
                    <span class="material-icons" onclick="descargarExcel();">
                        file_download
                    </span>
                </a>
            </li>
        </ul>
        <div class="pt-2">
            <table id="table" class="table table-striped table-bordered display table-hover table-viajes" width="100%">
                @*<thead>
                    <tr>
                        <th colspan="6"></th>
                    </tr>
                </thead>*@
                <tbody id="table-info">
                    <tr>
                        <td colspan="6">Cargando...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@*Modal de comentarios*@
<div class="modal fade" id="comentarioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">AGREGAR COMENTARIO MONITOREO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmComentario" action="#" method="post">
                    <input type="hidden" name="SectionId" id="Id"/>
                    <input type="hidden" name="StatusId" id="StatusId"/>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Estatus</label>
                            @*<select class="form-control form-control-sm" style="width: 200px;" id="estatusModal">
                                <option value="value">Selecciona una opción</option>
                            </select>*@
                            <input type="text" class="form-control form-control-sm" name="" id="statusComentario" disabled="disabled" />
                        </div>
                        <div class="col-md-6">
                            <label>Sub Estatus</label>
                            <select class="form-control form-control-sm" style="width: 200px;" name="substatusId" id="subestatusModal">
                                <option value="0">Selecciona una opción</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label>Comentario</label>
                            <textarea class="form-control" rows="6" id="comentario" name="Comment"></textarea>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label>Evidencia</label>
                            <input type="file" class="form-control" name="FileArchivo" id="FileArchivo" accept=".jpg,.png" required="required"/>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary" style="width:100%;">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*Modal de comentarios*@

@*Checkpoints*@
<div class="modal fade" id="checkpointModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CHECKPOINTS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="table" class="table table-striped table-bordered display table-hover table-monitoreo" width="100%">
                            <thead>
                                <tr>
                                    <th>CHECKPOINT</th>
                                    <th>HORA ORIGINAL</th>
                                    <th>HORA ESPERADA</th>
                                    <th>HORA REAL</th>
                                    <th>USUARIO</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="table-checkpoint-info">
                                <tr>
                                    <td colspan="8">Cargando....</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Checkpoints*@

@*´Detalle de viaje*@
<div class="modal fade" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloDetalle">CHECKPOINTS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row pt-2">
                    <div class="col-md-6">
                        <b>Transportista</b>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control col-form-label-sm" disabled="disabled" id="transportistaDetalle" />
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-6">
                        <b>Conductor</b>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control col-form-label-sm" disabled="disabled" id="conductorDetalle" />
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-6">
                        <b>Dirección Origen'</b>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control col-form-label-sm" disabled="disabled" id="origenDetalle" />
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-6">
                        <b>Dirección Destino</b>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control col-form-label-sm" disabled="disabled" id="destinoDetalle" />
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-6">
                        <b>Teléfono</b>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control col-form-label-sm" disabled="disabled" id="telefonoDetalle" />
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-6">
                        <b>Tipo de Unidad</b>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control col-form-label-sm" disabled="disabled" id="tipoDetalle" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@*Detalle de viaje*@

@section Scripts {
    <script src="@Url.Content("~/js/sheetjs/fileSaver.min.js")"></script>
    <script src="@Url.Content("~/js/sheetjs/xlsx.full.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.unobtrusive-ajax.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>

    <script>
        var dataMonitoreo = [];
        var catSubstatus = [];

        $(document).ready(function () {
            getMonitoring();
            getClients();
            getStatus();
            getSubStatus();

            //frmComentario
            $("#frmComentario").submit(function (event) {
                event.preventDefault();
                if ($("#subestatusModal").val() != 0) {
                    var jsonData = convertJson($("#frmComentario"));
                    var formData = new FormData(document.getElementById("frmComentario"));
                    formData.append('file', $('#FileArchivo')[0].files[0]);
                    $.ajax({
                        url: "/Monitoring/setCommentario",
                        type: "POST",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            dToast("success", "Registro actualizado exitosamente.", "Actualizado");
                            location.reload();
                            console.log(data);
                        },
                        error: function (data) {
                            dToast("error", "Ocurrio un error al intentar guardar el archivo.", "Error");
                        }
                    });
                } else {
                    dToast("error", "Todos los campos son necesarios.", "Atención");
                }
            });
        });

        function getMonitoring() {
            $.get("Monitoring/getMonitoring", function (res) {
                $("#table-info").empty();
                fConteo(res);
                dataMonitoreo = res;
                console.log(res);
                $.each(res, function (item, key) {

                    var fechasalida = moment(key.fechasalida).format('YYYY-MM-DD hh:mm:ss');
                    var coloDemorado = "black";
                    if (parseInt(key.subestatusId) == 9) {
                        coloDemorado = "red";
                    }

                    $("#table-info").append(`
                        <tr>
                            <td class="rows" id="${key.idviaje}" style="cursor: pointer;">
                                ID VIAJE: ${key.folio}<br />
                                CLIENTE: ${key.cliente}
                            </td>
                            <td>
                                ORIGEN: ${key.origen}<br />
                                DESTINO: ${key.destino}
                            </td>
                            <td>
                                FECHA DE SALIDA : ${fechasalida} <br />
                                FECHA DE LLEGADA : ${moment(fechasalida).add(key.tiemporuta, 'days').format('YYYY-MM-DD hh:mm:ss')}
                            </td>
                            <td>
                                SIGUIENTE CONTACTO EN ${key.frecuenciaValidacion} HRS<br />
                                ETA:${key.tiemporuta} HRS
                            </td>
                            <td>
                                <button class="btn btn-success btn-sm">
                                    ${key.estatus}
                                </button>
                                <br />
                                <label style="color:${coloDemorado};font-size:12px;">${key.substatus}<label>
                            </td>
                            <td>
                                <a href="#" onclick="agregarComentario(${key.idviaje})">
                                    <span class="material-icons">
                                        control_point
                                    </span>
                                </a>
                                <a href="#" onclick="verCheckpoint(${key.idviaje},${key.idruta},'${fechasalida}');">
                                    <span class="material-icons">
                                        assistant_photo
                                    </span>
                                </a>
                            </td>
                        </tr>
                    `);
                });
            }).fail(function (error) {
                console.log("Error al tratar de obtener los registros");
                dToast("error", "No se encontro cliente.", "Atención");
            });
        }

        function agregarComentario(id) {
            let indice = dataMonitoreo.findIndex(service => service.idviaje == id);
            if (indice >= 0) {
                console.log("Comentario");
                console.log(dataMonitoreo[indice]);
                console.log("Comentario");
                $("#statusComentario").val(dataMonitoreo[indice].estatus);
                $.each(catSubstatus, function (item, key) {
                    if (key.statusId == dataMonitoreo[indice].estatusId) {
                        $("#subestatusModal").append(`<option value="${key.id}">${key.name}</option>`);
                    }
                });
                $("#Id").val(id);
                $("#StatusId").val(dataMonitoreo[indice].estatusId);
                $("#comentarioModal").modal("show");
            } else {
                console.log("Error al tratar de obtener un comentario");
            }
        }

        function verCheckpoint(idviaje, idruta, fechasalida) {
            console.log(fechasalida);
            var catCheckpoints = [];
            var catSecChecpoints = [];
            var horaOriginal = 0;
            var horaOriginal1 = 0;
            var fechaSalidaView = ``;

            //Dos variables para la validacion de fechas de hora esperada
            var horaEsperadaView = ``; //La hora esperada que se mostrara en la tabla
            var horaEsperadaView1 = ``; //La hora esperada que se mostrara en la tabla
            var banderaHoraEsperada = 0;
            //Inicio checpoints
            $.get("/Monitoring/getCheckpoints/" + idruta, function (res) {
                catCheckpoints = res;
                //Obtener los checkpoints de las secciones
                $.get("/Monitoring/getSCheckpoints/" + idviaje, function (resCheck) {
                    catSecChecpoints = resCheck;
                    $("#table-checkpoint-info").empty();//Vaciar la tabla de registros de checkpoints
                    var trInfo = `<tr>`;
                    var i = 0;
                    var colorCheck = "green";
                    //Recorrer catalogo catSecChecpoints
                    $.each(catCheckpoints, function (item, key) {
                        i++;
                        horaOriginal = horaOriginal + key.tiempo;
                        horaOriginal1 = horaOriginal1 + key.tiempo;
                        
                        fechaSalidaView = moment(fechasalida).add(horaOriginal, 'hours').format('YYYY-MM-DD hh:mm:ss'); //Siempre va
                        var hReal, createdBy, btnActive, hEsperada = ``;
                        let indice = catSecChecpoints.findIndex(service => service.idCheckpoint == key.id);

                        if (indice >= 0) {
                            banderaHoraEsperada = 1;
                            //Aqui ya tenemos una hora real
                            hReal = `<td>${moment(catSecChecpoints[indice].horaReal).format('YYYY-MM-DD hh:mm:ss')}</td>`;
                            createdBy = `<td>${catSecChecpoints[indice].createdBy}</td>`;
                            btnActive = `<td><button class="btn btn-sm" disabled="disabled"><span class="material-icons">save</span></button></td>`;
                            horaOriginal1 = 0;
                            horaEsperadaView = catSecChecpoints[indice].horaReal;
                        } else {
                            hReal = `<td><input type="datetime-local" class="form-control form-control-sm" id="horaReal-${idviaje}"></td>`;
                            createdBy = `<td></td>`;
                            btnActive = `<td>
                                            <button class="btn btn-sm" onclick="saveCheckpoint(${idviaje},${key.id},${idruta},'${fechasalida}');">
                                                <span class="material-icons">save</span>
                                            </button>
                                        </td>`;
                        }

                        if (parseInt(i) <= 1) {
                            hEsperada = `<td>${moment(fechasalida).add(horaOriginal, 'hours').format('YYYY-MM-DD hh:mm:ss')}</td>`;
                        } else {
                            if (banderaHoraEsperada == 0) {
                                hEsperada = `<td>${moment(fechasalida).add(horaOriginal1, 'hours').format('YYYY-MM-DD hh:mm:ss')}</td>`;
                            } else {
                                if (horaOriginal1 == 0) {
                                    let horadif = moment(horaEsperadaView1).diff(fechaSalidaView, 'minutes');
                                    horadif = horadif * 1;

                                    //if (horadif >= 1) {
                                    //    colorCheck = "red";
                                    //}

                                    let fecha = moment(fechaSalidaView).add(horadif, 'minutes').format('YYYY-MM-DD hh:mm:ss');
                                    let horaEsp = moment(fecha).add(key.tiempo, 'hours').format('YYYY-MM-DD hh:mm:ss');
                                    console.log(moment(fechaSalidaView).isAfter(horaEsp));
                                    //if (moment(fechaSalidaView).diff(horaEsp) > 1) {
                                    //    colorCheck = "red";
                                    //}
                                    if (moment(horaEsp).isAfter(fechaSalidaView)) {
                                        colorCheck = "red";
                                    }
                                    hEsperada = `<td>${horaEsp}</td>`;
                                } else {
                                    let horadif = moment(horaEsperadaView).diff(fechaSalidaView, 'minutes');
                                    horadif = horadif * 1;

                                    //if (horadif >= 1) {
                                    //    colorCheck = "red";
                                    //}

                                    let fecha = moment(fechaSalidaView).add(horadif, 'minutes').format('YYYY-MM-DD hh:mm:ss')
                                    let horaEsp = moment(fecha).add(horaOriginal1, 'hours').format('YYYY-MM-DD hh:mm:ss');

                                    //if (moment(fechaSalidaView).diff(horaEsp) > 1) {
                                    //    colorCheck = "red";
                                    //}
                                    if (moment(horaEsp).isAfter(fechaSalidaView)) {
                                        colorCheck = "red";
                                    }

                                    hEsperada = `<td>${horaEsp}</td>`;
                                }
                            }
                        }

                        trInfo += `<td> <div style="height:10px;width:10px;background:${colorCheck};-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px;display: inline-block;"></div> ${key.checkpoint}</td>`;
                        trInfo += `<td>${fechaSalidaView}</td>`;
                        trInfo += hEsperada+hReal + createdBy + btnActive + `</tr>`;

                        //Fin pintar tabla
                        if (indice >= 0) {
                            horaEsperadaView1 = catSecChecpoints[indice].horaReal;
                        }

                    });
                    $("#table-checkpoint-info").append(trInfo);
                    //Fin recorrer catalogo catSecChecpoints
                });
                //Obtener los checkpoints de las secciones
            });
            //Fin checkpoints
            $("#checkpointModal").modal("show");
        }

        function saveCheckpoint(idviaje,idcheckpoint,idruta,fechasalida) {
            var horaReal = $("#horaReal-" + idviaje).val();
            var jsonData = { "idSection": idviaje, "idCheckpoint": idcheckpoint, "HoraReal": horaReal };
            console.log(jsonData);
            $.post("/Monitoring/setSCheckpoints", jsonData, function (res) {
                console.log(res);
                verCheckpoint(idviaje, idruta, fechasalida);
            });
        }

        $("#table").delegate("td.rows", "click", function () { //Cerrar
            var id = $(this).attr('id');
            let indice = dataMonitoreo.findIndex(service => service.idviaje == id);
            console.log(dataMonitoreo[indice]);
            $("#tituloDetalle").empty().append('VIAJE: ' + dataMonitoreo[indice].folio);
            $("#transportistaDetalle").val("").val(dataMonitoreo[indice].folio);
            $("#conductorDetalle").val("").val(dataMonitoreo[indice].cliente);
            $("#origenDetalle").val("").val(dataMonitoreo[indice].origen);
            $("#destinoDetalle").val("").val(dataMonitoreo[indice].destino);
            $("#telefonoDetalle").val("").val('--');
            $("#tipoDetalle").val("").val("--");
            $("#detalleModal").modal('show');
        });



        function fConteo(infoMonitoreo) {

        }

        function getClients() {
            $.get("/Monitoring/getClient", function (res) {
                $.each(res, function (item, key) {
                    $("#sCliente").append(`<option value="${key.id}">${key.nombreComercial}</option>`);
                });
            });
        }

        function getStatus() {
            $.get("/Monitoring/getStatus", function (res) {
                $.each(res, function (item, key) {
                    $("#sEstatus").append(`<option value="${key.id}">${key.name}</option>`);
                    $("#estatusModal").append(`<option value="${key.id}">${key.name}</option>`);
                });
            });
        }

        function getSubStatus() {
            $.get("/Monitoring/getSubStatus", function (res) {
                catSubstatus = res;
                $.each(res, function (item, key) {
                    $("#sSubEstatus").append(`<option value="${key.id}">${key.name}</option>`);
                    //$("#subestatusModal").append(`<option value="${key.id}">${key.name}</option>`);
                });
            });
        }

        function descargarExcel() {
            var _fileName = "REPORTE.xlsx";
            var _sheetName = "REPORTE";
            var wb = XLSX.utils.book_new();
            wb.Props = {
                Title: "REPORTE ",
                Subject: "Excel",
                Author: "KLS",
                CreatedDate: new Date(2021, 08, 11)
            };
            wb.SheetNames.push(_sheetName);
            var ws_data = dataMonitoreo;
            var ws = XLSX.utils.json_to_sheet(ws_data);
            wb.Sheets[_sheetName] = ws;
            var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });
            saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), _fileName);
        }

        function s2ab(s) {
            var buf = new ArrayBuffer(s.length); //convert s to arrayBuffer
            var view = new Uint8Array(buf);  //create uint8array as viewer
            for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF; //convert to octet
            return buf;
        }
        function remTr(id) {
            $('#re' + id).fadeOut(200, function () { $(this).remove(); });
        }
    </script>
} 