@{
    ViewData["Title"] = "kLS | Monitoreo";
}

<div class="p-2">
    <div class="d-flex flex-nowrap">
        <div class="p-2">
            <div class="text-left d-flex p-2">
                <a href="#">
                    <div class="material-icons icon-red">arrow_back</div>
                </a>
                <div class="text-uppercase poppins medium size-24 pl-2">qweewrw</div>
            </div>
        </div>
    </div>

    <div class="p-4 shadow bg-white" style="overflow-x: auto; overflow-y: hidden;">
        <table id="table" class="table table-striped table-bordered display table-hover table-viajes" width="100%">
            <thead>
                <tr>
                    <th></th>
                </tr>
                    @*<tr>
                        <th>Nombre</th>
                        <th>Teléfonos</th>
                        <th>Dept.</th>
                        <th>Contactos</th>
                        <th>Correo</th>
                        <th>Estatus</th>
                        <th>Almacen</th>
                        <th>Notas</th>
                        <th>Acciones</th>
                    </tr>*@
            </thead>
            <tbody id="table-info">
                <tr>
                    <td>ñlkñl</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        var DataAirlines = [];
        $(document).ready(function () {

        });

    </script>
} 