@{
    ViewData["Title"] = "Listado demandas";
}

<style>
    .form-check-label {
        font-size: 12px !important;
    }

    .select2-selection__rendered {
        float: left;
        font-size: 12px;
        text-transform: uppercase;
    }

    select {
        text-transform: uppercase;
    }

    .select2-results__options {
        font-size: small;
    }
</style>

<div class="data-content">
    <div class="p-4">
        <div class="text-left mb-3 d-flex justify-content-between">
            <div class="poppins medium size-24 pl-2">DEMANDAS DISPONIBLES</div>
            <button type="button" class="btn btn-primary" onclick="$('#modalbusqueda').modal('show')">BUSCAR</button>
        </div>

        <div class="p-4 shadow bg-white">
            <table id="table" class="table table-striped table-bordered display table-hover table-demand text-uppercase"
                   width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>CLIENTE</th>
                        <th>TIPO DE UNIDAD</th>
                        <th>ORIGEN</th>
                        <th>DESTINO</th>
                        <th>FECHA SALIDA</th>
                        <th>ARRIBO</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody id="table-info"></tbody>
            </table>
        </div>

    </div>
</div>

<!--MODAL EDITAR DEMANDA-->
<div class="modal fade" id="modalAddEdit" tabindex="-1" aria-labelledby="modalAddEditlabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddEditlabel">EDITAR DEMANDA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addEditDemand" onsubmit="">
                    <input type="number" name="id" value="0" disabled hidden />
                    <div class="row">
                        <div class="col-8">
                            <label for="editcliente" class="form-label size-12 font-weight-bold float-left">CLIENTE</label>
                            <select class="form-control form-control-sm cliente" style="width: 100%;" id="addeditcliente" name="clientid" onchange="getClientParams(this.value)">
                                <option value="0" selected disabled>SELECCIONA</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="editreferencia" class="form-label size-12 font-weight-bold float-left">REFERENCIA</label>
                            <input type="text" class="form-control form-control-sm" id="editreferencia" name="folio" disabled />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-5">
                            <label for="edittipounidad" class="form-label size-12 font-weight-bold float-left">TIPO DE UNIDAD</label>
                            <select class="form-control form-control-sm tipounidad" style="width: 100%;" id="addedittipounidad" name="unitid">
                                <option value="0" selected disabled>SELECCIONA</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="editfechasalida" class="form-label size-12 font-weight-bold float-left">FECHA DE SALIDA</label>
                            <input type="datetime-local" class="form-control form-control-sm" id="editfechasalida" name="fechadisponibilidad" />
                        </div>
                        <div class="col-3">
                            <label for="editarribo"
                                   class="form-label size-12 font-weight-bold float-left">ARRIBO</label>
                            <input type="datetime" class="form-control form-control-sm" id="editarribo" name="arribo" />
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-6">
                            <div class="d-flex justify-content-between">
                                <label class="col-form-label col-form-label-sm">ORIGEN</label>
                                <a class="btn btn-link text-primary" onclick="">AGREGAR</a>
                            </div>
                            <div>
                                <select class="form-control form-control-sm text-uppercase" style="width: 100%;" id="editorigen" name="origenid" onchange="GetAddress(this.value, 'origen')">
                                    <option value="0" selected disabled>SELECCIONA</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6 mt-3">
                            <label for="editremitente" class="form-label size-12 font-weight-bold float-left">DIRECCIÓN REMITENTE</label>
                            <input type="text" class="form-control form-control-sm" id="editremitente" name="direccionremitente" disabled />
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-6">
                            <div class="d-flex justify-content-between">
                                <label class="col-form-label col-form-label-sm">DESTINO</label>
                                <a class="btn btn-link text-primary" onclick="">AGREGAR</a>
                            </div>
                            <div>
                                <select class="form-control form-control-sm text-uppercase" id="editdestino" name="destinoid" style="width: 100%;" onchange="GetAddress(this.value, 'destino')">
                                    <option value="0" selected disabled>SELECCIONA</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6 mt-3">
                            <label for="editdestinatario" class="form-label size-12 font-weight-bold float-left">DIRECCIÓN DESTINATARIO</label>
                            <input type="text" class="form-control form-control-sm" id="editdestinatario" name="direcciondestinatario" disabled />
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12 mt-3">
                            <label for="editruta" class="form-label size-12 font-weight-bold float-left">RUTA</label>
                            <select class="form-control form-control-sm" style="width: 100%;" id="rutaid" name="rutaid">
                                <option value="0" selected disabled>SELECCIONA</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4 float-left w-25" id="editar">GUARDAR</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--MODAL BUSCAR DEMANDA-->
<div class="modal fade" id="modalbusqueda" tabindex="-1" aria-labelledby="modalbusquedalabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalbusquedalabel">BUSCAR DEMANDA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="busqueda" onsubmit="event.preventDefault(), searchdemand(this)">
                    <div class="row">
                        <div class="col-4">
                            <label for="cliente" class="form-label size-12 font-weight-bold float-left">CLIENTE</label>
                            <select class="form-control form-control-sm cliente" id="cliente" name="clientid" style="width: 100%;">
                                <option value="0">SELECCIONA</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="tipounidad" class="form-label size-12 font-weight-bold float-left">TIPO UNIDAD</label>
                            <select class="form-control form-control-sm tipounidad" id="tipounidad" name="unitid" onchange="" style="width: 100%;">
                                <option value="0">SELECCIONA</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="fechasalida" class="form-label size-12 font-weight-bold float-left">FECHA SALIDA</label>
                            <input type="datetime-local" class="form-control" id="fechasalida" name="fechasalida">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <label for="rango" class="form-label size-12 font-weight-bold float-left">RANGO (HORAS)</label>
                            <input type="number" class="form-control form-control-sm" id="rango" name="rango" />
                        </div>
                        <div class="col-4">
                            <label for="estadoorigen" class="form-label size-12 font-weight-bold float-left">ESTADO ORIGEN</label>
                            <select class="form-control form-control-sm estado" id="estadoorigen" name="estadoorigenid" onchange="getCities('ciudadorigen', this.value)" style="width: 100%;">
                                <option value="0">SELECCIONA</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="ciudadorigen" class="form-label size-12 font-weight-bold float-left">CIUDAD ORIGEN</label>
                            <select class="form-control form-control-sm ciudad" id="ciudadorigen" name="ciudadorigenid" style="width: 100%;">
                                <option value="0">SELECCIONA</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <label for="estadodestino" class="form-label size-12 font-weight-bold float-left">ESTADO DESTINO</label>
                            <select class="form-control form-control-sm estado" id="estadodestino" name="estadodestinoid" onchange="getCities('ciudaddestino', this.value)" style="width: 100%;">
                                <option value="0">SELECCIONA</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="ciudaddestino" class="form-label size-12 font-weight-bold float-left">CIUDAD DESTINO</label>
                            <select class="form-control form-control-sm ciudad" id="ciudaddestino" name="ciudaddestinoid" style="width: 100%;">
                                <option value="0">SELECCIONA</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="tamanioempresa" class="form-label size-12 font-weight-bold float-left">TAMAÑO EMPRESA</label>
                            <select class="form-control form-control-sm" id="tamanioempresa" name="tamañoempresa">
                                <option value="0" selected>SELECCIONA</option>
                                <option value="Pequeño">Pequeño</option>
                                <option value="Mediano">Mediano</option>
                                <option value="Grande">Grande</option>
                                <option value="Logística">Logística</option>
                                <option value="Hombre Camión">Hombre Camión</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3 float-left" id="search">BUSCAR</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(() => {
            $('[type=date]').map((k, e) => $(e).prop('min', new Date().toISOString().split('T')[0]));
            $('[type=datetime-local]').map((k, e) => $(e).prop('min', new Date().toISOString().substring(0, 16)));
            initSelects();
            DT();
            $('#modaleditardemanda').on('shown.bs.modal', event => {
            });
            $('#modalbusqueda').on('shown.bs.modal', event => {
                $('#fechasalida').prop('min', '');
            });
            $('#modaldemanda').on('shown.bs.modal', event => {
            });
        });

        const GetAddress = (id, type) => {
            type === 'origen' ? (
                $.get(`/Clients/Origins/GetOrigin/${id}`, response => {
                    if (!response) {
                        return;
                    }

                    const { direccion } = response;
                    console.log('dassdasda', direccion);
                    direccion && $('[name=direccionremitente]').val(direccion);
                })
            ) : (
                $.get(`/Clients/Destinations/GetDestination/${id}`, response => {
                    if (!response) {
                        return;
                    }
                    const { direccion } = response;
                    $('[name=direcciondestinatario]').val(direccion);
                })
            );
        }

        const getClientParams = ClientId => {
            $.get("/Clients/Origins/getOrigen/", { "Id_Cliente": ClientId }, response => {
                console.log('origin', response);
                $(`#editorigen`).empty();
                $(`#editorigen`).append(`<option value="0" disabled selected>SELECCIONA</option>`);
                response.length ? (response.map(({ id, estatus, nombre }) => {
                    estatus === 1 && $(`#editorigen`).append(`<option value="${id}">${nombre}</option>`);
                })) : (dToast("warning", "El cliente seleccionado no tiene orígenes.", "Atencion!"));

                dSelect(`editorigen`);
            }).fail(error => {
                console.error(error);
                dToast("error", "Error al obtener los origenes del cliente", "Atencion!");
            });

            $.get("/Clients/Destinations/getDestino/", { "Id_Cliente": ClientId }, response => {
                $(`#editdestino`).empty();
                $(`#editdestino`).append(`<option value="0" disabled selected>SELECCIONA</option>`);
                response.length ? (response.map(({ id, estatus, nombre }) => {
                    estatus === 1 && $(`#editdestino`).append(`<option value="${id}">${nombre}</option>`);
                })) : (dToast("warning", "El cliente seleccionado no tiene destinos.", "Atencion!"));

                dSelect(`editdestino`);
            }).fail(error => {
                console.error(error);
                dToast("error", "Error al obtener los destinos del cliente", "Atencion!");
            });
        }

        const getCities = (selector, idestado) => {
            $(`#${selector}`).empty();
            $.get("/Catalogs/Geography/City/getCity", response => {
                $(`#${selector}`).empty();
                $(`#${selector}`).append('<option value="0">SELECCIONA</option>');
                response.map(({ id, id_estado, estatus, nombre }) => {
                    if (id_estado == idestado && estatus === 1) {
                        $(`#${selector}`).append(`<option value="${id}">${nombre}</option>`);
                    }
                });
            }).fail(error => {
                console.error(error);
                dToast("error", "Error al obtener las ciudades", "Atencion!");
            });
            dSelect(selector);
        }

        const initSelects = () => {
            $.get("/Clients/getClients", response => {
                response.map(({ id, nombreCorto, estatus }) => estatus === 1 ? $('.cliente').append(`<option value="${id}">${nombreCorto}</option>`) : null);
                dSelect('cliente');
                dSelect('addeditcliente');
            }).fail(error => {
                console.error(error);
                dToast("error", "Error al obtener clientes", "Atencion!");
            });;

            $.get("/Catalogs/TypesOfUnits/getUnidades", response => {
                response.map(({ id, nombre, estatus }) => estatus === 1 && $(".tipounidad").append(`<option value="${id}">${nombre}</option>`));
                dSelect('tipounidad');
                dSelect('addedittipounidad');
            }).fail(error => {
                console.error(error);
                dToast("error", "Error al obtener los tipos de unidad", "Atencion!");
            });

            $.get("/Catalogs/Geography/State/getState", response => {
                response.map(({ id, nombre, estatus }) => estatus === 1 && $(".estado").append(`<option value="${id}">${nombre}</option>`));
                dSelect('addestadoo');
                dSelect('addestadod');
                dSelect('estadoorigen');
                dSelect('estadodestino');
            }).fail(error => {
                console.error(error);
                dToast("error", "Error al obtener los estados", "Atencion!");
            });

            $.get("/Route/GetRoutes", res => {
                res.map(({ id, fromTo }) => $('#rutaid').append(`<option value="${id}">${fromTo}</option>`));
                dSelect('rutaid');
            }).fail(error => {
                console.error(error);
                dToast("error", "Error al obtener las rutas", "Atencion!");
            });
        };

        const editDemand = e => {
            const button = $('#editar');

            if (!validateForm('#editDemand')) {
                dToast("error", "Todos los campos son obligatorios", "¡Atencion!");
                return;
            }

            $(button).prop('disabled', true);

            const data = $(e).serialize();

            setTimeout(() => $(button).prop('disabled', false), 1000);
        }

        const addDemand = e => {
            const button = $('#agregar');

            if (!validateForm('#addDemand')) {
                dToast("error", "Todos los campos son obligatorios", "¡Atencion!");
                return;
            }

            $(button).prop('disabled', true);

            const data = $(e).serialize();

            $.post('/Demand/SetDemand', data, response => {
                $(button).prop('disabled', false);
                $('#modaldemanda').modal('hide');
                dToast("success", "Registro guardado exitosamente.", "Registrado");
            });
        }

        const validateForm = (form) => {
            let isSet = true;
            $(`${form} select, ${form} input`).map((k, { value }) => {
                if (!value || value == 0) {
                    isSet = value === 0 && false;
                    return;
                }
            });

            return isSet;
        };

        const searchdemand = e => {
            const data = Object.fromEntries(new FormData(e));
            DT(true, data);
        }

        const addEdit = Id => {
            $('#modalAddEdit').modal('show');
            let title = '';
            Id > 0 ? (
                $.get('/Demand/GetDemand/', { Id: Id }, response => {
                    console.log('das', response);
                    response && Object.entries(response).map(([k, v]) => {
                        v = k.includes('fecha') ? new Date(v).toISOString().substring(0, 16) : v;
                        $(`[name=${k.toLowerCase()}]`).val(v);
                    });
                    $('#addEditDemand select').map((k, e) => $(e).trigger('change'));
                }), title = 'EDITAR DEMANDA'
            ) : (
                title = 'AGREGAR DEMANDA', $('#addEditDemand')[0].reset()
            );
            $('#modalAddEditlabel').text(title);
        }

        const DT = (customsearch = false, search) => {
            Table = $('#table').DataTable({
                destroy: true,
                responsive: true,
                autoWidth: true,
                processing: true,
                serverSide: true,
                ajax: {
                    type: 'POST',
                    url: '/Demand/DT',
                    data: data => {
                        data.customsearch = customsearch,
                            data.searchmodel = search
                    }
                },
                columns: [
                    { data: 'folio' },
                    { data: 'cliente' },
                    { data: 'tipoUnidad' },
                    { data: 'origen' },
                    { data: 'destino' },
                    { data: 'fechaDisponibilidad' },
                    {
                        data: 'arribo',
                        render: (arribo, type, full, meta) => arribo === "" && "-"
                    },
                    {
                        data: 'id',
                        render: (Id, type, full, meta) => `
                                                                <a href="javascript:void(0);" onclick="addEdit(${Id});">
                                                                    <span class="material-icons">
                                                                        edit
                                                                    </span>
                                                                </a>
                                                                <a href="javascript:void(0);" onclick="create(${Id});">
                                                                    <span class="material-icons">
                                                                        local_shipping
                                                                    </span>
                                                                </a>
                                                                <a href="javascript:void(0);" onclick="select(${Id});">
                                                                    <span class="material-icons">
                                                                        search
                                                                    </span>
                                                                </a>`
                    }
                ],
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                columnDefs: [
                    { className: 'text-center', targets: [6, 7] }
                ],
                initComplete: () => {
                    $('#modalbusqueda').modal('hide');
                    $('#table_length').html(`<a href="javascript:void(0);" class="btn btn-sm btn-outline-secondary float-right" onclick="addEdit(0);"><span class="material-icons">add</span></a>`).show();
                }
            });
        }
    </script>
}