
@{
    ViewData["Title"] = "Clientes|Conversiones";
}

@{ int id = ViewBag.id; }

<div class="data-content p-4 text-left">
    <div class="p-2">
        <div class="d-flex flex-nowrap">
            <div class="p-2">
                <div class="text-left d-flex p-2">
                    <a href="/Clients/formClients/@id">
                        <div class="material-icons icon-red">arrow_back</div>
                    </a>
                    <div class="text-uppercase poppins medium size-24 pl-2">CONVERSIONES</div>
                </div>
            </div>

            <div class="ml-auto p-2">
                <button class="btn btn-sm btn-secondary" onclick="showModal('AGREGAR','Agregar');">
                    <span class="material-icons">
                        add
                    </span>
                </button>
            </div>
        </div>

        <div class="p-4 shadow bg-white">
            <table id="table" class="table table-striped table-bordered display table-hover table-viajes" width="100%">
                <thead>
                    <tr>
                        <th>ID KLS</th>
                        <th>ID CLIENTE</th>
                        <th>ORIGEN</th>
                        <th>DESTINO</th>
                        <th>TIEMPO DE RUTA</th>
                        <th>MONITOREABLE</th>
                        <th>ESTATUS</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody id="table-info">
                    @*<tr>
                        <td colspan="8">Cargando...</td>
                    </tr>*@
                </tbody>
            </table>
        </div>

    </div>
</div>

<!--Modal global-->
<div class="modal fade" id="modalDiv" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <form id="frmRegister" action="#" method="post">
                    <input type="hidden" name="id" id="idEditar" value="0" />
                    <div class="row">
                        <div class="col-md-3">
                            <label class="">Estado origen</label>
                            <select class="form-control form-control-md" id="estadoOrigen" style="width:100%;font-size:6px;" onchange="loadCiudad('estadoOrigen', 'ciudadOrigen');">
                                <option value="0">Selecciona una opción</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="">Ciudad origen</label>
                            <select class="form-control form-control-md" id="ciudadOrigen" style="width:100%;font-size:6px;" onchange="rutasActivas()">
                                <option value="0">Selecciona una opción</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="">Estado destino</label>
                            <select class="form-control form-control-md" id="estadoDestino" style="width:100%;font-size:6px;" onchange="loadCiudad('estadoDestino', 'ciudadDestino');">
                                <option value="0">Selecciona una opción</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="">Ciudad destino</label>
                            <select class="form-control form-control-md" id="ciudadDestino" style="width:100%;font-size:6px;" onchange="rutasActivas();">
                                <option value="0">Selecciona una opción</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="">Ruta</label>
                                <select id="Id_Ruta" class="form-control" name="Id_Ruta" style="width:100%;">
                                    <option value="0">Selecciona una opción</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="">ID Cliente</label>
                            <input type="number"class="form-control" name="Id_Cliente_Kls" id="Id_Cliente_Kls" required>
                        </div>
                        
                        <div class="col-md-4">
                            <label class="">Monitoreable</label><br />
                            <input type="checkbox" value="true" name="Monitoreable" id="Monitoreable"/>
                        </div>

                        <div class="col-md-4">
                            <label class="">Estatus</label>
                            <select class="form-control form-control-sm" name="estatus" id="estatus">
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-dark guardar" style="width:20%;" id="btnAccion">
                        Guardar
                    </button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal global-->

@section Scripts{
    <script>
        var catEstado = []; //Catalogo de todos los estados agregados
        var dataConversiones = []; //Catalogo de todos las conversiones registradas

        $(window).ready(function () {
            init();
            $("#frmRegister").submit(function (event) {
                event.preventDefault();
                var jsonData = convertJson($("#frmRegister"));
                jsonData["Id_Cliente"] = @id;
                var idruta = $("#Id_Ruta").val();
                if (parseInt(idruta) != 0 && idruta!=null) {
                    if (parseInt($("#idEditar").val()) != 0) {
                        $.post("/Clients/ActiveRoutes/putRoutes", jsonData, function (res) {
                            dToast("success", "Registro actualizado exitosamente.", "Actualizado");
                            $(".guardar").attr("disabled", false);
                            obtenerConversiones();
                        }).fail(function (error) {
                            dToast("error", "Error al tratar de guardar el registro", "Error");
                            $(".guardar").attr("disabled", false);
                        });
                    } else {
                        $.post("/Clients/ActiveRoutes/setRoutes", jsonData, function (res) {
                            dToast("success", "Se guardó el registro", "Registrado");
                            $(".guardar").attr("disabled", false);
                            $('#frmRegister').trigger("reset");
                            $('#estadoOrigen').val(0).trigger('change');
                            $('#estadoDestino').val(0).trigger('change');
                            $('#ciudadOrigen').val(0).trigger('change');
                            $('#ciudadDestino').val(0).trigger('change');
                            obtenerConversiones();
                        }).fail(function (error) {
                            dToast("error", "Error al tratar de guardar el registro", "Error");
                            $(".guardar").attr("disabled", false);
                        });
                    }
                } else {
                    dToast("error", "Selecciona una opción", "Error");
                }
            });
        });

        function init() {
            catEstados(); //Funcion de obtener todos los estados
            catCiudades() // Funcion para obtener el catalogo de ciudades
            obtenerConversiones(); //Funcion de obtener conversiones por cliente (Muestra la tabla)
            /*Inicializacion de select2*/
            dSelect('estadoOrigen');
            dSelect('estadoDestino');
            dSelect('ciudadOrigen');
            dSelect('ciudadDestino');
            dSelect('Id_Ruta');
        }

        function catEstados() { //Obtiene el catalog de estados, se inicializa al cargar la pagina
            $.get("/Catalogs/Geography/State/getState", function (res) {
                catEstado = res;
                $.each(res, function (item, key) {
                    $("#estadoOrigen").append(`<option value="${key.id}">${key.nombre}</option>`);
                    $("#estadoDestino").append(`<option value="${key.id}">${key.nombre}</option>`);
                });
            }).fail(function (error) {
                dToast("error", "Error al obtener paises", "Atencion!");
            });
            dSelect('estadoOrigen');
            dSelect('estadoDestino');
        }

        function catCiudades() { //Obtiene el catalogo de ciudades, se inicializa al cargar la pagina
            $.get("/Catalogs/Geography/City/getCity", function (res) {
                catCiudad = res;
            }).fail(function (error) {
                dToast("error", "Error al obtener paises", "Atencion!");
            });
        }

        function loadCiudad(estado, ciudad) { //Carga en el select las ciudades dependiendo del estado origen o del estado destino
            var idEstado = $("#" + estado).val();
            $("#" + ciudad).empty();
            $("#" + ciudad).append(`<option value="0">Selecciona una opción</option>`);
            $.each(catCiudad, function (item, key) {
                if (parseInt(key.id_estado) == parseInt(idEstado)) {
                    $("#" + ciudad).append(`<option value="${key.id}">${key.nombre}</option>`);
                }
            });
            rutasActivas(); //Funcion de obtener rutas en el select
        }

        function rutasActivas(id=0) { //Obtiene las rutas de la tabla rutas para cargar en el combo de selección
            var estadoOrigen = $('#estadoOrigen').val();
            var estadoDestino = $('#estadoDestino').val();
            var ciudadOrigen = $('#ciudadOrigen').val();
            var ciudadDestino = $('#ciudadDestino').val();
            var jsonData = { "id_estadoorigen": estadoOrigen, "id_ciudadorigen": ciudadOrigen, "id_estadodestino": estadoDestino, "id_ciudaddestino": ciudadDestino };
            $.get("/Clients/ActiveRoutes/getRoutes", jsonData, function (res) {
                $("#Id_Ruta").empty();
                $("#Id_Ruta").append(`<option value="0">Selecciona una opcion</option>`);
                $.each(res, function (item, key) {
                    $("#Id_Ruta").append(`<option value="${key.id}">Estado origen: ${key.estadoOrigen}--Ciudad Origen:${key.ciudadOrigen} Estado destino: ${key.estadoDestino}--Ciudad destino:${key.ciudadDestino}</option>`);
                });
                if (id != 0) {
                    $('#Id_Ruta').val(id).trigger('change');
                    $("#Id_Ruta").change();
                }
            });
        }

        function obtenerConversiones() { // Carga las conversiones activas por cliente
            var stable = $('.table-viajes').DataTable();
            stable.destroy();  
            $.get("/Clients/ActiveRoutes/getRoute", { "Id_Cliente":@id}, function (data) {
                dataConversiones = data;
                $("#table-info").empty();
                $.each(data, function (item, key) {
                    var check = "";
                    //key.monitoreable == true ? check = "checked" : check = "";
                    if (key.monitoreable == true) {
                        check = "checked";
                    }

                    const IdGenerado = `${String(key.idorigen).padStart(4, '0')}${String(key.iddestino).padStart(4, '0')}`;
                    $("#table-info").append(`
                    <tr>
                        <td>${IdGenerado}</td>
                        <td>${key.idcliente}</td>
                        <td>${key.idorigen}-${key.origen}</td>
                        <td>${key.iddestino}-${key.destino}</td>
                        <td>${key.tiemporuta} Hr</td>
                        <td>
                            <input type="checkbox" ${check} style="pointer-events:none;">
                        </td>
                        <td>`+ statusTable(key.status) + `</td>
                        <td>
                            <a href="javascript:void(0);">
                                <span class="material-icons" onclick="showModal('EDITAR','Editar',${nCon(key.id)});">
                                    mode_edit
                                </span>
                            </a>
                            <a href="/Clients/Checkpoints/${@id}/${nCon(key.id)}">
                                <span class="material-icons">
                                    flag
                                </span>
                            </a>
                        </td>
                    </tr>`);
                });
                dTable("table-viajes");
            }).fail(function (error) {
                dToast("error", "Error al tratar de obtener los registros, intenta cerrar sesión y volver a iniciar.", "Error");
            });
        }

        function showModal(titulo = "Title", accion, idEditar = 0) {
            $('#frmRegister').trigger("reset");
            $(".guardar").html(accion);
            $("#titulo-modal").empty("");
            $("#titulo-modal").html(titulo);
            $("#idEditar").val(idEditar);
            $('#estadoOrigen').val(0).trigger('change');
            $('#estadoDestino').val(0).trigger('change');
            $('#ciudadOrigen').val(0).trigger('change');
            $('#ciudadDestino').val(0).trigger('change');

            if (accion == "Editar") {
                try {
                    let indice = dataConversiones.findIndex(service => service.id == idEditar);
                    $("#Id_Cliente_Kls").val(dataConversiones[indice].idcliente);
                    $('#estadoOrigen').val(parseInt(dataConversiones[indice].idorigen)).trigger('change');
                    $('#estadoDestino').val(parseInt(dataConversiones[indice].iddestino)).trigger('change');
                    $('#ciudadOrigen').val(parseInt(dataConversiones[indice].idcorigen)).trigger('change');
                    $('#ciudadDestino').val(parseInt(dataConversiones[indice].idcdestino)).trigger('change');
                    $('#Estatus').val(parseInt(dataConversiones[indice].status)).trigger('change');
                    rutasActivas(dataConversiones[indice].idruta);
                    $('#Monitoreable').prop('checked', dataConversiones[indice].monitoreable);
                    $("#modalDiv").modal("show");
                } catch (error) {
                    dToast("error", "Error al tratar de editar, intenta recargar la página." + error, "Error");
                    $("#modalDiv").modal("hide");
                }
            } else {
                $("#modalDiv").modal("show");
            }
        }

    </script>
}