
@{
    ViewData["Title"] = "Clientes|Conversiones";
}

@{ int id = ViewBag.id; }

<div class="data-content p-4 text-left">
    <div class="p-2">
        <div class="d-flex flex-nowrap">
            <div class="p-2">
                <div class="text-left d-flex p-2">
                    <a href="/Clients/formClients/@id">
                        <div class="material-icons icon-red">arrow_back</div>
                    </a>
                    <div class="text-uppercase poppins medium size-24 pl-2">CONVERSIONES</div>
                </div>
            </div>

            <div class="ml-auto p-2">
                <button class="btn btn-sm btn-secondary" onclick="showModal('AGREGAR','Agregar');">
                    <span class="material-icons">
                        add
                    </span>
                </button>
            </div>
        </div>

        <div class="p-4 shadow bg-white">
            <table id="table" class="table table-striped table-bordered display table-hover table-viajes" width="100%">
                <thead>
                    <tr>
                        <th>ID KLS</th>
                        <th>ID CLIENTE</th>
                        <th>ORIGEN</th>
                        <th>DESTINO</th>
                        <th>TIEMPO DE RUTA</th>
                        <th>MONITOREABLE</th>
                        <th>ESTATUS</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody id="table-info"></tbody>
            </table>
        </div>

    </div>
</div>

<!--Modal global-->
<div class="modal fade" id="modalDiv" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <form id="frmRegister" action="#" method="post">
                    <input type="hidden" name="id" id="idEditar" value="0" />
                    <div class="row">
                        @*<div class="col-md-12">
                            <label class="">Ruta origen</label>
                            <select class="form-control" id="Id_Ruta_Origen" name="Id_Ruta_Origen" style="width:100%;" onchange="selectRuta();">
                                <option value="0">Selecciona una option</option>
                            </select>
                        </div>*@
                        <div class="col-md-6">
                            <label class="">Ruta origen</label>
                            <select class="form-control form-control-md" id="Estado" style="width:100%;font-size:6px;" onchange="selectCiudad();">
                                <option value="0">Selecciona una opción</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="">Ruta origen</label>
                            <select class="form-control form-control-md" id="Ciudad" style="width:100%;font-size:6px;" onchange="selectRuta();">
                                <option value="0">Selecciona una opción</option>
                            </select>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="">Ruta</label>
                                <select id="Id_Ruta" class="form-control" name="Id_Ruta" style="width:100%;">
                                    <option value="0">Selecciona una opción</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="">ID Cliente</label>
                            <input type="number"class="form-control" name="Id_Cliente_Kls" id="Id_Cliente_Kls" required>
                        </div>
                        
                        <div class="col-md-4">
                            <label class="">Monitoreable</label><br />
                            <input type="checkbox" value="true" name="Monitoreable" id="Monitoreable"/>
                        </div>

                        <div class="col-md-4">
                            <label class="">Estatus</label>
                            <select class="form-control form-control-sm" name="estatus" id="estatus">
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                            </select>
                        </div>
                    </div>

                    <br />
                    <button type="submit" class="btn btn-dark guardar" style="width:20%;" id="btnAccion">
                        Guardar
                    </button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cerrar</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<!--Modal global-->


@section Scripts{
    <script>
        var catCiudad = [];
        var catEstado = [];
        var catRutas = [];
        var dataRutas = [];

        $(window).ready(function () {
            loadCity();
            $("#Estado").select2();
            $("#Ciudad").select2();
            $("#Id_Ruta").select2();

            $("#frmRegister").submit(function (event) {
                event.preventDefault();
                var jsonData = convertJson($("#frmRegister"));
                jsonData["Id_Cliente"] = @id;
                var idruta = $("#Id_Ruta").val();
                if (parseInt(idruta) != 0 && idruta!=null) {
                    if (parseInt($("#idEditar").val()) != 0) {
                        $.post("/Clients/ActiveRoutes/putRoutes", jsonData, function (res) {
                            loadTable();
                            dToast("success", "Registro actualizado exitosamente.", "Registrado");
                            $(".guardar").attr("disabled", false);
                        }).fail(function (error) {
                            dToast("error", "Error al tratar de guardar el registro", "Error");
                            $(".guardar").attr("disabled", false);
                        });
                    } else {
                        $.post("/Clients/ActiveRoutes/setRoutes", jsonData, function (res) {
                            loadTable();
                            dToast("success", "Se guardó el registro", "Registrado");
                            $(".guardar").attr("disabled", false);
                            $('#frmRegister').trigger("reset");
                            $("#Estado").change();
                            $("#Ciudad").change();
                            $("#Id_Ruta").change();
                        }).fail(function (error) {
                            dToast("error", "Error al tratar de guardar el registro", "Error");
                            $(".guardar").attr("disabled", false);
                        });
                    }
                } else {
                    dToast("error", "Selecciona una opción", "Error");
                }
            });
        });

        function getRutas() {
            $.get("/Carriers/Routes/getRoutes", function (res) {
                catRutas = res;
                $("#Id_Ruta_Origen").empty();
                $("#Id_Ruta_Origen").append(`<option value="0">Selecciona una opcion</option>`);
                $.each(res, function (item, key) {
                    console.log(key);
                    if (parseInt(key.estatus) == 1) {
                        let indice_co = catCiudad.findIndex(service => service.id === key.id_ciudadorigen);
                        let indice_cd = catCiudad.findIndex(service => service.id === key.id_ciudaddestino);
                        let indice_eo = catEstado.findIndex(service => service.id === key.id_estadoorigen);
                        let indice_ed = catEstado.findIndex(service => service.id === key.id_estadodestino);
                        $("#Id_Ruta_Origen").append(`<option value="${key.id}">Estado origen: ${catEstado[indice_eo].nombre}--Ciudad Origen:${catCiudad[indice_co].nombre}</option>`);
                    }
                });
                $("#Id_Ruta_Origen").select2();
                //getRuta();
                loadTable();
            });
        }
        //function getRutas() {
        //    $.get("/Carriers/Routes/getRoutes", function (res) {
        //        catRutas = res;
        //        $("#Id_Ruta").empty();
        //        $.each(res, function (item, key) {
        //            let indice_co = catCiudad.findIndex(service => service.id === key.id_ciudadorigen);
        //            let indice_cd = catCiudad.findIndex(service => service.id === key.id_ciudaddestino);
        //            let indice_eo = catEstado.findIndex(service => service.id === key.id_estadoorigen);
        //            let indice_ed = catEstado.findIndex(service => service.id === key.id_estadodestino);

        //            $("#Id_Ruta").append(`<option value="${key.id}">Estado origen: ${catEstado[indice_eo].nombre}--Ciudad Origen:${catCiudad[indice_co].nombre}-- Estado De:${catEstado[indice_ed].nombre}--Ciudad De:${catCiudad[indice_cd].nombre}</option>`);
        //        });
        //        $("#Id_Ruta").select2();
        //        loadTable();
        //    });
        //}

        //function selectRuta() {
        //    $("#Id_Ruta").empty();
        //    $("#Id_Ruta").append(`<option value="0">Selecciona una opcion</option>`);
        //    var idRut = $("#Id_Ruta_Origen").val();
        //    $.each(catRutas, function (item, key) {
        //        if (parseInt(key.estatus) == 1) {
        //            let indice = catRutas.findIndex(service => service.id == idRut);
        //            if (indice >= 0) {
        //                if (catRutas[indice].id_estadoorigen == key.id_estadoorigen) {
        //                    let indice_cd = catCiudad.findIndex(service => service.id === key.id_ciudaddestino);
        //                    let indice_ed = catEstado.findIndex(service => service.id === key.id_estadodestino);
        //                    $("#Id_Ruta").append(`<option value="${key.id}">Estado destino:${catEstado[indice_ed].nombre}--Ciudad destino:${catCiudad[indice_cd].nombre}</option>`);
        //                }
        //            }
        //        }
        //    });
        //    $("#Id_Ruta").select2();
        //}

        function selectRuta() {
            $("#Id_Ruta").empty();
            $("#Id_Ruta").append(`<option value="0">Selecciona una opción</option>`);
            //var idRut = $("#Id_Ruta_Origen").val();

            var idEstado = parseInt($("#Estado").val());
            var idCiudad = parseInt($("#Ciudad").val());

            $.each(catRutas, function (item, key) {
                if (parseInt(key.estatus) == 1) {
                    //let indice = catRutas.findIndex(service => service.id == idRut);
                    //if (indice >= 0) {
                    if (idEstado == key.id_estadoorigen && idCiudad == key.id_ciudadorigen) {
                        let indice_cd = catCiudad.findIndex(service => service.id === key.id_ciudaddestino);
                        let indice_ed = catEstado.findIndex(service => service.id === key.id_estadodestino);
                        $("#Id_Ruta").append(`<option value="${key.id}">Estado destino: ${catEstado[indice_ed].nombre}--Ciudad destino:${catCiudad[indice_cd].nombre}</option>`);
                    }
                    //}
                }
            });
            $("#Id_Ruta").select2();
        }

        function selectCiudad() {
            var idEstado = $("#Estado").val();
            $("#Ciudad").empty();
            $("#Ciudad").append(`<option value="0">Selecciona una opción</option>`);
            $.each(catCiudad, function (item, key) {
                if (parseInt(key.id_estado) == parseInt(idEstado)) {
                    $("#Ciudad").append(`<option value="${key.id}">${key.nombre}</option>`);
                }
            });
            $("#Ciudad").select2();
        }

        function showModal(titulo = "Title", accion, idEditar = 0) {
            $('#frmRegister').trigger("reset");
            $(".guardar").html(accion);
            $("#titulo-modal").empty("");
            $("#titulo-modal").html(titulo);
            $("#idEditar").val(idEditar);
            if (accion == "Editar") {
                try {
                    let indice = dataRutas.findIndex(service => service.id === idEditar);
                    let idrutaSel = catRutas.findIndex(service => service.id === dataRutas[indice].id_Ruta);
                    console.log(catRutas[idrutaSel])
                    $('#Estado option[value="' + catRutas[idrutaSel].id_estadoorigen + '"]').attr("selected", true);
                    $("#Estado").change();

                    $('#Ciudad option[value="' + catRutas[idrutaSel].id_ciudadorigen + '"]').attr("selected", true);
                    $("#Ciudad").change();

                    $("#Id_Cliente_Kls").val(dataRutas[indice].id_Cliente_Kls);
                    $('#Monitoreable').prop('checked', dataRutas[indice].monitoreable);
                    $('#Id_Ruta option[value="' + dataRutas[indice].id_Ruta + '"]').attr("selected", true);
                    $("#Id_Ruta").change();
                    $('#Estatus option[value="' + dataRutas[indice].estatus + '"]').attr("selected", true);

                    $("#modalDiv").modal("show");
                } catch (error) {
                    dToast("error", "Error al tratar de editar, intenta recargar la página.", "Error");
                    $("#modalDiv").modal("hide");
                }
            } else {
                $("#modalDiv").modal("show");
            }
        }
        //Catalogos
        function loadCity() {
            $.get("/Catalogs/Geography/City/getCity", function (res) {
                catCiudad = res;
                loadState();
            }).fail(function (error) {
                dToast("error", "Error al obtener paises", "Atencion!");
            });
        }

        //Cargar estados
        function loadState() {
            $.get("/Catalogs/Geography/State/getState", function (res) {
                catEstado = res;
                $.each(res, function (item, key) {
                    $("#Estado").append(`<option value="${key.id}">${key.nombre}</option>`);
                });
                $("#Estado").select2();
                getRutas();
            }).fail(function (error) {
                dToast("error", "Error al obtener paises", "Atencion!");
            });
        }

        function loadTable() {
            var stable = $('.table-viajes').DataTable();
            stable.destroy();
            $("#table-info").empty();
            $.get("/Clients/ActiveRoutes/getRutas", function (res) {
                dataRutas = res;
                $.each(res, function (item, key) {
                    let rutaI = catRutas.findIndex(service => parseInt(service.id) === parseInt(key.id_Ruta));
                    if (rutaI >= 0) {
                        const IdGenerado = `${String(catRutas[rutaI].id_ciudadorigen).padStart(4, '0')}${String(catRutas[rutaI].id_ciudaddestino).padStart(4, '0')}`;
                    let indice_eo = catEstado.findIndex(service => service.id === catRutas[rutaI].id_estadoorigen);
                    let indice_ed = catEstado.findIndex(service => service.id === catRutas[rutaI].id_estadodestino);

                    var check = "";
                    if (key.monitoreable == true) {
                        check = "checked";
                    }

                    $("#table-info").append(`
                             <tr>
                                <td>${IdGenerado}</td>
                                <td>${key.id_Cliente_Kls}</td>
                                <td>${catEstado[indice_eo].id_sepomex}-${catEstado[indice_eo].nombre}</td>
                                <td>${catEstado[indice_ed].id_sepomex}-${catEstado[indice_ed].nombre}</td>
                                <td>${catRutas[rutaI].tiemporuta} Hr</td>
                                <td>
                                    <input type="checkbox" ${check} style="pointer-events:none;">
                                </td>
                                <td>`+ statusTable(key.estatus) + `</td>
                                <td>
                                    <a href="#">
                                        <span class="material-icons" onclick="showModal('EDITAR','Editar',${nCon(key.id)});">
                                            mode_edit
                                        </span>
                                    </a>
                                    <a href="/Clients/Checkpoints/${@id}/${nCon(key.id)}">
                                        <span class="material-icons">
                                            flag
                                        </span>
                                    </a>
                                </td>
                            </tr>`);
                    }
                });
                dTable("table-viajes");
            }).fail(function (error) {
                dToast("error", "Error al tratar de obtener los registros, intenta cerrar sesión y volver a iniciar.", "Error");
            });
        }


    </script>
}