@{
    ViewData["Title"] = "Estados";
}

<div class="p-4">
    <div class="text-left d-flex mb-3">
        <a href="/Catalogs/Geografia">
            <div class="material-icons icon-red">arrow_back</div>
        </a>
        <div class="text-uppercase poppins medium size-24 pl-2">ESTADOS</div>
        <div style="padding-left:10%;">
            <button class="btn btn-sm btn-dark" onclick="showModal('AGREGAR','Agregar');">
                <span class="material-icons">
                    add
                </span>
            </button>
        </div>
    </div>

    <div class="p-4 shadow bg-white">
        <table id="table" class="table table-striped table-bordered display table-hover table-viajes" width="100%">
            <thead>
                <tr>
                    <th>Pais</th>
                    <th>ID SEPOMEX</th>
                    <th>Estado</th>
                    <th>Estatus</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="table-info"></tbody>
        </table>

    </div>
</div>

<!--Modal global-->
<div class="modal fade" id="modalDiv" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <form id="frmRegister" action="#" method="post">
                    <input type="hidden" name="id" id="idEditar" value="0" />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="">Pais</label><br />
                                <select class="form-control" name="id_pais" id="id_pais" style="width:100%;">
                                    <option value="0">Selecciona</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="">ID SEPOMEX</label>
                            <input type="text" class="form-control" name="id_sepomex" id="id_sepomex" required />
                        </div>
                        <div class="col-md-3">
                            <label class="">Estado</label>
                            <input type="text" class="form-control" name="nombre" id="nombre" value="" required />
                        </div>
                        <div class="col-md-3">
                            <label class="">Estatus</label>
                            <select class="form-control form-control-sm" name="estatus" id="estatus">
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark guardar" style="width:20%;" id="btnAccion">
                        Guardar
                    </button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cerrar</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<!--Modal global-->

@section Scripts {
    <script>
        var dataState = [];
        var catPais = [];

        $(document).ready(function () {
            loadCountry();
            loadTable();
            $("#frmRegister").submit(function (event) {
                event.preventDefault();
                var jsonData = convertJson($("#frmRegister"));
                if (parseInt($("#idEditar").val()) != 0) {
                    $.post("State/putState", jsonData, function (res) {
                        console.log(res);
                        loadTable();
                        dToast("success", "Registro actualizado exitosamente.", "Registrado");
                        $(".guardar").attr("disabled", false);
                    }).fail(function (error) {
                        dToast("error", "Error al tratar de guardar el registro", "Error");
                        $(".guardar").attr("disabled", false);
                    });
                } else {
                    $.post("State/setState", jsonData, function (res) {
                        loadTable();
                        dToast("success", "Se guardo el registro", "Registrado");
                        $(".guardar").attr("disabled", false);
                        $('#frmRegister').trigger("reset");
                    }).fail(function (error) {
                        dToast("error", "Error al tratar de guardar el registro", "Error");
                        $(".guardar").attr("disabled", false);
                    });
                }
            });
        });

        function showModal(titulo = "Title", accion, idEditar = 0) {
            $('#frmRegister').trigger("reset");
            $(".guardar").html(accion);
            $("#titulo-modal").empty("");
            $("#titulo-modal").html(titulo);

            if (accion == "Editar") {
                try {
                    let indice = dataState.findIndex(service => service.id === idEditar);
                    $("#idEditar").val(idEditar);
                    $("#nombre").val(dataState[indice].nombre);
                    $("#id_sepomex").val(dataState[indice].id_sepomex);
                    $('#estatus option[value="' + dataState[indice].estatus + '"]').attr("selected", true);
                    $('#id_pais option[value="' + dataState[indice].id_pais + '"]').attr("selected", true);
                    $("#modalDiv").modal("show");

                } catch (error) {
                    dToast("error", "Error al tratar de editar, intenta recargar la página.", "Error");
                    $("#modalDiv").modal("hide");
                }
            } else {
                $("#modalDiv").modal("show");
            }
        }

        //Cargar paises
        function loadCountry() {
            $.get("Country/getCountry", function (res) {
                catPais = res;
                $("#id_pais").empty();
                $.each(res, function (item, key) {
                    $("#id_pais").append(`<option value="${key.id}">${key.pais}</option>`);
                });
                $("#id_pais").select2();
            }).fail(function (error) {
                dToast("error","Error al obtener paises","Atencion!");
            });
        }

        function loadTable() {
            var stable = $('.table-viajes').DataTable();
            stable.destroy();
            $("#table-info").empty();
            $.get("State/getState", function (res) {
                dataState = res;
                $.each(res, function (item, key) {
                    let indice = catPais.findIndex(service => service.id === key.id_pais);
                    $("#table-info").append(`
                             <tr>
                                <td>${catPais[indice].pais}</td>
                                <td>${nCon(key.id_sepomex)}</td>
                                <td>${nCon(key.nombre)}</td>
                                <td>`+ statusTable(key.estatus) + `</td>
                                <td>
                                    <a href="#">
                                        <span class="material-icons" onclick="showModal('EDITAR','Editar',${nCon(key.id)});">
                                            mode_edit
                                        </span>
                                    </a>
                                </td>
                            </tr>`);
                });
                dTable("table-viajes");
            }).fail(function (error) {
                dToast("error", "Error al tratar de obtener los registros, intenta cerrar sesión y volver a iniciar.", "Error");
            });
        }
    </script>
} 