@{
    ViewData["Title"] = "Transportista|Certificaciones";
}
@{ int id = ViewBag.id; }
<div class="data-content p-4 text-left">
    <div class="p-4">
        <div class="text-left d-flex mb-3">
            <a href="/Clients/formClients/@id">
                <div class="material-icons icon-red">arrow_back</div>
            </a>
            <div class="text-uppercase poppins medium size-24 pl-2"> REQUISITOS @id</div>
        </div>
        
    </div>
</div>
@section Scripts{
    <script>

    </script>
}
