@{
    ViewData["Title"] = "Regions";
}

<div class="p-4">
    <div class="d-flex flex-nowrap">
        <div class="p-2">
            <div class="text-left d-flex p-2">
                <a href="/Catalogs/Geografia">
                    <div class="material-icons icon-red">arrow_back</div>
                </a>
                <div class="text-uppercase poppins medium size-24 pl-2">REGIONES</div>
            </div>
        </div>

        <div class="ml-auto p-2">
            <button class="btn btn-sm btn-secondary" onclick="showModal('AGREGAR','Agregar');">
                <span class="material-icons">
                    add
                </span>
            </button>
        </div>
    </div>

    <div class="p-4 shadow bg-white">
        <table id="table" class="table table-striped table-bordered display table-hover table-viajes" width="100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Estados</th>
                    <th>Estatus</th>
                    <th>Acciones</th>  
                </tr>
            </thead>
            <tbody id="table-info"></tbody>
        </table>

    </div>
</div>

<!--Modal global-->
<div class="modal fade" id="modalDiv" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal"></h5>
            </div>
            <div class="modal-body text-left">
                <form id="frmRegister" action="#" method="post">
                    <input type="hidden" name="id" id="idEditar" value="0" />
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="">Nombre</label>
                                <input type="text" class="form-control" name="nombre" id="nombre" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="">Estatus</label>
                            <select class="form-control form-control-sm" name="estatus" id="estatus">
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="">Estado</label>
                                <br />
                                <select class="form-control" id="id_estado" name="id_estado" style="width:100%;">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div id="estadosBtn"></div>
                        </div>
                    </div>
                    <div class="pt-3">
                        <button type="submit" class="btn btn-dark guardar" style="width:25%;" id="btnAccion">
                            Guardar
                        </button>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" >Cerrar</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<!--Modal global-->

@section Scripts {
    <script>

        var btnGroup = [];
        var dataRegions = [];
        var catEstado = [];

        $(document).ready(function () {
            loadState();
            $("#frmRegister").submit(function (event) {
                event.preventDefault();
                var jsonData = convertJson($("#frmRegister"));
                jsonData["Region_Has_Estados"]= btnGroup;

                if (parseInt($("#idEditar").val()) != 0) {
                    $.post("Regions/putRegion", jsonData, function (res) {
                        loadTable();
                        dToast("success", "Registro actualizado exitosamente.", "Registrado");
                        $(".guardar").attr("disabled", false);
                    }).fail(function (error) {
                        dToast("error", "Error al tratar de guardar el registro", "Error");
                        $(".guardar").attr("disabled", false);
                    });
                } else {
                    $.post("Regions/setRegion", jsonData, function (res) {
                        loadTable();
                        dToast("success", "Se guardó el registro", "Registrado");
                        $(".guardar").attr("disabled", false);
                        btnGroup.length = 0;
                        $("#estadosBtn").empty();
                        $('#frmRegister').trigger("reset");
                    }).fail(function (error) {
                        dToast("error", "Error al tratar de guardar el registro", "Error");
                        $(".guardar").attr("disabled", false);
                    });
                }
            });
        });

        $('#id_estado').change(function () {
            let valor = $(this).val();
            let texto = $(this).find("option:selected").text();
            if (valor != 0) {
                btnGroup.push({ "id_estado": valor });
                loadBtn();
            }
        });

        function loadBtn() {
            $("#estadosBtn").empty();
            try {
                $.each(btnGroup, function (item, key) {
                    var indice_e = catEstado.findIndex(service => parseInt(service.id) === parseInt(key.id_estado));
                    $("#estadosBtn").append(
                        `
                            <div style="padding-bottom: 1vh;display: inline-block;">
                                <button type="button" class="btn btn-dark btn-sm" id="${key.id_estado}">
                                    ${catEstado[indice_e].nombre}        
                                    <i class="material-icons" onclick="delBtn(${key.id_estado})">
                                        delete_outline
                                    </i>
                                </button>
                            </div>
                            
                        `
                    );
                });
            } catch (error) {
                dToast("error", "Error: " + error, "Atencion!");
            }

            selEstado();

        }

        function delBtn(id) {
            let indice = btnGroup.findIndex(estado => parseInt(estado.id_estado) === parseInt(id));
            if (indice < 0) {
                dToast("error", "No se encontro estado a eliminar!", "Atencion!");
            } else {
                btnGroup.splice(indice,1);
                $("#" + id).remove();
                $("#" + id).hide("slow");
                selEstado();
            }
        }


        function showModal(titulo = "Title", accion, idEditar = 0) {
            $('#frmRegister').trigger("reset");
            $(".guardar").html(accion);
            $("#titulo-modal").empty("");
            $("#titulo-modal").html(titulo);
            $("#idEditar").val(idEditar);
            btnGroup.length = 0;
            if (accion == "Editar") {
                try {
                    let indice = dataRegions.findIndex(service => service.id === idEditar);
                    $.each(dataRegions[indice].region_Has_Estados, function (item, key) {
                        btnGroup.push({ "id_estado": key.id_estado});
                    });
                    loadBtn();
                    $("#nombre").val(dataRegions[indice].nombre);                    
                    $('#estatus option[value="' + dataRegions[indice].estatus + '"]').attr("selected", true);
                    $("#modalDiv").modal("show");
                } catch (error) {
                    dToast("error", "Error al tratar de editar, intenta recargar la página.", "Error");
                    $("#modalDiv").modal("hide");
                }
            } else {
                $("#modalDiv").modal("show");
                loadBtn();
            }
        }

        //Cargar estados
        function loadState() {
            $.get("State/getState", function (res) {
                catEstado = res;
                selEstado();
                //$("#id_estado").select2();
                dSelect('id_estado');
                loadTable();
            }).fail(function (error) {
                dToast("error", "Error al obtener paises", "Atencion!");
            });
        }
        function selEstado(){
            $("#id_estado").empty();
            $("#id_estado").append(`<option value="0">selecciona</option>`);
            try {
                $.each(catEstado, function (item, key) {
                    if (key.estatus != 2) {
                        let indice = btnGroup.findIndex(estado => parseInt(estado.id_estado) === parseInt(key.id));
                        if (indice < 0) {
                            $("#id_estado").append(`<option value="${key.id}">${key.nombre}</option>`);
                        }
                    }

                });
            } catch (error) {
                dToast("error", "Error al listar estados: " + error, "Error");
            }
        }
        function loadTable() {
            var stable = $('.table-viajes').DataTable();
            stable.destroy();
            $("#table-info").empty();
            $.get("Regions/getRegion", function (res) {
                dataRegions = res;
                $.each(res, function (item, key) {
                    let estado = "";
                    $.each(key.region_Has_Estados, function (item_r, key_r) {
                        let indice_e = catEstado.findIndex(service => service.id === key_r.id_estado);
                        estado += catEstado[indice_e].nombre+",";
                    });

                    $("#table-info").append(`
                             <tr>
                                <td>${nCon(key.nombre)}</td>
                                <td>${estado}</td>
                                <td>`+ statusTable(key.estatus) + `</td>
                                <td>
                                    <a href="#">
                                        <span class="material-icons" onclick="showModal('EDITAR','Editar',${nCon(key.id)});">
                                            mode_edit
                                        </span>
                                    </a>
                                </td>
                            </tr>`);
                });
                dTable("table-viajes");
            }).fail(function (error) {
                dToast("error", "Error al tratar de obtener los registros, intenta cerrar sesión y volver a iniciar.", "Error");
            });
        }
    </script>
} 