
@{
    ViewData["Title"] = "Transportista|Inventario";
}
@{ int id = ViewBag.id; }

@section Styles{
    <style>
        .disabledbutton {
            pointer-events: none;
            opacity: 0.4;
        }

        input[type="file"] {
            display: none;
            border: 1px solid #ccc;
            display: inline-block;
            cursor: pointer;
            width:100%;
        }
    </style>
}

<div class="data-content p-2 text-left">
    <div class="p-4">
        <div class="d-flex flex-nowrap">
            <div class="p-2">
                <div class="text-left d-flex p-2">
                    <a href="/Carriers/formCarriers/@id">
                        <div class="material-icons icon-red">arrow_back</div>
                    </a>
                    <div class="text-uppercase poppins medium size-24 pl-2">INVENTARIO</div>
                </div>
            </div>

            <div class="ml-auto p-2">
                <button class="btn btn-sm btn-secondary" onclick="showModal('AGREGAR','Agregar');">
                    <span class="material-icons">
                        add
                    </span>
                </button>
            </div>
        </div>

        <div class="p-4 shadow bg-white">
            <div style="overflow-x: auto; overflow-y: hidden;">
                <table id="table" class="table table-striped table-bordered display table-hover table-viajes">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Año</th>
                            <th># Serie</th>
                            <th># económico</th>
                            <th>Placa</th>
                            <th>Color</th>
                            <th>Tipo de unidad</th>
                            <th>Cap</th>
                            <th>Vol</th>
                            <th>Estatus</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="table-info"></tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!--Modal global-->
<div class="modal fade" id="modalDiv" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <form id="frmRegister" action="#" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" id="idEditar" value="0" />
                    <input type="hidden" name="Ruta" id="Ruta" value="" />
                    <input type="hidden" name="FotoUnidad" id="FotoUnidad" value="" />
                    <input type="hidden" name="FotoPoliza" id="FotoPoliza" value="" />

                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="">Marca</label>
                                <input type="text" class="form-control" name="Marca" id="Marca" required/>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="">Modelo</label>
                            <input type="text" class="form-control" name="Modelo" id="Modelo" required/>
                        </div>

                        <div class="col-md-3">
                            <label class="">Año</label>
                            <input type="text" name="Anio" id="Anio" class="form-control" required/>
                        </div>

                        <div class="col-md-3">
                            <label class=""># serie</label>
                            <input type="text" name="NoSerie" id="NoSerie" class="form-control" required/>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-3">
                            <label class=""># económico</label>
                            <input type="text" class="form-control" name="NoEconomico" id="NoEconomico" required/>
                        </div>
                        <div class="col-md-3">
                            <label class="">Placa</label>
                            <input type="text" class="form-control" name="Placa" id="Placa" required>
                        </div>
                        <div class="col-md-3">
                            <label class="">Color</label>
                            <input type="text" class="form-control" name="Color" id="Color" required>
                        </div>
                        <div class="col-md-3">
                            <label class="">Tipo de Unidad</label>
                            <select class="form-control form-control-sm" name="TipoUnidad" id="TipoUnidad"></select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="">Capacidad</label>
                            <input type="text" class="form-control" name="Capacidad" id="Capacidad" required>
                        </div>

                        <div class="col-md-3">
                            <label class="">Volumen</label>
                            <input type="text" class="form-control" name="Volumen" id="Volumen" required>
                        </div>
                        <div class="col-md-3">
                            <label class="">Estatus</label>
                            <select class="form-control form-control-sm" name="Estatus" id="Estatus">
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <h5>Archivos</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="">Foto de la unidad</label>
                            <input type="file" class="form-control" name="file" id="FotoU" accept=".jpg,.jpeg,.png">

                            <a href="#" download id="hFotoU" style="text-decoration: none !important;">
                                <div class="text-left d-flex pt-2" style="color: #207EEC;">
                                    <div class="material-icons icon-red" style="font-size: 20px; color: #207EEC;">download</div>
                                    <b class="poppins medium size-12 pl-2">Descargar archivo</b>
                                </div>
                            </a>

                        </div>

                        <div class="col-md-6">
                            <label class="">Póliza de seguro</label>
                            <input type="file" class="form-control" name="FotoP" id="FotoP" accept=".jpg,.jpeg,.png">

                            <a href="#" download id="hFotoP" style="text-decoration: none !important;">
                                <div class="text-left d-flex pt-2" style="color: #207EEC;">
                                    <div class="material-icons icon-red" style="font-size: 20px; color: #207EEC;">download</div>
                                    <b class="poppins medium size-12 pl-2">Descargar archivo</b>
                                </div>
                            </a>

                        </div>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-dark guardar" style="width:20%;" id="btnAccion">
                        Guardar
                    </button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cerrar</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<!--Modal global-->
@section Scripts{
    <script>
        var dataInventory = [];
        var catUnidad = [];

        $(window).ready(function () {
            loadTipo();
            //loadTable();
            $("#frmRegister").submit(function (event) {
                event.preventDefault();
                var jsonData = convertJson($("#frmRegister"));
                jsonData["IdTransportista"] = @id;
                var formData = new FormData(document.getElementById("frmRegister"));
                formData.append('file', $('#FotoU')[0].files[0]);
                formData.append('file1', $('#FotoP')[0].files[0]);
                formData.append('IdTransportista', @id);

                if (parseInt($("#idEditar").val()) != 0) {
                    $.ajax({
                        url: "/Carriers/Inventory/putInventory",
                        type: "POST",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            loadTable();
                            dToast("success", "Registro actualizado exitosamente.", "Actualizado");
                            $(".guardar").attr("disabled", false);
                        },
                        error: function (data) {
                            dToast("error", "Ocurrio un error al intentar guardar el archivo.", "Error");
                        }
                    });
                } else {
                    $.ajax({
                        url: "/Carriers/Inventory/setInventory",
                        type: "POST",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            loadTable();
                            $('#frmRegister').trigger("reset");
                            dToast("success", "Registro guardado exitosamente.", "registrado");
                            $(".guardar").attr("disabled", false);
                        },
                        error: function (data) {
                            dToast("error", "Ocurrio un error al intentar actualizar el archivo.", "Error");
                        }
                    });
                }
            });
        });

        function showModal(titulo = "Title", accion, idEditar = 0) {
            $("#FotoU").val(null);
            $("#FotoP").val(null);
            $('#frmRegister').trigger("reset");
            $(".guardar").html(accion);
            $("#titulo-modal").empty("");
            $("#titulo-modal").html(titulo);
            $("#idEditar").val(idEditar);

            $("#hFotoU").attr("href", "#")
            $("#hFotoU").hide();

            $("#hFotoP").attr("href", "#")
            $("#hFotoP").hide();


            if (accion == "Editar") {
                try {
                    let indice = dataInventory.findIndex(service => service.id === idEditar);
                    console.log(dataInventory[indice]);
                    $("#Marca").val(dataInventory[indice].marca);
                    $("#Modelo").val(dataInventory[indice].modelo);
                    $("#Anio").val(dataInventory[indice].anio);
                    $("#NoSerie").val(dataInventory[indice].noSerie);
                    $("#NoEconomico").val(dataInventory[indice].noEconomico);
                    $("#Placa").val(dataInventory[indice].placa);
                    $("#Capacidad").val(dataInventory[indice].capacidad);
                    $("#Volumen").val(dataInventory[indice].volumen);
                    $("#Color").val(dataInventory[indice].color);

                    $("#Ruta").val(dataInventory[indice].ruta);
                    $("#FotoUnidad").val(dataInventory[indice].fotoUnidad);
                    $("#FotoPoliza").val(dataInventory[indice].fotoPoliza);

                    $('#Estatus option[value="' + dataInventory[indice].estatus + '"]').attr("selected", true);
                    $('#TipoUnidad option[value="' + dataInventory[indice].tipoUnidad + '"]').attr("selected", true);

                    if (dataInventory[indice].fotoUnidad != "" && dataInventory[indice].fotoUnidad != null) {
                        let rutaLicencia = `../../Resources/Inventario/${dataInventory[indice].ruta}/${dataInventory[indice].fotoUnidad}`;
                        $("#hFotoU").show();
                        $("#hFotoU").prop("href", rutaLicencia);
                    }

                    if (dataInventory[indice].fotoPoliza != "" && dataInventory[indice].fotoPoliza != null) {
                        let rutaLicencia = `../../Resources/Inventario/${dataInventory[indice].ruta}/${dataInventory[indice].fotoPoliza}`;
                        $("#hFotoP").show();
                        $("#hFotoP").prop("href", rutaLicencia);
                    }

                    $("#modalDiv").modal("show");
                } catch (error) {
                    dToast("error", "Error al tratar de editar, intenta recargar la página.", "Error");
                    $("#modalDiv").modal("hide");
                }
            } else {
                $("#Ruta").val("");
                $("#FotoUnidad").val("");
                $("#FotoPoliza").val("");
                $("#modalDiv").modal("show");
            }
        }

        function loadTable() {
            var stable = $('.table-viajes').DataTable();
            stable.destroy();
            $("#table-info").empty();
            $.get("/Carriers/Inventory/getInventory/", { "IdTransportista":@id}, function (res) {
                dataInventory = res;
                $.each(dataInventory, function (item, key) {
                    console.log(key);
                    let indice = catUnidad.findIndex(service => service.id === key.tipoUnidad);
                    $("#table-info").append(`
                             <tr>
                                <td>${nCon(key.id)}</td>
                                <td>${nCon(key.marca)}</td>
                                <td>${nCon(key.modelo)}</td>
                                <td>${nCon(key.anio)}</td>
                                <td>${nCon(key.noSerie)}</td>
                                <td>${nCon(key.noEconomico)}</td>
                                <td>${nCon(key.placa)}</td>
                                <td>${nCon(key.color)}</td>
                                <td>${catUnidad[indice].nombre}</td>
                                <td>${nCon(key.capacidad)}</td>
                                <td>${nCon(key.volumen)}</td>
                                <td>`+ statusTable(key.estatus) + `</td>
                                <td class="text-center">
                                    <a href="#">
                                        <span class="material-icons" style="color:#EC694D;" onclick="downloadZip('${key.id}');">
                                            cloud_download
                                        </span>
                                    </a>
                                    <a href="#">
                                        <span class="material-icons" onclick="showModal('EDITAR','Editar',${nCon(key.id)});">
                                            mode_edit
                                        </span>
                                    </a>
                                </td>
                            </tr>`);
                });
                dTable("table-viajes");
            });
        }


        //Subir archivos canvas
        //function updateImageDisplay(id, divCanvas) {
        //    var image = new Image();
        //    //var canvas = document.getElementById('canUnidad');
        //    var canvas = document.getElementById(divCanvas);
        //    var ctx = canvas.getContext('2d');;
        //    var input = document.querySelector('#'+id);
        //    var curFile = input.files;
        //    var source = "";
        //    var curFile = input.files;
        //    for (var i = 0; i < curFile.length; i++) {
        //        if (validFileType(curFile[i])) {
        //            source = curFile[i].name;
        //            image.src = window.URL.createObjectURL(curFile[i]);
        //            image.onload = function () {
        //                canvas.width = image.width;
        //                canvas.height = image.height;
        //                ctx.drawImage(image, 0, 0);
        //                image.style.display = 'none';
        //            }
        //            //listItem.appendChild(image);
        //        }
        //        //list.appendChild(listItem);
        //    }
        //}

        //var fileTypes = ['image/jpeg','image/pjpeg','image/png']
        //function validFileType(file) {
        //    for (var i = 0; i < fileTypes.length; i++) {
        //        if (file.type === fileTypes[i])
        //            return true;
        //    }
        //    return false;
        //}

        function loadTipo() {
            $.get("../../Catalogs/TypesOfUnits/getUnidades", function (res) {
                catUnidad = res;
                $.each(res, function (item, key) {
                    if (parseInt(key.estatus) != 2) {
                        $("#TipoUnidad").append(`<option value="${key.id}">${key.nombre}</option>`)
                    }
                });
                loadTable();
            }).fail(function (error) {
                dToast("error", "Error al tratar de obtener los registros, intenta cerrar sesión y volver a iniciar.", "Error");
            });
        }

        function downloadZip(id) {
            var a = $("<a>")
                .attr("href", "/Carriers/Inventory/DescargarZip/" + id)
                .appendTo("body");
            a[0].click();
            a.remove();
        }

    </script>
}