@{
    ViewData["Title"] = "Ofertas";
}
<div class="data-content p-1 text-left">
    <div class="p-4">

        <div class="d-flex flex-nowrap">
            <div class="p-2">
                <div class="text-left d-flex">
                    <div class="text-uppercase poppins medium size-24">OFERTAS DISPONIBLES</div>
                </div>
            </div>

            <div class="ml-auto p-2 pb-2 pr-4">
                <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#modalBuscar" style="width:90px;">
                    Buscar
                </a>
            </div>
        </div>

        <div class="p-4 shadow bg-white">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item" onclick="verBuscar('txtSearch');">
                    <a class="nav-link active" style="background-color:#EDECEC" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                    <span id="tOfertas">Ofertas (0)</span>
                    </a>
                </li>
                <li class="nav-item" onclick="verBuscar('txtSearchRutas');">
                    <a class="nav-link" style="background-color:#EDECEC" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                        <span id="tRutasServicio">Rutas con servicio (0)</span>
                    </a>
                </li>
                <li class="nav-item pl-lg-5">
                    <select class="form-control form-control-sm" style="width:200px;background-color:#EDECEC" id="selTransportistas" onchange="Ofertas();">
                        <option value="0">Todos</option>
                    </select>
                </li>
                <li class="nav-item pl-lg-5">
                    <input type="text" class="form-control" style="background-color:#EDECEC;" placeholder="Buscar" id="txtSearch"/>
                    <input type="text" class="form-control" style="background-color:#EDECEC;display:none;" placeholder="Buscar" id="txtSearchRutas" />
                </li>
                <li class="nav-item ml-auto">
                    <a class="btn btn-sm btn-secondary float-right" href="#" data-toggle="modal" data-target="#exampleModal">
                        <span class="material-icons">
                            file_upload
                        </span>
                    </a>
                    <a class="btn btn-sm btn-secondary float-right" href="#" onclick="verModal();">
                        <span class="material-icons">
                            add
                        </span>
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <table id="table" class="table table-striped table-bordered display table-hover table-ofertas" width="100%">
                        <thead>
                            <tr>
                                <th>TRANSPORTISTA</th>
                                <th>TIPO DE SERVICIO</th>
                                <th>ORIGEN</th>
                                <th>DESTINO</th>
                                <th>FECHA DISPONIBILIDAD</th>
                                <th>EXPIRA EN</th>
                                <th style="text-align:center;">Estatus</th>
                                <th style="text-align:center;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="table-ofertas-info">
                            <tr>
                                <td colspan="8">Cargando....</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <table id="table-servicios" class="table table-striped table-bordered display table-hover table-servicios" width="100%">
                        <thead>
                            <tr>
                                <th>TRANSPORTISTA</th>
                                <th>ID RUTA</th>
                                <th>ORIGEN</th>
                                <th>DESTINO</th>
                                <th>COSTO</th>
                                <th>Estatus</th>
                            </tr>
                        </thead>
                        <tbody id="table-servicio"></tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Importar excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Selecciona un archivo</label>
                        <input type="file" onchange="importf(this)" class="form-control" accept=".xlsx" id="archivoXlsx" />
                    </div>
                </div>
                <br />
                <div id="div-tabla" style="display:none;">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-md table-hover table-data" id="table-data">
                                <thead id="h-table"></thead>
                                <tbody id="b-table"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary d-flex align-items-center mx-auto" onclick="validarExcel();" id="btnGuardar">Guardar ofertas</button>
                <br />
                <button class="btn btn-outline-info btn-sm d-flex align-items-center mx-auto" onclick="DownloadLayout(this)">
                    <i class="material-icons">download</i>
                    <span>DESCARGAR PLANTILLA DE EJEMPLO</span>
                </button>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="eGuardar();" id="btnGuardar">Guardar ofertas</button>
            </div>*@
        </div>
    </div>
</div>

<div class="modal fade" id="modalBuscar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buscar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <label>Tipo de servicio</label>
                        <select class="form-control form-control-sm" id="tipounidad" name="">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label>Fecha de salida</label>
                        <input type="date"  value="" class="form-control" id="fechadisp"/>
                    </div>
                    <div class="col-3">
                        <label>Hora de salida</label>
                        <input type="time"  value="" class="form-control" id="HoraSalida"/>
                    </div>
                    <div class="col-3">
                        <label>Nivel de servicio</label>
                        <select class="form-control form-control-sm" id="Tamanio" name="Tamanio">
                            <option value="0">Selecciona una opción</option>
                            <option value="1">Pequeño</option>
                            <option value="2">Mediano</option>
                            <option value="3">Grande</option>
                            <option value="4">Logística</option>
                            <option value="5">Hombre Camión</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label>Estado Origen</label>
                        <select class="form-control form-control-sm" style="width:100%;" id="esorigen" onchange="llenadoCiudad('esorigen', 'ciorigen');">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label>Ciudad Origen</label>
                        <select class="form-control form-control-sm" id="ciorigen" style="width:100%;">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label>Estado Destino</label>
                        <select class="form-control form-control-sm" style="width:100%;" id="esdestino" onchange="llenadoCiudad('esdestino', 'cidestino');">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label>Ciudad Destino</label>
                        <select class="form-control form-control-sm" style="width:100%;" id="cidestino">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Ofertas();">Buscar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar ofertas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Transportista</label>
                        <select class="form-control form-control-sm" id="idtransportista" style="width:100%;">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Tipo de unidad</label>
                        <select class="form-control form-control-sm" style="width:100%;" id="idtipounidad">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Cantidad</label>
                        <input type="number" id="txtCantidad" class="form-control"/>
                    </div>
                    <div class="col-md-3">
                        <label>Fecha</label>
                        <input type="datetime-local" class="form-control" id="txtFechaDisponibilidad"/>
                    </div>
                    <div class="col-md-3">
                        <label>Rango de espera</label>
                        <input type="number" class="form-control" id="txtRangoEspera" />
                    </div>
                </div>

                <h5>Origen</h5>
                <div class="row">
                    <div class="col-md-3">
                        <label>Nivel</label>
                        <select class="form-control form-control-sm" style="width:100%;" id="txtNivelOrigen" onchange="llenadoNivel('txtNivelOrigen','seleccionaOrigen');">
                            <option value="0">Selecciona una opción</option>
                            <option value="REGION">Region</option>
                            <option value="ESTADO">Estado</option>
                            <option value="CIUDAD">Ciudad</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Selecciona</label>
                        <select class="form-control form-control-sm" style="width:100%;" id="seleccionaOrigen" onchange="mostrarCiudad('txtNivelOrigen','seleccionaOrigen','ciudadOrigen','txtToleranciaOrigen')">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Ciudad</label>
                        <select class="form-control-sm" id="ciudadOrigen" style="width:100%;" disabled="disabled">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Tolerancia</label>
                        <input type="number" class="form-control" id="txtToleranciaOrigen" disabled="disabled"/>
                    </div>
                </div>
                <h5>Destino</h5>
                <div class="row">
                    <div class="col-md-3">
                        <label>Nivel</label>
                        <select class="form-control form-control-sm" style="width:100%;" id="txtNivelDestino" onchange="llenadoNivel('txtNivelDestino','seleccionaDestino');">
                            <option value="0">Selecciona una opción</option>
                            <option value="REGION">Region</option>
                            <option value="ESTADO">Estado</option>
                            <option value="CIUDAD">Ciudad</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Selecciona</label>
                        <select class="form-control form-control-sm" style="width:100%;" id="seleccionaDestino" onchange="mostrarCiudad('txtNivelDestino','seleccionaDestino','ciudadDestino','txtToleranciaDestino')">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Ciudad</label>
                        <select class="form-control-sm" id="ciudadDestino" style="width:100%;" disabled="disabled">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Tolerancia</label>
                        <input type="number" class="form-control" name="name" id="txtToleranciaDestino" disabled="disabled"/>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-secondary" onclick="agregarOferta();">Agregar oferta</button>
            </div>
        </div>
    </div>
</div>

@*modal para separar*@
<div class="modal fade" id="separarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Separar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Ruta tentativa</label>
                        <input type="text" class="form-control" placeholder="Escribe aqui" id="rutaTentativa" />
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-md-12">
                        <label>Notas de carga</label>
                        <textarea class="form-control" rows="8" placeholder="Escribe aqui" id="notasCargo"></textarea>
                    </div>
                </div>
                <div class="pt-3 pb-3" id="info-update"></div>

                <button type="button" class="btn btn-primary" style="width:160px;" id="confirmarSeparar" onclick="guardarSeparar();">Confirmar</button>
                <button type="button" class="btn btn-primary" style="width:160px;" id="editarSeparar" onclick="modificarSeparar();">Modificar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@Url.Content("~/js/sheetjs/fileSaver.min.js")"></script>
    <script src="@Url.Content("~/js/sheetjs/xlsx.full.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.unobtrusive-ajax.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script>

        function agregarOferta() {//Metodo de agregar la oferta
            jsonEnv = [];
            var regionO = 0;
            var estadoO = 0;
            var ciudadO = 0;

            var regionD = 0;
            var estadoD = 0;
            var ciudadD = 0;

            var idTransportista = $("#idtransportista").val();

            if (parseInt(idTransportista) != 0) {

                var idTipounidad = $("#idtipounidad").val();

                if (parseInt(idTipounidad) != 0) {

                    if ($("#txtRangoEspera").val() != "" && $("#txtRangoEspera").val() !=0 && $("#txtCantidad").val() != "" && $("#txtCantidad").val() != 0 && $("#txtCantidad").val() != null && $("#txtFechaDisponibilidad").val() != "" && $("#txtFechaDisponibilidad").val() != null) {
                        if ($("#txtNivelOrigen").val() != 0) {
                            if ($("#txtNivelDestino").val()!=0) {
                                //Validaciones
                                var origen = cUpper($("#txtNivelOrigen").val());
                                var destino = cUpper($("#txtNivelDestino").val());
                                if (origen == 'REGION') {
                                    regionO = $("#seleccionaOrigen").val();
                                }
                                if (origen == 'ESTADO') {
                                    estadoO = $("#seleccionaOrigen").val();
                                }
                                if (origen == 'CIUDAD') {
                                    estadoO = $("#seleccionaOrigen").val();
                                    ciudadO = $("#ciudadOrigen").val();
                                }
                                if (destino == 'REGION') {
                                    regionD = $("#seleccionaDestino").val();
                                }
                                if (destino == 'ESTADO') {
                                    estadoD = $("#seleccionaDestino").val();
                                }
                                if (destino == 'CIUDAD') {
                                    estadoD = $("#seleccionaDestino").val();
                                    ciudadD = $("#ciudadDestino").val();
                                }
                                var fechaJs = moment($("#txtFechaDisponibilidad").val()).format('YYYY-MM-DD hh:mm:ss') + ".000000";
                                jsonGuardar.push(
                                    {
                                        "id": idEditar,
                                        "Transportista": idTransportista,
                                        "Tipo_De_Unidad": idTipounidad,
                                        "Cantidad": $("#txtCantidad").val(),
                                        "Fecha_Disponibilidad": fechaJs,
                                        "Rango_De_Espera": $("#txtRangoEspera").val(),
                                        "Nivel_Origen": origen,
                                        "Region_Origen": regionO,
                                        "Estado_Origen": estadoO,
                                        "ciudad_Origen": ciudadO,
                                        "Tolerancia_Origen": $("#txtToleranciaOrigen").val(),
                                        "Nivel_Destino": destino,
                                        "Region_Destino": regionD,
                                        "estado_Destino": estadoD,
                                        "ciudad_Destino": ciudadD,
                                        "Tolerancia_Destino": $("#txtToleranciaDestino").val(),
                                        "status": 1
                                    },
                                );
                                eGuardar();
                                //Validaciones
                            } else {
                                dToast("error", "Selecciona un nivel de destino.", "Atención");
                            }
                        } else {
                            dToast("error", "Selecciona un nivel de origen.", "Atención");
                        }
                        
                    } else {
                        dToast("error", "Todos los campos son necesarios.", "Atención");
                    }
                } else {
                    dToast("error", "Selecciona un tipo de unidad.", "Atención");
                }
            } else {
                dToast("error", "Selecciona un transportista.", "Atención");
            }
            
        }
        function verBuscar(ver) {
            $("#txtSearch").hide();
            $("#txtSearchRutas").hide();
            $("#" + ver).show();
        }

        var idEditar = 0;
        function verModal(ide = 0) {
            idEditar = ide;
            if (idEditar != 0) {
                $.get("Offer/obOferta/" + idEditar, function (res) {
                    console.log(res);
                    $('#idtransportista').val(parseInt(res.transportista)).trigger('change');
                    $('#idtipounidad').val(parseInt(res.tipo_De_Unidad)).trigger('change');
                    $('#txtCantidad').val(parseInt(res.cantidad));
                    $('#txtFechaDisponibilidad').val(res.fecha_Disponibilidad);
                    $('#txtRangoEspera').val(res.rango_De_Espera);
                    $('#txtNivelOrigen').val(cUpper(res.nivel_Origen)).trigger('change');

                    if (cUpper(res.nivel_Origen) == "REGION") {
                        $('#seleccionaOrigen').val(parseInt(res.region_Origen)).trigger('change');
                    }
                    if (cUpper(res.nivel_Origen) == "ESTADO") {
                        $('#seleccionaOrigen').val(parseInt(res.estado_Origen)).trigger('change');
                    }
                    if (cUpper(res.nivel_Origen) == "CIUDAD") {
                        $('#seleccionaOrigen').val(parseInt(res.estado_Origen)).trigger('change');
                        $('#ciudadOrigen').val(res.ciudad_Origen).trigger('change');
                    }

                    $('#txtToleranciaOrigen').val(res.tolerancia_Origen);
                    $('#txtNivelDestino').val(cUpper(res.nivel_Destino)).trigger('change');

                    if (cUpper(res.nivel_Destino) == "REGION") {
                        $('#seleccionaDestino').val(parseInt(res.region_Destino)).trigger('change');
                    }
                    if (cUpper(res.nivel_Destino) == "ESTADO") {
                        $('#seleccionaDestino').val(parseInt(res.estado_Destino)).trigger('change');
                    }
                    if (cUpper(res.nivel_Destino) == "CIUDAD") {
                        $('#seleccionaDestino').val(parseInt(res.estado_Destino)).trigger('change');
                        $('#ciudadDestino').val(parseInt(res.ciudad_Destino)).trigger('change');
                    }
                    $('#txtToleranciaDestino').val(res.tolerancia_Destino);
                });
                $("#modalAgregar").modal("show");
            } else {
                limpiarCampos();
                $("#modalAgregar").modal("show");
            }
        }

        //Cargar datos de las rutas
        var dataRutas = [];
        var dataCheckpoint = [];
        var catCiudad = [];
        var catEstado = [];
        var catRegion = [];
        var wb;
        var rABS = false;
        var jsonEnv = [];
        var jsonEnvIncorrectos = [];
        var jsonGuardar = [];
        var catTransportista = [];
        var catUnidades = [];
        var catOfertas = [];
        //Excel
        function importf(obj) {
            jsonEnv = [];
            $("#b-table").empty();
            if (!obj.files) {
                //notifyLoading(false);
                $("#div-tabla").hide();
                $("#bGuardar").attr("disabled", true);
                return;
            }
            
            $("#div-tabla").show()
            $("#bGuardar").attr("disabled", false);

            var f = obj.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                var data = e.target.result;
                if (rABS) {
                    wb = XLSX.read(btoa(fixdata(data)), {
                        type: 'base64'
                    });
                } else {
                    wb = XLSX.read(data, {
                        type: 'binary'
                    });
                }
                //var dataXLSX = JSON.stringify(XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]]));
                dataXLSX = XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]], { raw: false });

                $("#h-table").empty();
                $("#h-table").append(`
                <tr>
                    <th>Transportista</th>
                    <th>Tipo_de_unidad</th>
                    <th>cantidad</th>
                    <th>fecha_disponibilidad</th>
                    <th>Rango_de_espera</th>
                </tr>
            `);

                var table = $('#table-data').DataTable();
                table.destroy();
                $("#b-table").empty();
                $.each(dataXLSX, function (data, item) {

                    //console.log(item);

                    var itemT = Object.keys(item);
                    var fechaJs = moment(item[itemT[3]]).format('YYYY-MM-DD HH:mm:ss') + ".000000";
                    jsonEnv.push(
                        {
                            "Transportista": item[itemT[0]],
                            "Tipo_De_Unidad": item[itemT[1]],
                            "Cantidad": item[itemT[2]],
                            "Fecha_Disponibilidad": fechaJs,
                            "Rango_De_Espera": item[itemT[4]],
                            "Nivel_Origen": item[itemT[5]],
                            "Region_Origen": item[itemT[6]],
                            "Estado_Origen": item[itemT[7]],
                            "ciudad_Origen": item[itemT[8]],
                            "Tolerancia_Origen": item[itemT[9]],
                            "Nivel_Destino": item[itemT[10]],
                            "Region_Destino": item[itemT[11]],
                            "estado_Destino": item[itemT[12]],
                            "ciudad_Destino": item[itemT[13]],
                            "Tolerancia_Destino": item[itemT[14]],
                            "status": item.status
                        },
                    );
                    var fecha = moment(item[itemT[3]]).format('YYYY-DD-MM hh:mm:ss A');
                    $("#b-table").append(`
                    <tr>
                        <td>${item[itemT[0]]}</td>
                        <td>${item[itemT[1]]}</td>
                        <td>${item[itemT[2]]}</td>
                        <td>${fecha}</td>
                        <td>${item[itemT[4]]}</td>
                    </tr>
                    `);
                });

                //dTable("table-data");
                $('#table-data').dataTable({
                    searching: false,
                    info: false,
                    "bLengthChange": false,
                    language: {
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    }
                });

            };
            if (rABS) {
                reader.readAsArrayBuffer(f);
            } else {
                reader.readAsBinaryString(f);
            }
        }
        function fixdata(data) {
            var o = "",
                l = 0,
                w = 10240;
            for (; l < data.byteLength / w; ++l) o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w, l * w + w)));

            o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w)));
            return o;
        }
        function eGuardar() {
            if (Object.keys(jsonGuardar).length > 0) {
                //Comente el codigo de guardar para hacer pruebas con la carga de excel
                if (idEditar == 0) {
                    $.post("/Offer/setRouteMult", { "catCarga": jsonGuardar }, function (res) {
                        Ofertas();
                        limpiarCampos();
                        dToast("success", "Datos guardados con éxito", "Atención");
                        $("#btnGuardar").attr("disabled", false);
                        jsonGuardar.length = 0;
                        jsonGuardar = [];

                        jsonEnvIncorrectos.length = 0;
                        jsonEnvIncorrectos = [];

                        jsonEnv.length = 0;
                        jsonEnv = [];

                    }).fail(function (error) {
                        console.log("error", "Error al insertar" + error);
                        $("#btnGuardar").attr("disabled", false);
                        dToast("error", "Error al insertar", "Error");
                    });
                } else {
                    $.post("Offer/putOferta", jsonGuardar[0] , function (res) {
                        Ofertas();
                        dToast("success", "Datos actualizados con éxito", "Atención");
                    }).fail(function (error) {
                        console.log("error", "Error al actualizar" + error);
                        dToast("error", "Error al insertar", "Error");
                    });
                    //console.log(jsonGuardar[0]);
                }
            } else {
                $("#btnGuardar").attr("disabled", false);
                dToast("error", "No se encontraron registros para insertar.", "Error");
                jsonGuardar.length = 0;
                jsonGuardar = [];

                jsonEnvIncorrectos.length = 0;
                jsonEnvIncorrectos = [];

                jsonEnv.length = 0;
                jsonEnv = [];
            }

            //jsonEnv = [];

            $("#b-table").empty();
            $("#div-tabla").hide('fast');
            $("#archivoXlsx").val("");
        }

        function limpiarCampos() {
            $("#idtransportista").val(0).trigger('change');
            $("#idtipounidad").val(0).trigger('change');
            $("#txtNivelOrigen").val(0).trigger('change');
            $("#txtNivelDestino").val(0).trigger('change');
            $("#seleccionaOrigen").val(0).trigger('change');
            $("#ciudadOrigen").val(0).trigger('change');
            $("#seleccionaDestino").val(0).trigger('change');
            $("#ciudadDestino").val(0).trigger('change');
            $("#txtFechaDisponibilidad").val("");
            $("#txtRangoEspera").val("");
            $("#txtToleranciaOrigen").val("");
            $("#txtToleranciaDestino").val("");
            $("#txtCantidad").val("");
        }

        function validarExcel()
        {
            jsonEnvIncorrectos = [];
            jsonGuardar = [];
            $("#btnGuardar").attr("disabled", true);
            $.each(jsonEnv, function (item, key) {
                var transportista = catTransportista.findIndex(service => cUpper(service.nombreComercial) == cUpper(key.Transportista));
                var unidades = 0;
                var regionOrigen = 0;
                var estadoOrigen = 0;
                var ciudadOrigen = 0;
                var regionDestino = 0;
                var estadoDestino = 0;
                var ciudadDestino = 0;

                var idtran = 0;
                var idunidad = 0;

                var idregionO = 0;
                var idestadoO = 0;
                var idciudadO = 0;

                var idregionD = 0;
                var idestadoD = 0;
                var idciudadD = 0;

                if (transportista >= 0) { //Si se encontró el transportista
                    idtran = catTransportista[transportista].id
                    unidades = catUnidades.findIndex(service => cUpper(service.nombre) == cUpper(key.Tipo_De_Unidad));
                    if (unidades >= 0) {//Se encontraron unidades
                        idunidad = catUnidades[unidades].id;
                        var Nivel_Origen = cUpper(key.Nivel_Origen);
                        if (Nivel_Origen != "REGION" && Nivel_Origen != "ESTADO" && Nivel_Origen != "CIUDAD") {
                            //console.log("Esta region no pertenece  a ningun dato", Nivel_Origen); //<-----------------------------------------------------
                            jsonEnvIncorrectos.push(key);
                            return;
                        } else {
                            if (Nivel_Origen == "REGION") {
                                regionOrigen = catRegion.findIndex(r => cUpper(r.nombre) == cUpper(key.Region_Origen));
                                if (regionOrigen < 0) { //Si se encontro la region
                                    //console.log("No se encontro region", key.NivelOrigen);
                                    jsonEnvIncorrectos.push(key);
                                    return;
                                } else {
                                    idregionO = catRegion[regionOrigen].id
                                }
                            }
                            if (Nivel_Origen == "ESTADO") { //Validar cuando la region es estado
                                estadoOrigen = catEstado.findIndex(es => cUpper(es.nombre) == cUpper(key.Estado_Origen));
                                if (estadoOrigen < 0) {
                                    //console.log("No se encontro ningun estado origen", key.Estado_Origen);
                                    jsonEnvIncorrectos.push(key);
                                    return;
                                } else {
                                    idestadoO = catEstado[estadoOrigen].id
                                }
                            }
                            if (Nivel_Origen == "CIUDAD") {
                                estadoOrigen = catEstado.findIndex(es => cUpper(es.nombre) == cUpper(key.Estado_Origen));
                                ciudadOrigen = catCiudad.findIndex(ci => cUpper(ci.nombre) == cUpper(key.ciudad_Origen));

                                if (estadoOrigen < 0 && ciudadOrigen < 0) {
                                    //console.log("No se encontro nada con ciudad origen", key.Transportista, key.ciudad_Origen);
                                    jsonEnvIncorrectos.push(key);
                                    return;
                                } else {
                                    idestadoO = catEstado[estadoOrigen].id
                                    idciudadO = catCiudad[ciudadOrigen].id
                                }
                            }
                        }

                        //Nivel Destino <-----------------------------------------------------------------------------------
                        var Nivel_Destino = cUpper(key.Nivel_Destino);
                        if (Nivel_Destino != "REGION" && Nivel_Destino != "ESTADO" && Nivel_Destino != "CIUDAD") {
                            //console.log("Esta region no pertenece  a ningun dato", Nivel_Destino);
                            jsonEnvIncorrectos.push(key);
                            return;
                        } else {
                            if (Nivel_Destino == "REGION") {
                                regionDestino = catRegion.findIndex(r => cUpper(r.nombre) == cUpper(key.Region_Destino));
                                if (regionDestino < 0) { //Si se encontro la region
                                    //console.log("No se encontro region destino", key.Nivel_Destino);
                                    jsonEnvIncorrectos.push(key);
                                    return;
                                } else {
                                    idregionD = catRegion[regionDestino].id
                                }
                            }
                            if (Nivel_Destino == "ESTADO") { //Validar cuando la region es estado
                                estadoDestino = catEstado.findIndex(es => cUpper(es.nombre) == cUpper(key.estado_Destino));
                                if (estadoDestino < 0) {
                                    //console.log("No se encontro ningun estado destinp", key.estado_Destino);
                                    jsonEnvIncorrectos.push(key);
                                    return;
                                } else {
                                    idestadoD= catEstado[estadoDestino].id
                                }
                            }
                            if (Nivel_Destino == "CIUDAD") {
                                estadoDestino = catEstado.findIndex(es => cUpper(es.nombre) == cUpper(key.estado_Destino));
                                ciudadDestino = catCiudad.findIndex(ci => cUpper(ci.nombre) == cUpper(key.ciudad_Destino));
                                if (estadoDestino < 0 && ciudadDestino < 0) {
                                    //console.log("No se encontro nada con ciudad destino");
                                    jsonEnvIncorrectos.push(key);
                                    return;
                                } else {
                                    idestadoD = catEstado[estadoDestino].id
                                    idciudadD = catCiudad[ciudadDestino].id
                                }
                            }
                        }
                        //---------------------------------------------
                    } else {//No se encontraron unidades
                        //console.log("No se encontro unidad", key.Tipo_De_Unidad);
                        jsonEnvIncorrectos.push(key);
                        return;
                    }
                } else { //No se encontro el transportista
                    console.log("No se encontro transportista", key.Transportista);
                    jsonEnvIncorrectos.push(key);
                    return;
                }

                jsonGuardar.push(
                    {
                        "Transportista": idtran,
                        "Tipo_De_Unidad": idunidad,
                        "Cantidad": key.Cantidad,
                        "Fecha_Disponibilidad": key.Fecha_Disponibilidad,
                        "Rango_De_Espera": key.Rango_De_Espera,
                        "Nivel_Origen": key.Nivel_Origen,
                        "Region_Origen": idregionO,
                        "Estado_Origen": idestadoO,
                        "ciudad_Origen": idciudadO,
                        "Tolerancia_Origen": key.Tolerancia_Origen,
                        "Nivel_Destino": key.Nivel_Destino,
                        "Region_Destino": idregionD,
                        "estado_Destino": idestadoD,
                        "ciudad_Destino": idciudadD,
                        "Tolerancia_Destino": key.Tolerancia_Destino,
                        "status": key.status
                    }
                );

            });

            if (Object.keys(jsonEnvIncorrectos).length > 0) {
                //GENERAR EXCEL
                var _fileName = "REPORTE.xlsx";
                var _sheetName = "REPORTE";
                var wb = XLSX.utils.book_new();
                wb.Props = {
                    Title: "REPORTE ",
                    Subject: "NO ENCONTRADOS",
                    Author: "KLS",
                    CreatedDate: new Date(2021, 08, 11)
                };
                wb.SheetNames.push(_sheetName);
                var ws_data = jsonEnvIncorrectos;
                var ws = XLSX.utils.json_to_sheet(ws_data);
                wb.Sheets[_sheetName] = ws;
                var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });
                saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), _fileName);
            }
            eGuardar();
        }
        //Excel<------------------------------------------------------------
        function cUpper(texto) {
            texto = texto.toUpperCase().trim().replace(/ /g, "");
            return texto;
        }
        function estado(estado) {
            estado = parseInt(estado);
            if (estado == 1) {return "Disponible"}
            if (estado == 2) { return "Separado" }
            if (estado == 3) { return "Confirmado"}
            if (estado == 4) { return "Expirado"}
        }
        function color(estado) {
            if (estado == 1) {
                return "blue"
            }
            if (estado == 2) { return "gray"}
            if (estado == 3) { return "gray"}
            if (estado == 4) { return "red"}
        }

        var expirados = [];
        function Ofertas() {
            var esorigen = $("#esorigen").val();
            var esdestino = $("#esdestino").val();
            var ciorigen = $("#ciorigen").val();
            var cidestino = $("#cidestino").val();
            var tipounidad = $("#tipounidad").val();
            var nivelservicio = $("#Tamanio").val();
            //var fechadisp = $("#fechadisp").val();
            var transportista = $("#selTransportistas").val();
            var fechadisp = null;
            if ($("#fechadisp").val() != "" && $("#fechadisp").val() != null) {
                fechadisp = moment($("#fechadisp").val() + " " + $("#HoraSalida").val()).format('YYYY-MM-DD hh:mm:ss') + ".000000";
            }

            var jsonData = { "seltransportista": transportista, "fechadisponibilidad": fechadisp, "transportista": nivelservicio, "idestadoorigen": esorigen, "idestadodestino": esdestino, "idciudadorigen": ciorigen, "idciudaddestino": cidestino, "idtipounidad": tipounidad };
            $("#table-ofertas-info").empty();
            var stable = $('.table-ofertas').DataTable();
            stable.destroy();

            $.get("Offer/busqueda", jsonData, function (res) {
                $("#table-ofertas-info").empty();
                catOfertas = res;

                $.each(res, (item, key) => {
                    var Origen = "";
                    var Destino = "";

                    if (cUpper(key.nivelOrigen) == "REGION") {
                        let indice = catRegion.findIndex(service => service.id == key.idregionOrigen);
                        Origen = catRegion[indice].nombre;
                    }

                    if (cUpper(key.nivelOrigen) == "ESTADO") {
                        let indice = catEstado.findIndex(service => service.id == key.idestadoorigen);
                        if (indice >= 0) {
                            Origen = catEstado[indice].nombre;
                        } else {
                            Origen="-----"
                        }
                    }

                    if (cUpper(key.nivelOrigen) == "CIUDAD") {
                        let estado = catEstado.findIndex(service => service.id == key.idestadoorigen);
                        let ciudad = catCiudad.findIndex(service => service.id == key.idciudadorigen);
                        try {
                            Origen = catEstado[estado].nombre + " - " + catCiudad[ciudad].nombre;
                        } catch (e) {
                            console.log(e);
                        }
                    }

                    //Nivel destino
                    if (cUpper(key.nivelDestino) == "REGION") {
                        let indice = catRegion.findIndex(service => service.id == key.idregionDestino);
                        Destino = catRegion[indice].nombre;
                    }
                    if (cUpper(key.nivelDestino) == "ESTADO") {
                        let indice = catEstado.findIndex(service => service.id == key.idestadodestino);
                        if (indice >= 0) {
                            Destino = catEstado[indice].nombre;
                        } else {
                            Destino="-----"
                        }
                    }
                    if (cUpper(key.nivelDestino) == "CIUDAD") {
                        let estado = catEstado.findIndex(service => service.id == key.idestadodestino);
                        let ciudad = catCiudad.findIndex(service => service.id == key.idciudaddestino);
                        try {
                            Destino = catEstado[estado].nombre + " - " + catCiudad[ciudad].nombre;
                        } catch (e) {
                            console.log(e);
                        }
                    }

                    var hrefModal = "";
                    var btndisabled = "disabled";

                    if (key.status == 1 || key.status == 2)
                    {
                        hrefModal = `<a href="#" style="color:` + color(key.status) + `" data-toggle="modal" onclick="separarModal(${key.idoferta},${key.status})">` + estado(key.status) + `</a>`;
                    } else {
                        hrefModal = `<a style="color:` + color(key.status) + `">` + estado(key.status) + `</a>`;
                    }

                    if (key.status != 1) { btndisabled = ""; }

                    if (moment(key.fechadisponibilidad).format('DD/MM/YYYY hh:mm A') > moment().format('DD/MM/YYYY hh:mm A') ) {
                        $("#table-ofertas-info").append(`
                        <tr class="text-uppercase" id="re${key.idoferta}">
                            <td style="width:5% !important;">${key.nombreTran}</td>
                            <td style="width:12% !important;">${key.tipounidad}</td>
                            <td>${Origen}</td>
                            <td>${Destino}</td>
                            <td style="width:15% !important;">${moment(key.fechadisponibilidad).format('DD/MM/YYYY hh:mm A')}</td>

                            <td style="width:8% !important;font-size:12px;">
                                <span id="days${key.idoferta}"></span>d <span id="hours${key.idoferta}"></span>h <span id="minutes${key.idoferta}"></span>m <span id="seconds${key.idoferta}"></span>s
                            </td>
                            <td style="width:7% !important;text-align:center;">${hrefModal}</td>
                            <td style="width:7% !important;text-align:center;">
                                <a class="btn btn-sm" href="#" onclick="verModal(${key.idoferta})">
                                    <span style="color:blue;" class="material-icons">edit</span>
                                </a>
                                <a class="btn btn-sm ${btndisabled}" href="/Offer/SetFullTravel?OfferId=${key.idoferta}">
                                    <span style="color:blue;" class="material-icons">local_shipping</span>
                                </a>
                            </td>
                        </tr>`);
                        ver(key.idoferta, moment(key.fechadisponibilidad).format('MM/DD/YYYY HH:mm:ss'));
                    } else {
                        expirados.push({ 'Id': key.idoferta })
                    }
                });

                $("#tOfertas").empty();
                $("#tOfertas").append(`OFERTA (${Object.keys(res).length - Object.keys(expirados).length})`);
                $('.table-ofertas').dataTable({
                    searching: true,
                    info: false,
                    bLengthChange: false,
                    language: {
                        "decimal": "",
                        "emptyTable": "No hay información",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Mostrar _MENU_ Entradas",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar",
                        "zeroRecords": "Sin resultados encontrados",
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    }
                });
                $('#table_filter').hide();

                $("#txtSearch").keyup(function () {
                    $('.table-ofertas').DataTable().search($('#txtSearch').val(), false, true).draw();
                });

                $("#modalBuscar").modal('hide');
            }).fail(function (error) {
                dToast("error", "Error al tratar de obtener los registros, intenta cerrar sesión y volver a iniciar.", "Error");
            });
        }

        function expirar() {
            $.post("Offer/setExpirados", { "expirado": expirados }, function (res) {
                expirados = [];
            });
        }

        //---------------------------------------funcion de fecha>
        var DATE_TARGET = "";
        const MILLISECONDS_OF_A_SECOND = 1000;
        const MILLISECONDS_OF_A_MINUTE = MILLISECONDS_OF_A_SECOND * 60;
        const MILLISECONDS_OF_A_HOUR = MILLISECONDS_OF_A_MINUTE * 60;
        const MILLISECONDS_OF_A_DAY = MILLISECONDS_OF_A_HOUR * 24
        function ver(id, fecha) {
            var i = 0;
            var timer = setInterval(function () {
                var fechaJs = moment().format('DD/MM/YYYY H:mm:ss');
                try {
                    DATE_TARGET = new Date(fecha);
                    const NOW = new Date()
                    const DURATION = DATE_TARGET - NOW;
                    const REMAINING_DAYS = Math.floor(DURATION / MILLISECONDS_OF_A_DAY);
                    const REMAINING_HOURS = Math.floor((DURATION % MILLISECONDS_OF_A_DAY) / MILLISECONDS_OF_A_HOUR);
                    const REMAINING_MINUTES = Math.floor((DURATION % MILLISECONDS_OF_A_HOUR) / MILLISECONDS_OF_A_MINUTE);
                    const REMAINING_SECONDS = Math.floor((DURATION % MILLISECONDS_OF_A_MINUTE) / MILLISECONDS_OF_A_SECOND);
                    document.querySelector('span#days' + id + '').textContent = REMAINING_DAYS;
                    document.querySelector('span#hours' + id + '').textContent = REMAINING_HOURS;
                    document.querySelector('span#minutes' + id + '').textContent = REMAINING_MINUTES;
                    document.querySelector('span#seconds' + id + '').textContent = REMAINING_SECONDS;
                    if (moment(fecha).format('DD/MM/YYYY H:mm:ss') <= fechaJs) {
                        expirados.push({ 'Id': id })
                        expirar();
                        Ofertas();
                    }
                } catch (e) {

                }
            }, 1000);
        }
        //--------------------------------------->
        $(document).ready(function () {
            loadState();
            cargarUnidades();
            listarRutas();
            selTransportistas();//Obtiene los transportistas
        });

        //cargar tipo de unidades
        function cargarUnidades() {
            $.get("/Catalogs/TypesOfUnits/getUnidades", function (res) {
                //catUnidades = res;
                $("#idtipounidad").empty();
                $("#idtipounidad").append(`<option value="0">Selecciona una opción</option>`);
                res.map(data => {
                    const { estatus, id, nombre } = data;
                    if (estatus == 1) {
                        catUnidades = [...catUnidades, data];
                        $("#idtipounidad").append(`<option value="${id}">${nombre}</option>`);
                        $("#tipounidad").append(`<option value="${id}">${nombre}</option>`);
                    }
                });

                
                //$.each(res, function (item, key) {
                    
                //});
                dSelect('idtipounidad');
                dSelect('tipounidad');

            }).fail(function (error) {
                console.log(error);
            });
        }
        function loadCity() {
            $.get("/Catalogs/Geography/City/getCity", function (res) {
                cargarRegiones();
                res.map(data => {
                    const { estatus,id,nombre } = data;
                    if (estatus === 1) {
                        catCiudad = [...catCiudad, data];
                        //$("#ciorigen").append(`<option value="${id}">${nombre}</option>`);
                        //$("#cidestino").append(`<option value="${id}">${nombre}</option>`);
                    }
                });

            }).fail(function (error) {
                dToast("error", "Error al obtener paises", "Atencion!");
            });
        }
        function llenadoCiudad(estado,ciudad) {
            var estado = $("#" + estado).val();
            $("#" + ciudad).empty();
            $("#" + ciudad).append(`<option value="0">Selecciona una opción</option>`);
            $.each(catCiudad, function (item, key) {
                if (key.id_estado == estado) {
                    $("#" + ciudad).append(`<option value="${key.id}">${key.nombre}</option>`);
                }
            });
            //dSelect(ciudad);
        }
        //Cargar estados
        function loadState() {
            $.get("/Catalogs/Geography/State/getState", function (res) {
                //catEstado = res;
                loadCity();
                res.map(data => {
                    const { estatus, id, nombre } = data;
                    if (estatus === 1) {
                        catEstado = [...catEstado, data];
                        $("#esorigen").append(`<option value="${id}">${nombre}</option>`);
                        $("#esdestino").append(`<option value="${id}">${nombre}</option>`);
                    }
                });
                dSelect('esorigen');
                dSelect('esdestino');
                dSelect('ciorigen');
                dSelect('cidestino');
                dSelect('txtNivelOrigen');
                dSelect('seleccionaOrigen');
                dSelect('txtNivelDestino');
                dSelect('seleccionaDestino');
                dSelect('ciudadOrigen');
                dSelect('ciudadDestino');
            }).fail(function (error) {
                dToast("error", "Error al obtener paises", "Atencion!");
            });
        }
        function listarRutas() { //Funcion de listado de rutas de transportista
            var stable = $('.table-servicio').DataTable();
            stable.destroy();
            $("#table-servicio").empty();
            $.get("Offer/listTransportista", function (res) {
                $("#tRutasServicio").empty();
                $("#tRutasServicio").append(`RUTAS CON SERVICIO (${Object.keys(res).length})`);
                $.each(res, (item, key) => {
                    const IdGenerado = `${String(key.idcorigen).padStart(4, '0')}${String(key.idcdestino).padStart(4, '0')}`;
                    const color = nCon(key.seguridad) == 'Alto' ? 'success' : nCon(key.seguridad) == 'Medio' ? 'warning' : 'danger';
                    const status = nCon(key.estatus) == 1 ? 'Activo' : 'Inactivo';
                    $("#table-servicio").append(`
                        <tr class="text-uppercase">
                            <td style="width:10% !important;">${key.nombre}</td>
                            <td style="width:8% !important;">${IdGenerado}</td>
                            <td>${key.estadoorigen} - ${key.ciudadorigen}</td>
                            <td>${key.estadodestino} - ${key.ciudaddestino}</td>
                            <td>${nCon(key.costo)} km</td>
                            <td class="text-center" style="width:3% !important;">${status}</td>
                        </tr>`);
                });
                $('.table-servicios').dataTable({
                    searching: true,
                    info: false,
                    bLengthChange: false,
                    language: {
                        "decimal": "",
                        "emptyTable": "No hay información",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Mostrar _MENU_ Entradas",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar",
                        "zeroRecords": "Sin resultados encontrados",
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    }
                });
                $("#table-servicios_filter").hide();
                $("#txtSearchRutas").keyup(function () {
                    $('.table-servicios').DataTable().search($('#txtSearchRutas').val(), false, true).draw();
                });

            }).fail(function (error) {
                dToast("error", "Error al tratar de obtener los registros, intenta cerrar sesión y volver a iniciar.", "Error");
            });
        }
        function dataTbl(tabla) {
            $('#' + tabla).dataTable(
                {
                    searching: false, paging: true, info: false, bLengthChange: false,

                    language: {
                        "decimal": "",
                        "emptyTable": "No hay información",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Mostrar _MENU_ Entradas",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar",
                        "zeroRecords": "Sin resultados encontrados",
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    }
                }
            );
        }
        function selTransportistas(){ //Funcion de listasr los transportistas eb el select
            $.get("/Carriers/getCarriers", function (res) {
                catTransportista = res;
                $("#selTransportistas").empty();
                $("#idtransportista").empty();
                $("#selTransportistas").append(`<option value="0">Todos</option>`);
                $("#idtransportista").append(`<option value="0">Selecciona una opcion</option>`);
                $.each(res, function (item, key) {
                    if (key.estatus == 1) {
                        $("#selTransportistas").append(`<option value="${key.id}">${key.nombreComercial}</option>`);
                        $("#idtransportista").append(`<option value="${key.id}">${key.nombreComercial}</option>`);
                    }
                });
                dSelect('selTransportistas');
                dSelect('idtransportista');
            });
        }
        //Llenado de niveles
        function llenadoNivel(nivel, selecciona) { //Origen o destino
            var nivelOrigen = cUpper($("#" + nivel).val());
            $("#" + selecciona).empty();
            $("#" + selecciona).append(`<option value="0">Selecciona una opción</option>`);
            if (nivelOrigen == 'REGION') {
                $.each(catRegion, function (item, key) {
                    $("#" + selecciona).append(`<option value="${key.id}">${nCon(key.nombre)}</option>`);
                });
            }
            if (nivelOrigen == 'ESTADO') {
                $.each(catEstado, function (item, key) {
                   $("#" + selecciona).append(`<option value="${key.id}">${nCon(key.nombre)}</option>`);
                });
            }
            if (nivelOrigen == 'CIUDAD') {
                //$("#" + selecciona).attr("disabled", true);
                $.each(catEstado, function (item, key) {
                    $("#" + selecciona).append(`<option value="${key.id}">${nCon(key.nombre)}</option>`);
                });
            } else {
                $("#txtToleranciaOrigen").attr("disabled", true);
                $("#ciudadOrigen").attr("disabled", true);
                $("#txtToleranciaDestino").attr("disabled", true);
                $("#ciudadDestino").attr("disabled", true);
            }
        }
        function mostrarCiudad(nivel, estado, ciudad, tolerancia) {
            var nivelOrigen = $("#" + nivel).val();
            if (cUpper(nivelOrigen) == 'CIUDAD') {
                var estado = $("#" + estado).val();
                $("#" + ciudad).attr("disabled", false);
                $("#" + tolerancia).attr("disabled", false);
                $("#" + ciudad).empty();
                $("#" + ciudad).append(`<option value="0">Selecciona una opción</option>`);
                $.each(catCiudad, function (item, key) {
                    if (key.id_estado == estado) {
                        $("#" + ciudad).append(`<option value="${key.id}">${key.nombre}</option>`);
                    }
                });
            }
        }
        //Descarga de excel
        const DownloadLayout = e => {
            $(e).prop('disabled', true);
            fetch('/Offer/DownloadLayout')
                .then(response => {
                    const filename = response.headers.get('Content-Disposition').split('filename=')[1].split(';')[0];
                    response.blob().then(blob => {
                        const x = window.URL.createObjectURL(blob);
                        const anchor = document.createElement('a');
                        anchor.href = x;
                        anchor.download = filename;
                        anchor.click();
                        $(e).prop('disabled', false);
                    })
                })
                .catch(error => dToast("error", "Ocurrió un error al procesar la solicitud", "Error"))
        }
        function cargarRegiones() {
            $.get("/Catalogs/Geography/Regions/getRegion", function (res) {
                res.map(data => {
                    const { estatus, id, nombre } = data;
                    if (estatus === 1) {
                        catRegion = [...catRegion, data];
                        //$("#ciorigen").append(`<option value="${id}">${nombre}</option>`);
                        //$("#cidestino").append(`<option value="${id}">${nombre}</option>`);
                    }
                });
                Ofertas();
            });
        }

        var idOferta = 0;
        var idSeparar = 0;
        function separarModal(id, status) {
            idOferta = id;
            $("#rutaTentativa").val("");
            $("#notasCargo").val("");
            $("#confirmarSeparar").hide();
            $("#editarSeparar").hide();
            $("#info-update").empty();
            if (status == 2) {
                $("#editarSeparar").show();
                $.get("Offer/getSeparar", { "id_oferta": id }, function (res) {
                    $("#rutaTentativa").val(res.rutaTentativa);
                    $("#notasCargo").val(res.notasCargo);
                    $("#info-update").append(`
                        <b style="font-size:12px;">Actualizado por: ${res.nombre}</b><br>
                        <b style="font-size:12px;">Fecha actualización: ${moment(res.fecha).format('YYYY-MM-DD HH:mm:ss')}</b><br>
                    `);
                    idSeparar = res.id;
                });
            } else {
                $("#confirmarSeparar").show();
            }
            $("#separarModal").modal('show');
        }
        function guardarSeparar() {
            if ($("#rutaTentativa").val() != "" && $("#notasCargo").val() != "") {
                var jsonData = { "id_oferta": idOferta, "rutaTentativa": $("#rutaTentativa").val(), "notasCargo": $("#notasCargo").val() };
                $.post("Offer/setSeparar", jsonData, function (res) {
                    Ofertas();
                    $("#separarModal").modal('hide');
                });
            } else {
                dToast("error", "Todos los campos son requeridos.", "Atención");
            }
        }
        function modificarSeparar() {
            if ($("#rutaTentativa").val() != "" && $("#notasCargo").val() != "") {
                var jsonData = { "id": idSeparar, "id_oferta": idOferta, "rutaTentativa": $("#rutaTentativa").val(), "notasCargo": $("#notasCargo").val() };
                $.post("Offer/putSeparar", jsonData, function (res) {
                    Ofertas();
                    $("#separarModal").modal('hide');
                });
            } else {
                dToast("error", "Todos los campos son requeridos.", "Atención");
            }
        }
        function s2ab(s) {
            var buf = new ArrayBuffer(s.length); //convert s to arrayBuffer
            var view = new Uint8Array(buf);  //create uint8array as viewer
            for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF; //convert to octet
            return buf;
        }
        function remTr(id) {
            $('#re' + id).fadeOut(200, function () { $(this).remove(); });
        }
    </script>
} 