@{
    ViewData["Title"] = "Ofertas";
}
<div class="data-content p-1 text-left">
    <div class="p-4">

        <div class="d-flex flex-nowrap">
            <div class="p-2">
                <div class="text-left d-flex">
                    <div class="text-uppercase poppins medium size-24">OFERTAS DISPONIBLES</div>
                </div>
            </div>

            <div class="ml-auto p-2 pb-2 pr-4">
                <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#modalBuscar" style="width:90px;">
                    Buscar
                </a>
            </div>
        </div>

        <div class="p-4 shadow bg-white">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" style="background-color:#EDECEC" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"><span id="tOfertas"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="background-color:#EDECEC" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><span id="tRutasServicio"></a>
                </li>
                <li class="nav-item pl-lg-5">
                    <!--<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">-->@*Contact*@<!--</a>-->
                    <select class="form-control form-control-sm" style="width:200px;background-color:#EDECEC" id="selTransportistas" onchange="Ofertas();">
                        <option value="0">Todos</option>
                    </select>
                </li>
                <li class="nav-item pl-lg-5">
                    <!--<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">-->@*Contact*@<!--</a>-->
                    <input type="text" class="form-control" style="background-color:#EDECEC" placeholder="Buscar" id="txtSearch" />
                </li>
                <li class="nav-item" style="padding-left:44%;">
                    <a class="btn btn-sm btn-outline-secondary" href="#" data-toggle="modal" data-target="#exampleModal">
                        <span class="material-icons">
                            file_upload
                        </span>
                    </a>
                    <a class="btn btn-sm btn-outline-secondary" href="#" data-toggle="modal" data-target="#modalAgregar">
                        <span class="material-icons">
                            add
                        </span>
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <table id="table" class="table table-striped table-bordered display table-hover table-ofertas" width="100%">
                        <thead>
                            <tr>
                                <th>TRANSPORTISTA</th>
                                <th>TIPO DE UNIDAD</th>
                                <th>ORIGEN</th>
                                <th>DESTINO</th>
                                <th>FECHA DISPONIBILIDAD</th>
                                <th>EXPIRA EN</th>
                                <th>Estatus</th>
                                <th style="width:3%;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="table-ofertas-info"></tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <table id="table-servicios" class="table table-striped table-bordered display table-hover table-servicios" width="100%">
                        <thead>
                            <tr>
                                <th>TRANSPORTISTA</th>
                                <th>ID RUTA</th>
                                <th>ORIGEN</th>
                                <th>DESTINO</th>
                                <th>COSTO</th>
                                <th>Estatus</th>
                            </tr>
                        </thead>
                        <tbody id="table-servicio"></tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Importar excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Selecciona un archivo</label>
                        <input type="file" onchange="importf(this)" class="form-control" accept=".xlsx" id="archivoXlsx" />
                    </div>
                </div>
                <br />
                <div id="div-tabla" style="display:none;">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-md table-hover table-data" id="table-data">
                                <thead id="h-table"></thead>
                                <tbody id="b-table"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary d-flex align-items-center mx-auto" onclick="eGuardar();" id="btnGuardar">Guardar ofertas</button>
                <br />
                <button class="btn btn-outline-info btn-sm d-flex align-items-center mx-auto" onclick="DownloadLayout(this)">
                    <i class="material-icons">download</i>
                    <span>DESCARGAR PLANTILLA DE EJEMPLO</span>
                </button>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="eGuardar();" id="btnGuardar">Guardar ofertas</button>
            </div>*@
        </div>
    </div>
</div>

<div class="modal fade" id="modalBuscar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buscar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <label>Tipo de unidad</label>
                        <select class="form-control form-control-sm" id="tipounidad" name="">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label>Fecha de salida</label>
                        <input type="date"  value="" class="form-control" id="fechadisp"/>
                    </div>
                    <div class="col-3">
                        <label>Hora de salida</label>
                        <input type="time"  value="" class="form-control" id="HoraSalida"/>
                    </div>
                    <div class="col-3">
                        <label>Nivel de servicio</label>
                        <select class="form-control form-control-sm" id="Tamanio" name="Tamanio">
                            <option value="0">Selecciona una opción</option>
                            <option value="1">Pequeño</option>
                            <option value="2">Mediano</option>
                            <option value="3">Grande</option>
                            <option value="4">Logística</option>
                            <option value="5">Hombre Camión</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label>Estado Origen</label>
                        <select class="form-control form-control-sm" style="width:100%;" id="esorigen" onchange="llenadoCiudad('esorigen', 'ciorigen');">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label>Ciudad Origen</label>
                        <select class="form-control form-control-sm" id="ciorigen" style="width:100%;">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label>Estado Destino</label>
                        <select class="form-control form-control-sm" style="width:100%;" id="esdestino" onchange="llenadoCiudad('esdestino', 'cidestino');">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label>Ciudad Destino</label>
                        <select class="form-control form-control-sm" style="width:100%;" id="cidestino">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Ofertas();">Buscar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar ofertas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Transportista</label>
                        <select class="form-control form-control-sm" id="idtransportista" style="width:100%;">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Tipo de unidad</label>
                        <select class="form-control form-control-sm" style="width:100%;" id="idtipounidad">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Cantidad</label>
                        <input type="number" id="txtCantidad" class="form-control"/>
                    </div>
                    <div class="col-md-3">
                        <label>Fecha</label>
                        <input type="datetime-local" class="form-control" id="txtFechaDisponibilidad"/>
                    </div>
                    <div class="col-md-3">
                        <label>Rango de espera</label>
                        <input type="number" class="form-control" id="txtRangoEspera" />
                    </div>
                </div>

                <h5>Origen</h5>
                <div class="row">
                    <div class="col-md-3">
                        <label>Nivel</label>
                        <select class="form-control form-control-sm" style="width:100%;" id="txtNivelOrigen" onchange="llenadoNivel('txtNivelOrigen','seleccionaOrigen');">
                            <option value="0">Selecciona una opción</option>
                            <option value="Region">Region</option>
                            <option value="Estado">Estado</option>
                            <option value="Ciudad">Ciudad</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Selecciona</label>
                        <select class="form-control form-control-sm" style="width:100%;" id="seleccionaOrigen" onchange="mostrarCiudad('txtNivelOrigen','seleccionaOrigen','ciudadOrigen','txtToleranciaOrigen')">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Ciudad</label>
                        <select class="form-control-sm" id="ciudadOrigen" style="width:100%;" disabled="disabled">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Tolerancia</label>
                        <input type="number" class="form-control" id="txtToleranciaOrigen" disabled="disabled"/>
                    </div>
                </div>
                <h5>Destino</h5>
                <div class="row">
                    <div class="col-md-3">
                        <label>Nivel</label>
                        <select class="form-control form-control-sm" style="width:100%;" id="txtNivelDestino" onchange="llenadoNivel('txtNivelDestino','seleccionaDestino');">
                            <option value="0">Selecciona una opción</option>
                            <option value="Region">Region</option>
                            <option value="Estado">Estado</option>
                            <option value="Ciudad">Ciudad</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Selecciona</label>
                        <select class="form-control form-control-sm" style="width:100%;" id="seleccionaDestino" onchange="mostrarCiudad('txtNivelDestino','seleccionaDestino','ciudadDestino','txtToleranciaDestino')">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Ciudad</label>
                        <select class="form-control-sm" id="ciudadDestino" style="width:100%;" disabled="disabled">
                            <option value="0">Selecciona una opción</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Tolerancia</label>
                        <input type="number" class="form-control" name="name" id="txtToleranciaDestino" disabled="disabled"/>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-secondary" onclick="agregarOferta();">Agregar oferta</button>
            </div>
        </div>
    </div>
</div>

@*modal para separar*@
<div class="modal fade" id="separarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Separar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Ruta tentativa</label>
                        <input type="text" class="form-control" placeholder="Escribe aqui" id="rutaTentativa"/>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-md-12">
                        <label>Notas de cargo</label>
                        <textarea class="form-control" rows="8" placeholder="Escribe aqui" id="notasCargo"></textarea>
                    </div>
                </div>
                <br />
                <button type="button" class="btn btn-primary" style="width:160px;" id="confirmarSeparar" onclick="guardarSeparar();">Confirmar</button>
                <button type="button" class="btn btn-primary" style="width:160px;" id="editarSeparar" onclick="modificarSeparar();">Modificar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@Url.Content("~/js/sheetjs/xlsx.full.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.unobtrusive-ajax.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script>

        function agregarOferta() {//Metodo de agregar la oferta
            jsonEnv = [];
            var regionO = 0;
            var estadoO = 0;
            var ciudadO = 0;

            var regionD = 0;
            var estadoD = 0;
            var ciudadD = 0;

            var idTransportista = $("#idtransportista").val();

            if (parseInt(idTransportista) != 0) {

                var idTipounidad = $("#idtipounidad").val();

                if (parseInt(idTipounidad) != 0) {
                    var origen = $("#txtNivelOrigen").val();
                    var destino = $("#txtNivelDestino").val();

                    if (origen == 'Region') {
                        regionO = $("#seleccionaOrigen").val();
                    }

                    if (origen == 'Estado') {
                        estadoO = $("#seleccionaOrigen").val();
                    }
                    if (origen == 'Ciudad') {
                        estadoO = $("#seleccionaOrigen").val();
                        ciudadO = $("#ciudadOrigen").val();
                    }

                    if (destino == 'Region') {
                        regionD = $("#seleccionaOrigen").val();
                    }

                    if (destino == 'Estado') {
                        estadoD = $("#seleccionaOrigen").val();
                    }
                    if (destino == 'Ciudad') {
                        estadoD = $("#seleccionaOrigen").val();
                        ciudadD = $("#ciudadOrigen").val();
                    }

                    var fechaJs = moment($("#txtFechaDisponibilidad").val()).format('YYYY-MM-DD hh:mm:ss') + ".000000";

                    jsonEnv.push(
                        {
                            "Transportista": idTransportista,
                            "Tipo_De_Unidad": idTipounidad,
                            "Cantidad": $("#txtCantidad").val(),
                            "Fecha_Disponibilidad": fechaJs,
                            "Rango_De_Espera": $("#txtRangoEspera").val(),
                            "Nivel_Origen": origen,
                            "Region_Origen": regionO,
                            "Estado_Origen": estadoO,
                            "ciudad_Origen": ciudadO,
                            "Tolerancia_Origen": $("#txtToleranciaOrigen").val(),
                            "Nivel_Destino": destino,
                            "Region_Destino": regionD,
                            "estado_Destino": estadoD,
                            "ciudad_Destino": ciudadD,
                            "Tolerancia_Destino": $("#txtToleranciaDestino").val(),
                            "status": 1
                        },
                    );
                    eGuardar();
                } else {
                    dToast("error", "Selecciona un tipo de unidad.", "Atención");
                }
            } else {
                dToast("error", "Selecciona un transportista.", "Atención");
            }
            
        }
        //Cargar datos de las rutas
        var dataRutas = [];
        var dataCheckpoint = [];
        var catCiudad = [];
        var catEstado = [];
        var catRegion = [];
        var wb;
        var rABS = false;
        var jsonEnv = [];
        //Excel
        function importf(obj) {
            jsonEnv = [];

            if (!obj.files) {
                notifyLoading(false);
                $("#div-tabla").hide();
                $("#bGuardar").attr("disabled", true);
                return;
            }
            
            $("#div-tabla").show()
            $("#bGuardar").attr("disabled", false);

            var f = obj.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                var data = e.target.result;
                if (rABS) {
                    wb = XLSX.read(btoa(fixdata(data)), {
                        type: 'base64'
                    });
                } else {
                    wb = XLSX.read(data, {
                        type: 'binary'
                    });
                }
                //var dataXLSX = JSON.stringify(XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]]));
                dataXLSX = XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]], { raw: false, 'date_format': 'dd/mm/yyyy' });

                $("#h-table").empty();
                $("#h-table").append(`
                <tr>
                    <th>Transportista</th>
                    <th>Tipo_de_unidad</th>
                    <th>cantidad</th>
                    <th>fecha_disponibilidad</th>
                    <th>Rango_de_espera</th>
                </tr>
            `);

                var table = $('#table-data').DataTable();
                table.destroy();
                $("#b-table").empty();
                $.each(dataXLSX, function (data, item) {
                    var itemT = Object.keys(item);
                    var fechaJs = moment(item[itemT[3]]).format('YYYY-MM-DD hh:mm:ss') + ".000000";
                    jsonEnv.push(
                        {
                            "Transportista": item[itemT[0]],
                            "Tipo_De_Unidad": item[itemT[1]],
                            "Cantidad": item[itemT[2]],
                            "Fecha_Disponibilidad": fechaJs,
                            "Rango_De_Espera": item[itemT[4]],
                            "Nivel_Origen": item[itemT[5]],
                            "Region_Origen": item[itemT[6]],
                            "Estado_Origen": item[itemT[7]],
                            "ciudad_Origen": item[itemT[8]],
                            "Tolerancia_Origen": item[itemT[9]],
                            "Nivel_Destino": item[itemT[10]],
                            "Region_Destino": item[itemT[11]],
                            "estado_Destino": item[itemT[12]],
                            "ciudad_Destino": item[itemT[13]],
                            "Tolerancia_Destino": item[itemT[14]],
                            "status": item.status
                        },
                    );
                    var fecha = moment(item[itemT[3]]).format('YYYY-DD-MM hh:mm:ss A');
                    $("#b-table").append(`
                    <tr>
                        <td>${item[itemT[0]]}</td>
                        <td>${item[itemT[1]]}</td>
                        <td>${item[itemT[2]]}</td>
                        <td>${fecha}</td>
                        <td>${item[itemT[5]]}</td>
                    </tr>
                    `);
                });

                //dTable("table-data");
                $('#table-data').dataTable({
                    searching: false,
                    info: false,
                    "bLengthChange": false,
                    language: {
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    }
                });

            };
            if (rABS) {
                reader.readAsArrayBuffer(f);
            } else {
                reader.readAsBinaryString(f);
            }
        }
        function fixdata(data) {
            var o = "",
                l = 0,
                w = 10240;
            for (; l < data.byteLength / w; ++l) o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w, l * w + w)));

            o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w)));
            return o;
        }
        function eGuardar() {
            if (Object.keys(jsonEnv).length > 0) {
                $("#btnGuardar").attr("disabled",true);
                $.post("/Offer/setRouteMult", { "catCarga": jsonEnv }, function (res) {
                    Ofertas();
                    dToast("success", "Datos guardados con éxito", "Atención");
                    $("#btnGuardar").attr("disabled", false);
                }).fail(function (error) {
                    console.log("error", "Error al insertar" + error);
                    $("#btnGuardar").attr("disabled", false);
                    dToast("error", "Error al insertar", "Error");
                });
            } else {
                dToast("error", "No se encontraron registros para insertar.", "Error");
            }
            jsonEnv = [];
            $("#b-table").empty();
            $("#div-tabla").hide('fast');
            $("#archivoXlsx").val("");
        }
        //Excel
        function estado(estado) {
            estado = parseInt(estado);
            if (estado == 1) {return "Disponible"}
            if (estado == 2) { return "Separado" }
            if (estado == 3) { return "Confirmado"}
            if (estado == 4) { return "Expirado"}
        }
        function color(estado) {
            if (estado == 1) {
                return "blue"
            }
            if (estado == 2) { return "gray"}
            if (estado == 3) { return "gray"}
            if (estado == 4) { return "red"}
        }
        function Ofertas() {
            var stable = $('.table-ofertas').DataTable();
            stable.destroy();  
            $("#table-ofertas-info").empty();
            var esorigen = $("#esorigen").val();
            var esdestino = $("#esdestino").val();
            var ciorigen = $("#ciorigen").val();
            var cidestino = $("#cidestino").val();
            var tipounidad = $("#tipounidad").val();
            var nivelservicio = $("#Tamanio").val();
            //var fechadisp = $("#fechadisp").val();
            var transportista = $("#selTransportistas").val();
            var fechadisp = null;
            if ($("#fechadisp").val() != "" && $("#fechadisp").val() != null) {
                fechadisp = moment($("#fechadisp").val() + " " + $("#HoraSalida").val()).format('YYYY-MM-DD hh:mm:ss') + ".000000";
            }
            var jsonData = { "seltransportista": transportista, "fechadisponibilidad": fechadisp, "transportista": nivelservicio, "idestadoorigen": esorigen, "idestadodestino": esdestino, "idciudadorigen": ciorigen, "idciudaddestino": cidestino, "idtipounidad": tipounidad };
            console.log(fechadisp);
            $.get("Offer/busqueda", jsonData , function (res) {
                console.log(jsonData);
                $("#tOfertas").empty();
                $("#tOfertas").append(`OFERTA (${Object.keys(res).length})`);
                $.each(res, (item, key) => {
                    var Origen = "";
                    var Destino = "";

                    if (key.nivelOrigen == "Region") {
                        let indice = catRegion.findIndex(service => service.id == key.idregionOrigen);
                        Origen = catRegion[indice].nombre;
                    }
                    if (key.nivelOrigen == "Estado") {
                        let indice = catEstado.findIndex(service => service.id == key.idestadoorigen);
                        if (indice >= 0) {
                            Origen = catEstado[indice].nombre;
                        } else {
                            Origen="-----"
                        }
                    }
                    if (key.nivelOrigen == "Ciudad") {
                        let estado = catEstado.findIndex(service => service.id == key.idestadoorigen);
                        let ciudad = catCiudad.findIndex(service => service.id == key.idciudadorigen);
                        Origen = catEstado[estado].nombre + " - " + catCiudad[ciudad].nombre;
                    }

                    //Nivel destino
                    if (key.nivelDestino == "Region") {
                        let indice = catRegion.findIndex(service => service.id == key.idregionDestino);
                        Destino = catRegion[indice].nombre;
                    }
                    if (key.nivelDestino == "Estado") {
                        let indice = catEstado.findIndex(service => service.id == key.idestadodestino);
                        if (indice >= 0) {
                            Destino = catEstado[indice].nombre;
                        } else {
                            Destino="-----"
                        }
                    }
                    if (key.nivelDestino == "Ciudad") {
                        let estado = catEstado.findIndex(service => service.id == key.idestadodestino);
                        let ciudad = catCiudad.findIndex(service => service.id == key.idciudaddestino);
                        Destino = catEstado[estado].nombre + " - " + catCiudad[ciudad].nombre;
                    }

                    var hrefModal = "";
                    var btndisabled = "disabled";
                    if (key.status == 1 || key.status == 2) {
                        hrefModal = `<a data-toggle="modal" onclick="separarModal(${key.idoferta},${key.status})">` + estado(key.status) + `</a>`;
                    } else {
                        hrefModal = estado(key.status);
                    }
                    if (key.status != 1) { btndisabled = ""; }

                    $("#table-ofertas-info").append(`
                        <tr class="text-uppercase">
                            <td>${key.nombreTran}</td>
                            <td>${key.tipounidad}</td>
                            <td>${Origen}</td>
                            <td>${Destino}</td>
                            <td>${moment(key.fechadisponibilidad).format('DD/MM/YYYY hh:mm:ss A')}</td>
                            <td>(<span class="timeago" datetime="${key.fechadisponibilidad}"></span>) </td>
                            <td style="color:`+ color(key.status) + `">${hrefModal}</td>
                            <td class="text-center">
                                <button class="btn btn-light ${btndisabled}" href="#">
                                    <span style="color:blue;" class="material-icons">local_shipping</span>
                                </button>
                            </td>
                        </tr>`);
                    timeago.render(document.querySelectorAll('.timeago'), 'es-MX');
                });

                $('.table-ofertas').dataTable({
                    searching: true,
                    info: false,
                    language: {
                        "decimal": "",
                        "emptyTable": "No hay información",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Mostrar _MENU_ Entradas",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar",
                        "zeroRecords": "Sin resultados encontrados",
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    }
                });

                $('#table_filter').hide();
                $("#txtSearch").keyup(function () {
                    $('.table-ofertas').DataTable().search($('#txtSearch').val(), false, true).draw();
                });
                $("#modalBuscar").modal('hide');

            }).fail(function (error) {
                dToast("error", "Error al tratar de obtener los registros, intenta cerrar sesión y volver a iniciar.", "Error");
            });
        }
        $(document).ready(function () {
            loadCity();
            loadState();
            cargarRegiones();
            cargarUnidades();
            listarRutas();
            selTransportistas();//Obtiene los transportistas
        });
        //cargar tipo de unidades
        function cargarUnidades() {
            $.get("/Catalogs/TypesOfUnits/getUnidades", function (res) {
                $("#idtipounidad").empty();
                $("#idtipounidad").append(`<option value="0">Selecciona una opción</option>`);
                $.each(res, function (item, key) {
                    $("#idtipounidad").append(`<option value="${key.id}">${key.nombre}</option>`);
                    $("#tipounidad").append(`<option value="${key.id}">${key.nombre}</option>`);
                });
                dSelect('idtipounidad');
                dSelect('tipounidad');

            }).fail(function (error) {
                console.log(error);
            });
        }
        function loadCity() {
            $.get("/Catalogs/Geography/City/getCity", function (res) {
                res.map(data => {
                    const { estatus,id,nombre } = data;
                    if (estatus === 1) {
                        catCiudad = [...catCiudad, data];
                        //$("#ciorigen").append(`<option value="${id}">${nombre}</option>`);
                        //$("#cidestino").append(`<option value="${id}">${nombre}</option>`);
                    }
                });

            }).fail(function (error) {
                dToast("error", "Error al obtener paises", "Atencion!");
            });
        }
        function llenadoCiudad(estado,ciudad) {
            var estado = $("#" + estado).val();
            $("#" + ciudad).empty();
            $("#" + ciudad).append(`<option value="0">Selecciona una opción</option>`);
            $.each(catCiudad, function (item, key) {
                if (key.id_estado == estado) {
                    $("#" + ciudad).append(`<option value="${key.id}">${key.nombre}</option>`);
                }
            });
            //dSelect(ciudad);
        }
        //Cargar estados
        function loadState() {
            $.get("/Catalogs/Geography/State/getState", function (res) {
                catEstado = res;
                res.map(data => {
                    const { estatus, id, nombre } = data;

                    if (estatus === 1) {
                        catCiudad = [...catCiudad, data];
                        $("#esorigen").append(`<option value="${id}">${nombre}</option>`);
                        $("#esdestino").append(`<option value="${id}">${nombre}</option>`);
                    }
                });
                dSelect('esorigen');
                dSelect('esdestino');
                dSelect('ciorigen');
                dSelect('cidestino');
            }).fail(function (error) {
                dToast("error", "Error al obtener paises", "Atencion!");
            });
        }
        function listarRutas() { //Funcion de listado de rutas de transportista
            var stable = $('.table-servicio').DataTable();
            stable.destroy();
            $("#table-servicio").empty();
            $.get("Offer/listTransportista", function (res) {
                $("#tRutasServicio").empty();
                $("#tRutasServicio").append(`RUTAS CON SERVICIO (${Object.keys(res).length})`);
                $.each(res, (item, key) => {
                    const IdGenerado = `${String(key.idcorigen).padStart(4, '0')}${String(key.idcdestino).padStart(4, '0')}`;
                    const color = nCon(key.seguridad) == 'Alto' ? 'success' : nCon(key.seguridad) == 'Medio' ? 'warning' : 'danger';
                    const status = nCon(key.estatus) == 1 ? 'Activo' : 'Inactivo';
                    $("#table-servicio").append(`
                        <tr class="text-uppercase">
                            <td>${key.nombre}</td>
                            <td>${IdGenerado}</td>
                            <td>${key.estadoorigen} - ${key.ciudadorigen}</td>
                            <td>${key.estadodestino} - ${key.ciudaddestino}</td>
                            <td>${nCon(key.costo)} km</td>
                            <td class="text-center">${status}</td>
                        </tr>`);
                });
                dataTbl("table-servicios");
            }).fail(function (error) {
                dToast("error", "Error al tratar de obtener los registros, intenta cerrar sesión y volver a iniciar.", "Error");
            });
        }
        function dataTbl(tabla) {
            $('#' + tabla).dataTable(
                {
                    searching: false, paging: true, info: false, bLengthChange: false,

                    language: {
                        "decimal": "",
                        "emptyTable": "No hay información",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Mostrar _MENU_ Entradas",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar",
                        "zeroRecords": "Sin resultados encontrados",
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    }
                }
            );
        }
        function selTransportistas(){ //Funcion de listasr los transportistas eb el select
            $.get("/Carriers/getCarriers", function (res) {
                $("#selTransportistas").empty();
                $("#idtransportista").empty();
                $("#selTransportistas").append(`<option value="0">Todos</option>`);
                $("#idtransportista").append(`<option value="0">Selecciona una opcion</option>`);
                $.each(res, function (item, key) {
                    $("#selTransportistas").append(`<option value="${key.id}">${key.nombreComercial}</option>`);
                    $("#idtransportista").append(`<option value="${key.id}">${key.nombreComercial}</option>`);
                });
                dSelect('selTransportistas');
                dSelect('idtransportista');
            });
        }
        //Llenado de niveles
        function llenadoNivel(nivel,selecciona){ //Origen o destino
            var nivelOrigen = $("#" + nivel).val();
            $("#" + selecciona).empty();
            $("#" + selecciona).append(`<option value="0">Selecciona una opción</option>`);
            if (nivelOrigen == 'Region') {
                $.each(catRegion, function (item, key) {
                    $("#" + selecciona).append(`<option value="${key.id}">${nCon(key.nombre)}</option>`);
                });
            }
            if (nivelOrigen == 'Estado') {
                $.each(catEstado, function (item, key) {
                   $("#" + selecciona).append(`<option value="${key.id}">${nCon(key.nombre)}</option>`);
                });
            }
            if (nivelOrigen == 'Ciudad') {
                //$("#" + selecciona).attr("disabled", true);
                $.each(catEstado, function (item, key) {
                    $("#" + selecciona).append(`<option value="${key.id}">${nCon(key.nombre)}</option>`);
                });
            } else {
                $("#txtToleranciaOrigen").attr("disabled", true);
                $("#ciudadOrigen").attr("disabled", true);
                $("#txtToleranciaDestino").attr("disabled", true);
                $("#ciudadDestino").attr("disabled", true);
            }
        }
        function mostrarCiudad(nivel, estado, ciudad, tolerancia) {
            var nivelOrigen = $("#" + nivel).val();
            if (nivelOrigen == 'Ciudad') {
                var estado = $("#" + estado).val();
                $("#" + ciudad).attr("disabled", false);
                $("#" + tolerancia).attr("disabled", false);
                $("#" + ciudad).empty();
                $("#" + ciudad).append(`<option value="0">Selecciona una opción</option>`);
                $.each(catCiudad, function (item, key) {
                    if (key.id_estado == estado) {
                        $("#" + ciudad).append(`<option value="${key.id}">${key.nombre}</option>`);
                    }
                });
            }
        }
        //Descarga de excel
        const DownloadLayout = e => {
            $(e).prop('disabled', true);
            fetch('/Offer/DownloadLayout')
                .then(response => {
                    const filename = response.headers.get('Content-Disposition').split('filename=')[1].split(';')[0];
                    response.blob().then(blob => {
                        const x = window.URL.createObjectURL(blob);
                        const anchor = document.createElement('a');
                        anchor.href = x;
                        anchor.download = filename;
                        anchor.click();
                        $(e).prop('disabled', false);
                    })
                })
                .catch(error => dToast("error", "Ocurrió un error al procesar la solicitud", "Error"))
        }
        function cargarRegiones() {
            $.get("/Catalogs/Geography/Regions/getRegion", function (res) {
                catRegion = res;
                Ofertas();
            });
        }
        var idOferta = 0;
        var idSeparar = 0;
        function separarModal(id, status) {
            console.log(status);
            idOferta = id;
            $("#rutaTentativa").val("");
            $("#notasCargo").val("");
            $("#confirmarSeparar").hide();
            $("#editarSeparar").hide();

            if (status == 2) {
                $("#editarSeparar").show();
                $.get("Offer/getSeparar", { "id_oferta": id }, function (res) {
                    $("#rutaTentativa").val(res.rutaTentativa);
                    $("#notasCargo").val(res.notasCargo);
                    idSeparar = res.id;
                });
            } else {
                $("#confirmarSeparar").show();
            }
            $("#separarModal").modal('show');
        }
        function guardarSeparar() {
            var jsonData = { "id_oferta": idOferta, "rutaTentativa": $("#rutaTentativa").val(), "notasCargo":$("#notasCargo").val() };
            $.post("Offer/setSeparar", jsonData, function (res) {
                Ofertas();
                $("#separarModal").modal('hide');
            });
        }
        function modificarSeparar() {
            var jsonData = { "id": idSeparar, "id_oferta": idOferta, "rutaTentativa": $("#rutaTentativa").val(), "notasCargo": $("#notasCargo").val() };
            $.post("Offer/putSeparar", jsonData, function (res) {
                Ofertas();
                $("#separarModal").modal('hide');
            });
        }
    </script>
} 