@{
    ViewData["Title"] = "Transportista|Rutas Form";
}

@{ int id = ViewBag.id; }
@{ int idRuta = ViewBag.idRuta; }
<div class="data-content p-4 text-left">
    <div class="p-4">
        <div class="text-left d-flex mb-3">
            <a href="/Carriers/Routes/@id">
                <div class="material-icons icon-red">arrow_back</div>
            </a>
            <div class="text-uppercase poppins medium size-24 pl-2">Transportista</div>
        </div>
        <form id="frmRegister" action="#" method="post">
            <button class="btn btn-sm" type="submit" style="background-color:transparent;">
                <span class="material-icons" style="color:cornflowerblue;">
                    save
                </span>
            </button>
            <div class="row">
                <div class="col-md-4 text-right">
                    <div class="p-4 shadow bg-white">
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="idEditar" name="Id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Estado Origen</label>
                            <div class="col-sm-8">
                                <select class="form-control form-control-sm" id="Id_Estado_Origen" name="Id_Estado_Origen" style="width:100%;"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Ciudad Origen</label>
                            <div class="col-sm-8">
                                <select class="form-control form-control-sm" id="Id_Ciudad_Origen" name="Id_Ciudad_Origen" style="width:100%;">
   
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Estado Destino</label>
                            <div class="col-sm-8">
                                <select class="form-control form-control-sm" id="Id_Estado_Destino" name="Id_Estado_Destino" style="width:100%;"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Ciudad Destino</label>
                            <div class="col-sm-8">
                                <select class="form-control form-control-sm" id="Id_Ciudad_Destino" name="Id_Ciudad_Destino" style="width:100%;"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Total de kilometros</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="TotalKilometros" name="TotalKilometros">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">% Eficiencia</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="Eficiencia" name="Eficiencia">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Total de horas</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="TotalHoras" name="TotalHoras">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Seguridad</label>
                            <div class="col-sm-8">
                                <select id="Seguridad" name="Seguridad" class="form-control form-control-sm">
                                    <option value="0">Selecciona</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Demanda</label>
                            <div class="col-sm-8">
                                <select class="form-control form-control-sm" id="Demanda" name="Demanda">
                                    <option value="0">Selecciona</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Restricción de Circ.</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="RestriccionCircuito" name="Contrasena">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Tipo de viaje</label>
                            <div class="col-sm-8">
                                <select id="TipoDeViaje" name="TipoDeViaje" class="form-control form-control-sm">
                                    <option value="0">Selecciona</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Estatus</label>
                            <div class="col-sm-8">
                                <select id="Estatus" name="Estatus" class="form-control form-control-sm">
                                    <option value="0">Selecciona</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-4 shadow bg-white">
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Frec. de validación</label>
                            <div class="col-sm-8">
                                <input type="text" name="FrecValidacion" id="FrecValidacion" class="form-control form-control-sm"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Restricción de Circ.</label>
                            <div class="col-sm-8">
                                <input type="text" name="RestriccionCirc" id="RestriccionCirc" class="form-control form-control-sm"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Observaciones</label>
                            <div class="col-sm-8">
                                <input type="text" name="Observacion" id="Observacion" class="form-control form-control-sm"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{ 
    <script>
        dataRoutes = [];
        var dataCiudad = [];
        var dataEstado = [];

        $(window).ready(function () {
            getCiudad();
            getEstado();
            loadTable();

            $("#frmRegister").submit(function (event) {
                event.preventDefault();
                var jsonData = convertJson($("#frmRegister"));
                jsonData["Id_Transportista"] = @id;
                console.log(jsonData);
                if (parseInt(@idRuta) == 0) {
                    $.post("/Carriers/Routes/setRoutes/", jsonData, function (res) {
                        $('#frmRegister').trigger("reset");
                        dToast("success", "Registro guardado exitosamente.", "Registrado");
                    }).fail(function (error) {
                        dToast("error", "Error al tratar de guardar el registro", "Error");
                        $(".guardar").attr("disabled", false);
                    });
                } else {
                    $.post("/Carriers/Routes/putRoutes/", jsonData, function (res) {
                        dToast("success", "Registro actualizado exitosamente.", "Registrado");
                    }).fail(function (error) {
                        dToast("error", "Error al tratar de actualizar el registro", "Error");
                        $(".guardar").attr("disabled", false);
                    });
                }

            });
        });

        function loadTable() {
            //$("#idEditar").attr("disabled", true);
            if (@idRuta!= 0) {
                $.get("/Carriers/Routes/getRoutes/", { "Id":@idRuta}, function (res) {
                    dataRoutes = res;
                    if (res != null) {
                        $("#idEditar").val(res.id);
                        $("#Demanda").val(res.demanda);
                        $("#Eficiencia").val(res.eficiencia);
                        $("#Estatus").val(res.estatus);
                        $("#FrecValidacion").val(res.frecValidacion);
                        $("#Id_Ciudad_Destino").val(res.id_Ciudad_Destino);
                        $("#Id_Ciudad_Origen").val(res.id_Ciudad_Origen);
                        $("#Id_Estado_Destino").val(res.id_Estado_Destino);
                        $("#Id_Estado_Origen").val(res.id_Estado_Origen);
                        $("#Id_Transportista").val(res.id_Transportista);
                        $("#Observacion").val(res.observacion);
                        $("#Restriccion").val(res.restriccion);
                        $("#RestriccionCircuito").val(res.restriccionCircuito);
                        $("#Seguridad").val(res.seguridad);
                        $("#TipoDeViaje").val(res.tipoDeViaje);
                        $("#TotalHoras").val(res.totalHoras);
                        $("#Total_Kilometros").val(res.total_Kilometros);
                    }
                    console.log(dataRoutes);
                });
            } 
        }

        function getEstado() {
            $.get("/../../Catalogs/Geography/State/getState", function (res) {
                dataEstado = res;
                $("#Id_Estado_Origen").empty();
                $("#Id_Estado_Destino").empty();
                $.each(res, function (item, key) {
                    $("#Id_Estado_Origen").append(`<option value="${key.id}">${key.nombre}</option>`);
                    $("#Id_Estado_Destino").append(`<option value="${key.id}">${key.nombre}</option>`);
                });
                $("#Id_Estado_Origen").select2();
                $("#Id_Estado_Destino").select2();
            }).fail(function (error) {
                dToast("error", "Error al obtener paises", "Atencion!");
            });
        }

        function getCiudad() {
            $.get("/../../Catalogs/Geography/City/getCity", function (res) {
                dataCiudad = res;
                $("#Id_Ciudad_Origen").empty();
                $("#Id_Ciudad_Destino").empty();
                $.each(res, function (item, key) {
                    $("#Id_Ciudad_Origen").append(`<option value="${key.id}">${key.nombre}</option>`);
                    $("#Id_Ciudad_Destino").append(`<option value="${key.id}">${key.nombre}</option>`);
                });
                $("#Id_Ciudad_Origen").select2();
                $("#Id_Ciudad_Destino").select2();
                loadTable();
            }).fail(function (error) {
                dToast("error", "Error al obtener paises", "Atencion!");
            });
        }

    </script>
}
