
@{
    ViewData["Title"] = "Transportista|Rutas";
}
@{ int id = ViewBag.id; }
<div class="data-content p-4 text-left">
    <div class="p-4">
        <div class="text-left d-flex mb-3">
            <a href="/Carriers/Routes/formRoutes/@id">
                <div class="material-icons icon-red">arrow_back</div>
            </a>
            <div class="text-uppercase poppins medium size-24 pl-2">RUTAS TRANSPORTISTAS</div>
            <div style="padding-left:10%;">
                <a class="btn btn-sm btn-dark" href="/Carriers/Routes/formRoutes/@id">
                    <span class="material-icons">
                        add
                    </span>
                </a>
            </div>
        </div>

        <div class="p-4 shadow bg-white">
            <table id="table" class="table table-striped table-bordered display table-hover table-viajes" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Costo</th>
                        <th>Estatus</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="table-info"></tbody>
            </table>
        </div>

    </div>
</div>
@section Scripts{ 
    <script>
        var dataCiudad = [];
        var dataEstado = [];

        $(window).ready(function () {
            getCiudad();
            getEstado();
            loadTable();
        });

        function getCiudad() {
            $.get("../../Catalogs/Geography/City/getCity", function (res) {
                dataCiudad = res;
                console.log(res);
            });
        }

        function getEstado() {
            $.get("../../Catalogs/Geography/State/getState", function (res) {
                dataEstado = res;
            });
        }

        function loadTable() {
            var stable = $('.table-viajes').DataTable();
            stable.destroy();
            $("#table-info").empty();
            $.get("/Carriers/Routes/getRoutesAll/", function (res) {
                console.log(res);
                $.each(res, function (item, key) {

                     //let cOrigen = dataCiudad.findIndex(ciudad => ciudad.id === key.id_Ciudad_Origen);
                     //let cDestino = dataCiudad.findIndex(ciudad => ciudad.id === key.id_Ciudad_Destino);
                     //let eOrigen = dataEstado.findIndex(estado => estado.id === key.id_Estado_Origen);
                     //let eDestino = dataEstado.findIndex(estado => estado.id === key.id_Estado_Estado); 

                    $("#table-info").append(`
                             <tr>
                                <td>${nCon(key.id)}</td>
                                <td>${dataEstado[0].nombre} - ${dataCiudad[0].nombre}</td>
                                <td>${dataEstado[0].nombre} - ${dataCiudad[0].nombre}</td>
                                <td>$$</td>
                                <td>${statusTable(key.estatus)}</td>
                                <td>
                                    <a href="/Carriers/Routes/formRoutes/`+@id+`/${nCon(key.id)}">
                                        <span class="material-icons">
                                            mode_edit
                                        </span>
                                    </a>
                                </td>
                            </tr>`);
                });
                dTable("table-viajes");
            });
        }
    </script>
}
