
@{
    ViewData["Title"] = "Transportista|Rutas";
}
@{ int id = ViewBag.id; }
<div class="data-content pt-2 text-left">
    <div class="p-4">
        <div class="d-flex flex-nowrap">
            <div class="p-2">
                <div class="text-left d-flex p-2">
                    <a href="/Carriers/formCarriers/@id">
                        <div class="material-icons icon-red">arrow_back</div>
                    </a>
                    <div class="text-uppercase poppins medium size-24 pl-2">RUTA TRANSPORTISTA</div>
                </div>
            </div>

            <div class="ml-auto p-2">
                <button class="btn btn-sm btn-secondary" onclick="showModal('AGREGAR','Agregar');">
                    <span class="material-icons">
                        add
                    </span>
                </button>
            </div>
        </div>
        <div class="p-4 shadow bg-white">
            <table id="table" class="table table-striped table-bordered display table-hover table-viajes" width="100%">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Estado Or</th>
                        <th>Ciudad Or</th>
                        <th>Estado De</th>
                        <th>Estado Or</th>
                        <th>Costo</th>
                        <th>Estatus</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="table-info">
                    <tr>
                        <td colspan="8">Cargando...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Modal global-->
<div class="modal fade" id="modalDiv" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <form id="frmRegister" action="#" method="post">
                    <input type="hidden" name="id" id="idEditar" />
                    <div class="row">
                        <div class="col-md-3">
                            <label class="">Estado origen</label>
                            <select class="form-control form-control-md" id="EstadoOrigen" style="width:100%;font-size:6px;" onchange="cCiudadOrigen();">
                                <option value="0">Selecciona una opción</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="">Ciudad origen</label>
                            <select class="form-control form-control-md" id="CiudadOrigen" style="width:100%;font-size:6px;" onchange="getRutas();">
                                <option value="0">Selecciona una opción</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="">Estado destino</label>
                            <select class="form-control form-control-md" id="EstadoDestino" style="width:100%;font-size:6px;" onchange="cCiudadDestino();">
                                <option value="0">Selecciona una opción</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="">Ciudad destino</label>
                            <select class="form-control form-control-md" id="CiudadDestino" style="width:100%;font-size:6px;" onchange="getRutas();">
                                <option value="0">Selecciona una opción</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label class="">Ruta destino</label>
                            <select class="form-control form-control-md" id="Id_Ruta" name="Id_Ruta" style="width:100%;font-size:6px;">
                                <option value="0">Selecciona una opción</option>
                            </select>
                        </div>
                    </div>
                    <div class="row pt-3">
                        @*<div class="col-md-6">
                            <label class="">Costo</label>
                            <input type="number" class="form-control" name="Costo" id="Costo" />
                        </div>*@
                        <div class="col-md-4">
                            <label class="">Estatus</label>
                            <select class="form-control form-control-sm" name="Estatus" id="Estatus">
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="row pt-3">
                        <div class="col-md-12">
                            <label class="">Inventario</label>
                            <table id="table-inventario" class="table table-striped table-bordered display table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Costo One Way</th>
                                        <th>Costo Two Way</th>
                                        <th>Costo Circuito</th>
                                    </tr>
                                </thead>
                                <tbody id="info-inventario"></tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-dark guardar" style="width:31%;" id="btnAccion">
                        Guardar
                    </button>

                    @*<a href="#" class="btn btn-dark" style="width:31%;" onclick="guardarInventarios();">
            Guardar inventario
        </a>*@
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cerrar</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<!--Modal global-->

@section Scripts{
    <script>
        var catCiudad = [];
        var catEstado = [];
        var catRutas = [];
        var dataInventory = [];
        var catUnidad = [];

        $(window).ready(function () {
            init();
            $("#frmRegister").submit(function (event) {
                event.preventDefault();
                var jsonData = convertJson($("#frmRegister"));
                jsonData["Id_Transportista"] = @id;
                var idruta = $("#Id_Ruta").val();

                var jsonInv = [];
                $.each(dataInventory, function (item, key) {
                    //jsonInv.push({
                    //    "Id_Inventario": key.id,
                    //    "Circuito": $("#cir-" + key.id).val(),
                    //    "CostoOne": $("#one-" + key.id).val(),
                    //    "CostoTwo": $("#two-" + key.id).val(),
                    //    });

                    jsonInv.push({
                        "id_inventario": key.id,
                        "circuito": convertirDecimal("cir-" + key.id),
                        "costoone": convertirDecimal("one-" + key.id),
                        "costotwo": convertirDecimal("two-" + key.id),
                    });

                });

                jsonData["ruta_has_inventario"] = jsonInv;
                if (parseInt(idruta) != 0) {
                    if (parseInt($("#idEditar").val()) != 0) {
                        $.post("/Carriers/Routes/putRoutes", jsonData, function (res) {
                            getRuta();
                            dToast("success", "Registro actualizado exitosamente.", "Registrado");
                            $(".guardar").attr("disabled", false);
                        }).fail(function (error) {
                            dToast("error", "Error al tratar de guardar el registro", "Error");
                            $(".guardar").attr("disabled", false);
                        });
                    } else {
                        $.post("/Carriers/Routes/setRoutes", jsonData, function (res) {
                            getRuta();
                            dToast("success", "Se guardó el registro", "Registrado");
                            $(".guardar").attr("disabled", false);
                            $('#frmRegister').trigger("reset");

                            $("#EstadoOrigen").val(0).trigger('change');
                            $("#CiudadOrigen").val(0).trigger('change');
                            $("#EstadoDestino").val(0).trigger('change');
                            $("#CiudadDestino").val(0).trigger('change');

                        }).fail(function (error) {
                            dToast("error", "Error al tratar de guardar el registro", "Error");
                            $(".guardar").attr("disabled", false);
                        });
                    }
                } else {
                    dToast("error", "Selecciona una opción", "Error");
                }

            });
        });

        function init() {
            dSelect("EstadoOrigen");
            dSelect("CiudadOrigen");
            dSelect("EstadoDestino");
            dSelect("CiudadDestino");
            dSelect("Id_Ruta");
            cargarEstados();
            loadTipo();
        }

        function loadTipo() {
            $.get("../../Catalogs/TypesOfUnits/getUnidades", function (res) {
                catUnidad = res;
                $.each(res, function (item, key) {
                    if (parseInt(key.estatus) != 2) {
                        $("#TipoUnidad").append(`<option value="${key.id}">${key.nombre}</option>`)
                    }
                });
                getInventario();
            }).fail(function (error) {
                dToast("error", "Error al tratar de obtener los registros, intenta cerrar sesión y volver a iniciar.", "Error");
            });
        }

        function cargarEstados() {
            $.get("/Catalogs/Geography/State/getState", function (res) {
                catEstado = res;
                cargarCiudad();
                $.each(res, function (item, key) {
                    $("#EstadoOrigen").append(`<option value="${key.id}">${key.nombre}</option>`);
                    $("#EstadoDestino").append(`<option value="${key.id}">${key.nombre}</option>`);
                });
            }).fail(function (error) {
                dToast("error", "Error al obtener paises", "Atencion!");
            });
        }

        function cargarCiudad() {
            $.get("/Catalogs/Geography/City/getCity", function (res) {
                catCiudad = res;
                cargarRutas();
            }).fail(function (error) {
                dToast("error", "Error al obtener paises", "Atencion!");
            });
        }

        function getRutas(idr = 0) {//Obtiene todas las rutas por seleccion
            var eorigen = parseInt($("#EstadoOrigen").val());
            var corigen = parseInt($("#CiudadOrigen").val());
            var edestino = parseInt($("#EstadoDestino").val());
            var cdestino = parseInt($("#CiudadDestino").val());
            var jsondata = { 'id_estadoorigen': eorigen, 'id_ciudadorigen': corigen, 'id_estadodestino': edestino, 'id_ciudaddestino': cdestino };
            $.get("/Carriers/Routes/getRuta",jsondata, function (res) {
                $("#Id_Ruta").empty();
                $("#Id_Ruta").append(`<option value="0">Selecciona una opción</option>`);
                $.each(res, function (item, key) {
                    if (parseInt(key.estatus) == 1) {
                        const IdGenerado = `${String(key.id_ciudadorigen).padStart(4, '0')}${String(key.id_ciudaddestino).padStart(4, '0')}`;
                        let indice_co = catCiudad.findIndex(service => service.id === key.id_ciudadorigen);
                        let indice_cd = catCiudad.findIndex(service => service.id === key.id_ciudaddestino);
                        let indice_eo = catEstado.findIndex(service => service.id === key.id_estadoorigen);
                        let indice_ed = catEstado.findIndex(service => service.id === key.id_estadodestino);
                        $("#Id_Ruta").append(
                            `<option value="${key.id}">Id: ${IdGenerado} -- Estado Origen: ${catEstado[indice_eo].nombre} -- Ciudad Origen:${catCiudad[indice_co].nombre}  -  Estado Destino: ${catEstado[indice_ed].nombre} -- Ciudad Destino:${catCiudad[indice_cd].nombre} </option>
`);
                    }
                });
                //getRuta();
                if (idr != 0) {
                    $("#Id_Ruta").val(idr).trigger('change');
                }
            });
        }

        function cCiudadOrigen() {
            var idEstado = $("#EstadoOrigen").val();
            $("#CiudadOrigen").empty();
            $("#CiudadOrigen").append(`<option value="0">Selecciona una opción</option>`);
            $.each(catCiudad, function (item, key) {
                if (parseInt(key.id_estado) == parseInt(idEstado)) {
                    $("#CiudadOrigen").append(`<option value="${key.id}">${key.nombre}</option>`);
                }
            });
            getRutas();
        }

        function cCiudadDestino() {
            var idEstado = $("#EstadoDestino").val();
            $("#CiudadDestino").empty();
            $("#CiudadDestino").append(`<option value="0">Selecciona una opción</option>`);
            $.each(catCiudad, function (item, key) {
                if (parseInt(key.id_estado) == parseInt(idEstado)) {
                    $("#CiudadDestino").append(`<option value="${key.id}">${key.nombre}</option>`);
                }
            });
            getRutas();
        }

        function cargarRutas() {
            $.get("/Carriers/Routes/obRutas", function (res) {
                catRutas = res;
                getRuta();
            });
        }

        function selectCiudad() {
            var idEstado = $("#Estado").val();
            $("#CiudadOrigen").append(`<option value="0">Selecciona una opción</option>`);
            $("#CiudadDestino").append(`<option value="0">Selecciona una opción</option>`);
            $.each(catCiudad, function (item, key) {
                if (parseInt(key.id_estado) == parseInt(idEstado)) {
                    $("#CiudadOrigen").append(`<option value="${key.id}">${key.nombre}</option>`);
                    $("#CiudadDestino").append(`<option value="${key.id}">${key.nombre}</option>`);
                }
            });
        }

        function getRuta() {
            $("#table-info").empty();
            var stable = $('.table-viajes').DataTable();
            stable.destroy();
            $.get("/Carriers/Routes/getRutas", { "Id_Transportista":@id}, function (res) {
                DataAirlines = res;
                $("#table-info").empty();
                $.each(res, function (item, key) {
                    let rutaI = catRutas.findIndex(service => parseInt(service.id) === parseInt(key.id_Ruta));
                    if (rutaI >= 0) {
                        const IdGenerado = `${String(catRutas[rutaI].id_ciudadorigen).padStart(4, '0')}${String(catRutas[rutaI].id_ciudaddestino).padStart(4, '0')}`;
                        let indice_co = catCiudad.findIndex(service => service.id === catRutas[rutaI].id_ciudadorigen);
                        let indice_cd = catCiudad.findIndex(service => service.id === catRutas[rutaI].id_ciudaddestino);
                        let indice_eo = catEstado.findIndex(service => service.id === catRutas[rutaI].id_estadoorigen);
                        let indice_ed = catEstado.findIndex(service => service.id === catRutas[rutaI].id_estadodestino);
                        noc = "";
                        if (indice_cd >= 0) {
                            noc = catCiudad[indice_cd].nombre
                        }

                        var costoOne = 0;
                        console.log(key);
                        var inventario = key.ruta_has_inventario;
                        if (inventario.length) {
                            costoOne = inventario[0].costoOne;
                        }

                        $("#table-info").append(`
                             <tr>
                                <td>${nCon(IdGenerado)}</td>
                                <td>${catEstado[indice_eo].nombre}</td>
                                <td>${catCiudad[indice_co].nombre}</td>
                                <td>${catEstado[indice_ed].nombre}</td>
                                <td>${noc}</td>
                                <td>$ ${conversion(costoOne)}</td>
                                <td>`+ statusTable(key.estatus) + `</td>
                                <td>
                                    <a href="#">
                                        <span class="material-icons" onclick="showModal('EDITAR','Editar',${nCon(key.id)});">
                                            mode_edit
                                        </span>
                                    </a>
                                </td>
                            </tr>`);
                    }
                });
                dTable("table-viajes");
            }).fail(function (error) {
                dToast("error", "Error al tratar de obtener los registros, intenta cerrar sesión y volver a iniciar.", "Error");
            });
        }

        function showModal(titulo = "Title", accion, idEditar = 0) {
            $('#frmRegister').trigger("reset");
            $(".guardar").html(accion);
            $("#titulo-modal").empty("");
            $("#titulo-modal").html(titulo);
            $("#idEditar").val(idEditar);
            if (accion == "Editar") {
                try {
                    let indice = DataAirlines.findIndex(service => service.id === idEditar);
                    let rutaI = catRutas.findIndex(service => parseInt(service.id) == parseInt(DataAirlines[indice].id_Ruta));
                    //$("#Costo").val(DataAirlines[indice].costo);
                    $("#EstadoOrigen").val(catRutas[rutaI].id_estadoorigen).trigger('change');
                    $("#CiudadOrigen").val(catRutas[rutaI].id_ciudadorigen).trigger('change');
                    $("#EstadoDestino").val(catRutas[rutaI].id_estadodestino).trigger('change');
                    $("#CiudadDestino").val(catRutas[rutaI].id_ciudaddestino).trigger('change');
                    getRutas(catRutas[rutaI].id);
                    $('#Estatus option[value="' + DataAirlines[indice].estatus + '"]').attr("selected", true);

                    $.each(DataAirlines[indice].ruta_has_inventario, function (item, keyc) {
                        console.log(keyc);
                        $("#cir-" + keyc.id_Inventario).val(conversion(keyc.circuito));
                        $("#one-" + keyc.id_Inventario).val(conversion(keyc.costoOne));
                        $("#two-" + keyc.id_Inventario).val(conversion(keyc.costoTwo));
                    });

                    $("#modalDiv").modal("show");
                } catch (error) {
                    dToast("error", "Error al tratar de editar, intenta recargar la página.", "Error");
                    $("#modalDiv").modal("hide");
                }
            } else {
                $("#EstadoOrigen").val(0).trigger('change');
                $("#CiudadOrigen").val(0).trigger('change');
                $("#EstadoDestino").val(0).trigger('change');
                $("#CiudadDestino").val(0).trigger('change');
                $("#modalDiv").modal("show");
            }
        }

        function getInventario() {
            $("#info-inventario").empty();
            $.get("/Carriers/Inventory/getInventory/", { "IdTransportista":@id}, function (res) {
                /*dataInventory = res;*/
                var uniqueArray = removeDuplicates(res, "tipoUnidad");
                dataInventory = uniqueArray;
                $.each(uniqueArray, function (item, key) {
                    let indice = catUnidad.findIndex(service => service.id === key.tipoUnidad);
                    console.log(catUnidad[indice]);
                    $("#info-inventario").append(
                        `<tr>
                            <td>${nCon(catUnidad[indice].nombre)}</td>
                            <td>
                             <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                                <input type="text" class="form-control form-control-sm" id="one-${nCon(key.id)}" onkeyup="convertirUnidad(this.value,'one-${key.id}')">
                              </div>
                            </td>
                            <td>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                                <input type="text" class="form-control form-control-sm" id="two-${nCon(key.id)}" onkeyup="convertirUnidad(this.value,'two-${key.id}')">
                              </div>
                            </td>
                            <td>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                                <input type="text" class="form-control form-control-sm" id="cir-${nCon(key.id)}" onkeyup="convertirUnidad(this.value,'cir-${key.id}')">
                              </div>
                            </td>
                        </tr>`
                    );
                });
            });
        }

        function removeDuplicates(originalArray, prop) {
            var newArray = [];
            var lookupObject = {};

            for (var i in originalArray) {
                lookupObject[originalArray[i][prop]] = originalArray[i];
            }

            for (i in lookupObject) {
                newArray.push(lookupObject[i]);
            }
            return newArray;
        }

        function conversion(value) {
            value = value.toFixed(2)
            return value.replace(/\D/g, "")
                .replace(/([0-9])([0-9]{2})$/, '$1.$2')
                .replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ",");
        }

        function convertirUnidad(value,id) {
            value = value.replace(/\D/g, "")
                .replace(/([0-9])([0-9]{2})$/, '$1.$2')
                .replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ",");
            $("#" + id).val();
            $("#" + id).val(value);
        }

        function convertirDecimal(id) {
            decim = $("#"+id).val();
            decim = String(decim);
            decim = decim.replace(",", "");
            return decim;
        }

    </script>
}
