@{
    ViewData["Title"] = "Terrestres Internacionales";
}

<div class="p-4">
    <div class="text-left d-flex mb-3">
        <a href="/Catalogs">
            <div class="material-icons icon-red">arrow_back</div>
        </a>
        <div class="text-uppercase poppins medium size-24 pl-2">TERRESTRES INTERNACIONALES</div>
        <div style="padding-left:10%;">
            <button class="btn btn-sm btn-dark" onclick="showModal('AGREGAR','Agregar');">
                <span class="material-icons">
                    add
                </span>
            </button>
        </div>
    </div>
    <div class="p-4 shadow bg-white">
        <table id="table" class="table table-striped table-bordered display table-hover table-viajes" width="100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Teléfonos</th>
                    <th>Dept.</th>
                    <th>Contactos</th>
                    <th>Correo</th>
                    <th>Estatus</th>
                    <th>Notas</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="table-info"></tbody>
        </table>

    </div>
</div>

<!--Modal global-->
<div class="modal fade" id="modalDiv" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <form id="frmRegister" action="#" method="post">
                    <input type="hidden" name="id" id="idEditar" value="0" />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="">Nombre</label>
                                <input type="text" class="form-control" name="nombre" id="nombre" required/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="">Dirección</label>
                            <input type="text" class="form-control" name="direccion" id="direccion" value="" required/>
                        </div>
                        <div class="col-md-3">
                            <label class="">Telefonos</label>
                            <input type="text" class="form-control" name="telefono" id="telefono" value="" required/>
                        </div>
                        <div class="col-md-3">
                            <label class="">Departamentos</label>
                            <input type="text" class="form-control" name="departamento" id="departamento" value="" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="">Contacto</label>
                                <input type="text" class="form-control" name="contacto" id="contacto" value=""/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="">Correo</label>
                            <input type="email" class="form-control" name="correo" id="correo" required/>
                        </div>
                        <div class="col-md-3">
                            <label class="">Notas</label>
                            <input type="text" class="form-control" name="notas" id="notas" value=""/>
                        </div>
                        <div class="col-md-3">
                            <label class="">Estatus</label>
                            <select class="form-control form-control-sm" name="estatus" id="estatus">
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-dark guardar" style="width:15%;" id="btnAccion">
                        Guardar
                    </button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cerrar</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<!--Modal global-->

@section Scripts {
    <script>
        var dataInternational = [];

        $(document).ready(function () {
            loadTable();
            $("#frmRegister").submit(function (event) {
                event.preventDefault();
                var jsonData = convertJson($("#frmRegister"));

                if (parseInt($("#idEditar").val()) != 0) {
                    $.post("InternationalLand/putInternational", jsonData, function (res) {
                        console.log(res);
                        loadTable();
                        dToast("success", "Registro actualizado exitosamente.", "Registrado");
                        $(".guardar").attr("disabled", false);
                    }).fail(function (error) {
                        dToast("error", "Error al tratar de guardar el registro", "Error");
                        $(".guardar").attr("disabled", false);
                    });
                } else {
                    $.post("InternationalLand/setInternational", jsonData, function (res) {
                        loadTable();
                        dToast("success", "Se guardo el registro", "Registrado");
                        $(".guardar").attr("disabled", false);
                        $('#frmRegister').trigger("reset");
                    }).fail(function (error) {
                        dToast("error", "Error al tratar de guardar el registro", "Error");
                        $(".guardar").attr("disabled", false);
                    });
                }
            });
        });

        function showModal(titulo = "Title", accion, idEditar = 0) {
            $('#frmRegister').trigger("reset");
            $(".guardar").html(accion);
            $("#titulo-modal").empty("");
            $("#titulo-modal").html(titulo);

            if (accion == "Editar") {
                try {
                    let indice = dataInternational.findIndex(service => service.id === idEditar);
                    $("#idEditar").val(idEditar);
                    $("#nombre").val(dataInternational[indice].nombre);
                    $("#direccion").val(dataInternational[indice].direccion);
                    $("#telefono").val(dataInternational[indice].telefono);
                    $("#departamento").val(dataInternational[indice].departamento);
                    $("#contacto").val(dataInternational[indice].contacto);
                    $("#correo").val(dataInternational[indice].correo);
                    $("#notas").val(dataInternational[indice].notas);
                    $('#estatus option[value="' + dataInternational[indice].estatus + '"]').attr("selected", true);
                    $("#modalDiv").modal("show");
                } catch (error) {
                    dToast("error", "Error al tratar de editar, intenta recargar la página.", "Error");
                    $("#modalDiv").modal("hide");
                }
            } else {
                $("#modalDiv").modal("show");
            }
        }

        function loadTable() {
            var stable = $('.table-viajes').DataTable();
            stable.destroy();
            $("#table-info").empty();

            $.get("InternationalLand/getInternational", function (res) {
                dataInternational = res;
                $.each(res, function (item, key) {
                    $("#table-info").append(`
                        <tr>
                            <td>${nCon(key.nombre)}</td>
                            <td>${nCon(key.direccion)}</td>
                            <td>${nCon(key.telefono)}</td>
                            <td>${nCon(key.departamento)}</td>
                            <td>${nCon(key.contacto)}</td>
                            <td>${nCon(key.correo)}</td>
                            <td>`+ statusTable(key.estatus) + `</td>
                            <td>
                                <a href="#" onclick="showNota('${nCon(key.notas)}','NOTA');">
                                    <h1>...</h1>
                                </a>
                            </td>
                        <td>
                            <a href="#">
                                <span class="material-icons" onclick="showModal('EDITAR','Editar',${nCon(key.id)});">
                                    mode_edit
                                </span>
                            </a>
                        </td>
                    </tr>`);
                });
                dTable("table-viajes");
            }).fail(function (error) {
                dToast("error", "Error al tratar de obtener los registros, intenta cerrar sesión y volver a iniciar.", "Error");
            });
        }
        
    </script>
} 