
@{
    ViewData["Title"] = "Transportista|Tipos de mercancia";
}

@{ int id = ViewBag.id; }

<div class="data-content p-2 text-left">
    <div class="p-4">
        <div class="text-left d-flex mb-0">
            <a href="/Carriers/formCarriers/@id">
                <div class="material-icons icon-red">arrow_back</div>
            </a>
            <div class="text-uppercase poppins medium size-24 pl-2">TIPOS DE MERCANCíA</div>
        </div>
        <form id="frmRegister" action="#" method="post">
            <input type="hidden" value="0" id="idBox" name="Id" />
            <div class="text-right">
                <button class="btn btn-sm" type="submit" style="background-color:transparent;">
                    <span class="material-icons" style="color:cornflowerblue;" id="span-icon"></span>
                </button>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="p-4 shadow bg-white">
                        <div class="row">
                            <div class="col-md-6">
                                <b>Tipos</b>
                            </div>
                            <div class="col-md-6">
                                <b>Comentarios adicionales</b>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-6">
                                <input type="checkbox" value="true" id="Densidad" name="Densidad">
                                <label for="Densidad">
                                    Densidad
                                </label>
                            </div>
                            <div class="col-sm-6">
                                @*<input type="text" class="form-control form-control-sm" id="D_Opcional" name="D_Opcional" placeholder="Opcionales">*@
                                <select class="form-control form-control-sm" name="D_Opcional" id="D_Opcional" style="width:100%">
                                    <option value="0">SELECIONAR</option>
                                    <option value="baja">BAJA</option>
                                    <option value="media">MEDIA</option>
                                    <option value="alta">ALTA</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-6">
                                <input type="checkbox" value="true" id="TipoPresentacion" name="TipoPresentacion">
                                <label for="Ctpat">
                                    Tipo presentación
                                </label>
                            </div>
                            <div class="col-sm-6">
                                @*<input type="text" class="form-control form-control-sm" id="Tp_Opcional" name="Tp_Opcional" placeholder="Opcionales">*@
                                <select class="form-control form-control-sm" name="Tp_Opcional"  id="Tp_Opcional" style="width:100%">
                                    <option value="0">SELECIONAR</option>
                                    <option value="envase">ENVASE</option>
                                    <option value="granel">GRANEL</option>
                                    <option value="tarima">TARIMA</option>
                                    <option value="otros">OTROS</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-6">
                                <input type="checkbox" value="true" id="Peligroso" name="Peligroso">
                                <label for="Ctpat">
                                    Peligroso
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <input type="checkbox" value="true" id="Material" name="Material">
                                <label for="Ctpat">
                                    Material
                                </label>
                            </div>
                            <div class="col-sm-6">
                                @*<input type="text" class="form-control form-control-sm" id="M_Opcional" name="M_Opcional" placeholder="Opcionales">*@
                                <select class="form-control form-control-sm" name="M_Opcional" id="M_Opcional" style="width:100%">
                                    <option value="0">SELECIONAR</option>
                                    <option value="materiaprima">MATERIA PRIMA</option>
                                    <option value="materialdeenvase">MATERIAL DE ENVASE</option>
                                    <option value="productoterminado">PRODUCTO TERMINADO</option>
                                    <option value="perecederos">PERECEDEROS</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <input type="checkbox" value="true" id="Derramable" name="Derramable">
                                <label for="Ctpat">
                                    Derramable
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <input type="checkbox" value="true" id="Valor" name="Valor">
                                <label for="Ctpat">
                                    Valor
                                </label>
                            </div>
                            <div class="col-sm-6">
                                @*<input type="text" class="form-control form-control-sm" id="V_Opcional" name="V_Opcional" placeholder="Opcionales">*@
                                <select class="form-control form-control-sm" name="V_Opcional" id="V_Opcional" style="width:100%">
                                    <option value="0">SELECIONAR</option>
                                    <option value="alto">ALTO</option>
                                    <option value="medio">MEDIO</option>
                                    <option value="bajo">BAJO</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <input type="checkbox" value="true" id="Custodia" name="Custodia">
                                <label for="Ctpat">
                                    Custodia
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <input type="checkbox" value="true" id="OlorPenetrante" name="OlorPenetrante">
                                <label for="Ctpat">
                                    Olor penetrante
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-4 shadow bg-white">
                        <div class="row col-md-6">
                            <b>Notas</b>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <textarea class="form-control" rows="21" id="Notas" name="Notas"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        $(window).ready(function () {
            valId();
            $("#frmRegister").submit(function (event) {
                event.preventDefault();
                var jsonData = convertJson($("#frmRegister"));
                jsonData["Id_Transportista"] = @id;
                console.log("----------");
                console.log(jsonData);

                if (parseInt($("#D_Opcional").val()) != 0 &&
                    parseInt($("#TipoPresentacion").val()) != 0 &&
                    parseInt($("#Tp_Opcional").val()) != 0 &&
                    parseInt($("#M_Opcional").val()) != 0) {
                    if (parseInt($("#idBox").val()) == 0) {
                        $.post("/Carriers/Box/setBox/", jsonData, function (res) {
                            $("#idBox").val(res.id);
                            console.log(res);
                            dToast("success", "Registro guardado exitosamente.", "Registrado");
                        }).fail(function (error) {
                            dToast("error", "Error al tratar de guardar el registro", "Error");
                            $(".guardar").attr("disabled", false);
                        });
                    } else {
                        $.post("/Carriers/Box/putBox/", jsonData, function (res) {
                            console.log(res);
                            dToast("success", "Registro actualizado exitosamente.", "Actualizado");
                        }).fail(function (error) {
                            dToast("error", "Error al tratar de actualizar el registro", "Error");
                            $(".guardar").attr("disabled", false);
                        });
                    }
                } else {
                    dToast("error", "Selecciona una opción", "Error");
                }

                
            });
        });

        function valId(){
            if (parseInt(@id) != 0) {
                $.get("/Carriers/Box/getBox/", { "Id_Transportista":@id}, function (res) {
                    if (res != null) {
                        $("#span-icon").append("edit");
                        console.log(res);
                        $("#idBox").val(res.id);
                        $('#Densidad').prop('checked', res.densidad);
                        $('#TipoPresentacion').prop('checked', res.tipoPresentacion);
                        $('#Peligroso').prop('checked', res.peligroso);
                        $('#Material').prop('checked', res.material);
                        $('#Derramable').prop('checked', res.derramable);
                        $('#Valor').prop('checked', res.valor);
                        $('#Custodia').prop('checked', res.custodia);
                        $('#OlorPenetrante').prop('checked', res.olorPenetrante);

                        $("#D_Opcional").val(res.d_Opcional);
                        $("#Id_Transportista").val(res.id_Transportista);
                        $("#M_Opcional").val(res.m_Opcional);
                        $("#Notas").val(res.notas);
                        $("#Tp_Opcional").val(res.tp_Opcional);
                        $("#V_Opcional").val(res.v_Opcional);
                    } else {
                        $("#span-icon").append("save");
                    }
                }).fail(function (error, xhr, status) {
                    console.log(xhr);
                });
            } else {
                dToast("error", "Error al solicitar certificaciones", "Error");
            }
        }
    </script>
}