@{
    ViewData["Title"] = "Transportista|Biblioteca digital";
}
@{ int id = ViewBag.id; }
@section Styles{
    <style>
        input[type="file"] {
            display: none;
            border: 1px solid #ccc;
            display: inline-block;
            cursor: pointer;
            width: 100%;
        }
    </style>
}

<div class="data-content p-2 text-left">
    <div class="p-4">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex flex-nowrap">
                    <div class="">
                        <div class="text-left d-flex">
                            <a href="/Carriers/formCarriers/@id">
                                <div class="material-icons icon-red">arrow_back</div>
                            </a>
                            <div class="text-uppercase poppins medium size-24 pl-2">BIBLIOTECA DIGITAL</div>
                        </div>
                    </div>

                    <div class="ml-auto pb-2">
                        <button class="btn btn-sm btn-secondary" onclick="showModal('AGREGAR','Agregar');">
                            <span class="material-icons">
                                add
                            </span>
                        </button>
                    </div>
                </div>

                <div class="p-4 shadow bg-white">
                    <table id="table" class="table table-striped table-bordered display table-hover table-viajes">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Fecha actualización</th>
                                <th style="width:5%;" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="table-info"></tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<!--Modal global-->
<div class="modal fade" id="modalDiv" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <form id="frmRegister" action="#" method="post">
                    <input type="hidden" name="id" id="idEditar" value="0" />
                    <input type="hidden" name="Ruta" id="Ruta" value="" />
                    <input type="hidden" name="Archivo" id="Archivo" value="" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="">Nombre</label>
                                <input type="text" class="form-control" name="nombre" id="nombre" required />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="">Archivo</label>
                                <input type="file" name="FileArchivo" id="FileArchivo"/>
                            </div>
                        </div>

                        @*<div class="col-md-4">
                            <label class="">Estatus</label>
                            <select class="form-control form-control-sm" name="estatus" id="estatus">
                                <option value="1">Disponible</option>
                                <option value="2">No Disponible</option>
                            </select>
                        </div>*@
                    </div>

                    <button type="submit" class="btn btn-dark guardar" style="width:20%;" id="btnAccion">
                        Guardar
                    </button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cerrar</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<!--Modal global-->

@section Scripts{
    <script>
        var dataLibrary = [];

        $(window).ready(function () {
            loadTable();
            $("#frmRegister").submit(function (event) {
                event.preventDefault();
                var jsonData = convertJson($("#frmRegister"));
                jsonData["IdTransportista"] = @id;
                var formData = new FormData(document.getElementById("frmRegister"));
                formData.append('file', $('#FileArchivo')[0].files[0]);
                formData.append('IdTransportista', @id);

                if (parseInt($("#idEditar").val()) != 0) {
                    $.ajax({
                        url: "/Carriers/Library/putLibrary",
                        type: "POST",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            loadTable();
                            dToast("success", "Registro actualizado exitosamente.", "Actualizado");
                            $(".guardar").attr("disabled", false);
                        },
                        error: function (data) {
                            dToast("error", "Ocurrio un error al intentar guardar el archivo.", "Error");
                        }
                    });
                } else {
                    $.ajax({
                        url: "/Carriers/Library/setLibrary",
                        type: "POST",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            loadTable();
                            $('#frmRegister').trigger("reset");
                            dToast("success", "Registro guardado exitosamente.", "Registrado");
                            $(".guardar").attr("disabled", false);
                        },
                        error: function (data) {
                            dToast("error", "Ocurrio un error al intentar guardar el archivo.", "Error");
                        }
                    });
                }
            });

        });

        function showModal(titulo = "Title", accion, idEditar = 0) {
            $('#frmRegister').trigger("reset");
            $(".guardar").html(accion);
            $("#titulo-modal").empty("");
            $("#titulo-modal").html(titulo);
            $("#idEditar").val(idEditar);
            console.log(idEditar);
            console.log(dataLibrary);
            if (accion == "Editar") {
                try {
                    let indice = dataLibrary.findIndex(service => service.id === idEditar);
                    $("#nombre").val(dataLibrary[indice].nombre);
                    $("#Archivo").val(dataLibrary[indice].archivo);
                    $("#Ruta").val(dataLibrary[indice].ruta);
                    $('#estatus option[value="' + dataLibrary[indice].estatus + '"]').attr("selected", true);
                    $("#modalDiv").modal("show");
                } catch (error) {
                    dToast("error", "Error al tratar de editar, intenta recargar la página.", "Error");
                    $("#modalDiv").modal("hide");
                }
            } else {
                $("#modalDiv").modal("show");
            }
        }

        function loadTable() {
            var stable = $('.table-viajes').DataTable();
            stable.destroy();
            $("#table-info").empty();
            $.get("/Carriers/Library/getLibrary/", { "Id_Transportista":@id}, function (res) {
                dataLibrary = res;
                console.log(dataLibrary);
                $.each(dataLibrary, function (item, key) {
                    let d = new Date(key.fechaEvento);
                    let fecha = d.getFullYear() + "-" + d.getMonth() + "-" + d.getDay() + "  " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
                    if (parseInt(key.estatus) != 2) {
                        var archivo = key.archivo;
                        console.log(archivo);
                        var ruta = String(key.ruta);
                        console.log(key.ruta);
                        $("#table-info").append(`
                             <tr>
                                <td>${nCon(key.nombre)}</td>
                                <td>`+ fecha+ `</td>
                                <td class="text-center">
                                    <a href="#">
                                        <span class="material-icons" style="color:#EC694D;" onclick="downloadFile('${archivo}','${ruta}')">
                                            cloud_download
                                        </span>
                                    </a>
                                    <a href="#">
                                        <span class="material-icons" onclick="showModal('EDITAR','Editar',${nCon(key.id)});">
                                            mode_edit
                                        </span>
                                    </a>
                                </td>
                            </tr>`);
                    
                    }
                });
                dTable("table-viajes");
            });
        }

        function statusDisponible(status) {
            if (parseInt(status) == 1) {
                return "Disponible";
            } else {
                return "No Disponible";
            }
        }

        function downloadFile(nombre, fullpath) {
            ruta = "../../Resources/Biblioteca/" + String(fullpath) + "/"+String(nombre);
            //var pathName = path.resolve(ruta).replace(/\\/g, '/');
            var a = $("<a>")
                .attr("href", ruta)
                .attr("download", nombre)
                .appendTo("body");

            a[0].click();
            a.remove();
        }

    </script>
}