@model KLS_WEB.Models.Travels.Travel

@{
    ViewData["Title"] = "Detalles del viaje";
}

<div class="container">
    <div class="row d-flex">
        <div class="col-12 d-flex justify-content-start align-content-center">
            <a href="/Travels" class="d-flex align-items-center" style="text-decoration: none !important;">
                <i class="material-icons icon-red">arrow_back</i>
            </a>
            <div class="text-uppercase poppins medium size-24 pl-2">Viaje @Model.Folio</div>
        </div>
        <div class="col-12"></div>
    </div>
</div>