@{
<<<<<<< HEAD
    ViewData["Title"] = "Transportista|Rutas Form";
}

@{ int id = ViewBag.id; }
<div class="data-content p-4 text-left">
    <div class="p-4">
        <div class="text-left d-flex mb-3">
            <a href="/Carriers">
=======
    ViewData["Title"] = "Configuracion del viaje";
}

@{ int id = ViewBag.id; }


<div class="data-content p-4 text-left">
    <div class="p-4">
        <div class="text-left d-flex mb-3">
            <a href="/Travels">
>>>>>>> 7c04e26e72cefb59cea3dc73e5ad667b3f7a79a8
                <div class="material-icons icon-red">arrow_back</div>
            </a>
            <div class="text-uppercase poppins medium size-24 pl-2">Transportista</div>
        </div>
<<<<<<< HEAD
        <form id="frmRegister" action="#" method="post">
            <button class="btn btn-sm" type="submit" style="background-color:transparent;">
                <span class="material-icons" style="color:cornflowerblue;">
                    save
                </span>
            </button>
            <div class="row">
                <div class="col-md-4 text-right">
                    <div class="p-4 shadow bg-white">
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="idEditar" name="id">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Estado Origen</label>
                            <div class="col-sm-8">
                                <select class="form-control form-control-sm" id="EstadoOrigen" name="EstadoOrigen">
                                    <option value="0">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Ciudad Origen</label>
                            <div class="col-sm-8">
                                <select class="form-control form-control-sm" id="CiudadOrigen" name="CiudadOrigen">
                                    <option value="0">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Estado Destino</label>
                            <div class="col-sm-8">
                                <select class="form-control form-control-sm" id="EstadoDestino" name="EstadoDestino">
                                    <option value="0">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Ciudad Destino</label>
                            <div class="col-sm-8">
                                <select class="form-control form-control-sm" id="CiudadDestino" name="CiudadDestino">
                                    <option value="0">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Total de kilometros</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="TotalKilometros" name="TotalKilometros">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">% Eficiencia</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="Eficiencia" name="Eficiencia">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Total de horas</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="TotalHoras" name="TotalHoras">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Seguridad</label>
                            <div class="col-sm-8">
                                <select id="Seguridad" name="Seguridad" class="form-control form-control-sm">
                                    <option value="0">Selecciona</option>
=======
        <div class="row">
            <div class="col-md-4 text-right">
                
                <form id="frmRegister" action="#" method="post">
                    
                    <button class="btn btn-sm" type="submit" style="background-color:transparent;">
                        <span class="material-icons" style="color:cornflowerblue;">
                            save
                        </span>
                    </button>

                    <div class="p-4 shadow bg-white">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label col-form-label-sm">Id</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="idTransportista" disabled="disabled" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label col-form-label-sm">Nombre Comercial</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="NombreComercial" name="NombreComercial" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label col-form-label-sm">Tamaño</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="Tamanio" name="Tamanio" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label col-form-label-sm">Servicio</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="Servicio" name="Servicio" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label col-form-label-sm">Grado Confiabilidad (P)</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="GradoConfiabilidad" name="GradoConfiabilidad" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label col-form-label-sm">Nivel Servicio Interno</label>
                            <div class="col-sm-7">
                                <div id="rateYo"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label col-form-label-sm">Comentario</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="Comentario" name="Comentario">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label col-form-label-sm">Fecha último viaje</label>
                            <div class="col-sm-7">
                                <input type="date" class="form-control form-control-sm" id="FechaUltimoViaje" name="FechaUltimoViaje">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label col-form-label-sm">Estatus</label>
                            <div class="col-sm-7">
                                <select class="form-control form-control-sm" id="Estatus" name="Estatus">
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>
>>>>>>> 7c04e26e72cefb59cea3dc73e5ad667b3f7a79a8
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
<<<<<<< HEAD
                            <label class="col-4 col-form-label col-form-label-sm">Demanda</label>
                            <div class="col-sm-8">
                                <select class="form-control form-control-sm" id="Demanda" name="Demanda">
                                    <option value="0">Selecciona</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Restricción de Circ.</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" id="RestriccionCircuito" name="Contrasena">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Tipo de viaje</label>
                            <div class="col-sm-8">
                                <select id="TipoDeViaje" name="TipoDeViaje" class="form-control form-control-sm">
                                    <option value="0">Selecciona</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Estatus</label>
                            <div class="col-sm-8">
                                <select id="Estatus" name="Estatus" class="form-control form-control-sm">
                                    <option value="0">Selecciona</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="p-4 shadow bg-white">
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Frec. de validación</label>
                            <div class="col-sm-8">
                                <input type="text" name="FrecValidacion" id="FrecValidacion" class="form-control form-control-sm"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Restricción de Circ.</label>
                            <div class="col-sm-8">
                                <input type="text" name="RestriccionCirc" id="RestriccionCirc" class="form-control form-control-sm"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label col-form-label-sm">Estatus</label>
                            <div class="col-sm-8">
                                <input type="text" name="Observaciones" id="Observaciones" class="form-control form-control-sm"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

=======
                            <label class="col-5 col-form-label col-form-label-sm">Razón Social</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="RazonSocial" name="RazonSocial">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label col-form-label-sm">RFC</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="Rfc" name="Rfc">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label col-form-label-sm">Dirección Fiscal</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="DireccionFiscal" name="DireccionFiscal">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label col-form-label-sm">Dirección Oficinas</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="DireccionOficinas" name="DireccionOficinas">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label col-form-label-sm">Dirección Patio</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="DireccionPatio" name="DireccionPatio">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label col-form-label-sm">Google Maps</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="GoogleMaps" name="GoogleMaps">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label col-form-label-sm">Página Web</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="PaginaWeb" name="PaginaWeb">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label col-form-label-sm">Facebook</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="Facebook" name="Facebook">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label col-form-label-sm">Otra res social</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="OtraRed" name="OtraRed">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label col-form-label-sm">Banco</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="Banco" name="Banco">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label col-form-label-sm">Cuenta</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="Cuenta" name="Cuenta">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label col-form-label-sm">Usuario Master</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="UsuarioMaster" name="UsuarioMaster">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label col-form-label-sm">Contraseña</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control form-control-sm" id="Contrasena" name="Contrasena">
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="col-md-8">
                <div class="catalog-list">

                    <a href="/Carriers/Operators" class="catalog">
                        <div class="content">
                            <span class="material-icons">
                                people
                            </span>
                            <div class="name font-barlow">Operadores</div>
                        </div>
                    </a>

                    <a href="/Carriers/Inventory" class="catalog">
                        <div class="content">
                            <span class="material-icons">
                                local_shipping
                            </span>
                            <div class="name font-barlow">Inventario</div>
                        </div>
                    </a>

                    <a href="/Carriers/Library/@id" class="catalog">
                        <div class="content">
                            <span class="material-icons">
                                store
                            </span>
                            <div class="name font-barlow">Biblioteca digital</div>
                        </div>
                    </a>

                    <a href="/Carriers/Contacts/@id" class="catalog">
                        <div class="content">
                            <span class="material-icons">
                                call
                            </span>
                            <div class="name font-barlow">Contactos</div>
                        </div>
                    </a>

                    <a href="/Carriers/Certifications/@id" class="catalog">
                        <div class="content">
                            <span class="material-icons">
                                workspace_premium
                            </span>
                            <div class="name font-barlow">Certificaciones</div>
                        </div>
                    </a>

                    <a href="/Carriers/Box/@id" class="catalog">
                        <div class="content">
                            <span class="material-icons">
                                all_inbox
                            </span>
                            <div class="name font-barlow">Tipos de Mercancia</div>
                        </div>
                    </a>

                    <a href="/Carriers/Routes/@id" class="catalog">
                        <div class="content">
                            <span class="material-icons">
                                commute
                            </span>
                            <div class="name font-barlow">Rutas</div>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script>
        $(window).ready(function () {
            valId();
            $("#frmRegister").submit(function (event) {
                event.preventDefault();
                var jsonData = convertJson($("#frmRegister"));
                var normalFill = $("#rateYo").rateYo("option", "rating");
                jsonData["NivelServicio"] = normalFill;
                jsonData["id"] = @id;
                console.log(jsonData);

                if (parseInt(@id) == 0) {
                    $.post("/Carriers/setCarriers", jsonData, function (res) {
                        console.log(res);
                        $(location).attr('href', '/Carriers/formCarriers/' + res.id);
                        dToast("success", "Registro guardado exitosamente.", "Registrado");
                    }).fail(function (error) {
                        dToast("error", "Error al tratar de guardar el registro", "Error");
                        $(".guardar").attr("disabled", false);
                    });
                } else {
                    $.post("/Carriers/putCarriers",jsonData, function (res) {
                        console.log(res);
                        dToast("success", "Registro actualizado exitosamente.", "Registrado");
                    }).fail(function (error) {
                        dToast("error", "Error al tratar de actualizar el registro", "Error");
                        $(".guardar").attr("disabled", false);
                    });
                }
            });
        });

        function valId(){
            if (parseInt(@id) != 0) {
                $("#idTransportista").val(@id);
                $.get("/Carriers/getCarrier/", { "id":@id}, function (res) {

                    $("#rateYo").rateYo({
                        normalFill: "#A0A0A0",
                        rating: res.nivelServicio,
                        fullStar: true
                    });

                    console.log(res);
                    $("#Banco").val(res.banco);
                    $("#Comentario").val(res.comentario);
                    $("#Contrasena").val(res.contrasena);
                    $("#Cuenta").val(res.cuenta);
                    $("#DireccionFiscal").val(res.direccionFiscal);
                    $("#DireccionOficinas").val(res.direccionOficinas);
                    $("#DireccionPatio").val(res.direccionPatio);
                    $("#Estatus").val(res.estatus);
                    $("#Facebook").val(res.facebook);
                    $("#FechaUltimoViaje").val(res.fechaUltimoViaje);
                    $("#GoogleMaps").val(res.googleMaps);
                    $("#GradoConfiabilidad").val(res.gradoConfiabilidad);
                    $("#NivelServicio").val(res.nivelServicio);
                    $("#NombreComercial").val(res.nombreComercial);
                    $("#OtraRed").val(res.otraRed);
                    $("#PaginaWeb").val(res.paginaWeb);
                    $("#RazonSocial").val(res.razonSocial);
                    $("#Rfc").val(res.rfc);
                    $("#Servicio").val(res.servicio);
                    $("#Tamanio").val(res.tamanio);
                    $("#UsuarioMaster").val(res.usuarioMaster);
                }).fail(function (error, xhr, status) {
                    console.log(error);
                });

            } else {
                $("#rateYo").rateYo({
                    normalFill: "#A0A0A0",
                    rating: 0,
                    fullStar: true
                });
                $("#idTransportista").val("0000");
            }
        }

    </script>
}
>>>>>>> 7c04e26e72cefb59cea3dc73e5ad667b3f7a79a8
