<<<<<<< HEAD
﻿
@{
    ViewData["Title"] = "Transportista|Rutas";
}
@{ int id = ViewBag.id; }
<div class="data-content p-4 text-left">
    <div class="p-4">
        <div class="text-left d-flex mb-3">
            <a href="/Carriers/Routes/formRoutes/@id">
                <div class="material-icons icon-red">arrow_back</div>
            </a>
            <div class="text-uppercase poppins medium size-24 pl-2">RUTAS TRANSPORTISTAS</div>
            <div style="padding-left:10%;">
                <a class="btn btn-sm btn-dark" href="/Carriers/Routes/formRoutes/@id">
=======
﻿@{
    ViewData["Title"] = "Viajes";
}
<div class="data-content p-4 text-left">
    <div class="p-4">
        <div class="text-left d-flex mb-3">
            <div class="text-uppercase poppins medium size-24 pl-2">Viajes</div>
            <div style="padding-left:20%;">
                <a class="btn btn-sm btn-dark" href="/Travels/formTravels/0">
>>>>>>> 7c04e26e72cefb59cea3dc73e5ad667b3f7a79a8
                    <span class="material-icons">
                        add
                    </span>
                </a>
            </div>
        </div>

        <div class="p-4 shadow bg-white">
<<<<<<< HEAD
            <table id="table" class="table table-striped table-bordered display table-hover table-viajes" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Costo</th>
=======
            <table id="table" class="table table-striped table-bordered display table-hover table-viajes text-uppercase" width="100%">
                <thead>
                    <tr>
                        <th>ID Viaje</th>
                        <th>Cliente</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Fecha Salida</th>
                        <th>Fecha Llegada</th>
>>>>>>> 7c04e26e72cefb59cea3dc73e5ad667b3f7a79a8
                        <th>Estatus</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="table-info"></tbody>
            </table>
        </div>

    </div>
</div>
<<<<<<< HEAD
@section Scripts{
    <script>
        $(window).ready(function () {

        });

        function loadTable() {

        }
    </script>
}
=======

@section Scripts{
    <script>
       $(document).ready(function (event) {
           //loadTable();
       });

       function loadTable() {
           var stable = $('.table-viajes').DataTable();
           stable.destroy();
           $("#table-info").empty();

           $.get("Carriers/getCarriers", function (res) {
               console.log(res);
               $.each(res, function (item, key) {
                   $("#table-info").append(`
                    <tr>
                        <td>${nCon(key.id)}</td>
                        <td>${nCon(key.id)}</td>
                        <td>${nCon(key.nombreComercial)}</td>
                        <td>${nCon(key.nombreComercial)}</td>
                        <td>${nCon(key.tamanio)}</td>
                        <td>${nCon(key.comentario)}</td>
                        <td>${statusTable(key.estatus)}</td>
                        <td>
                            <a href="/Carriers/formCarriers/${nCon(key.id)}">
                                <span class="material-icons">
                                    mode_edit
                                </span>
                            </a>
                        </td>
                    </tr>`);
               });
               dTable("table-viajes");
           }).fail(function (error, xhr, status) {
               dToast("error", "Error al tratar de obtener los registros, intenta cerrar sesión y volver a iniciar.", "Error");
           });
       }
    </script>
} 
>>>>>>> 7c04e26e72cefb59cea3dc73e5ad667b3f7a79a8
