@model KLS_WEB.Models.Travels.Travel
@{
    ViewData["Title"] = "Configuracion viajes";
}

<style>
    .form-check-label {
        font-size: 12px !important;
    }

    .select2-selection__rendered {
        float: left;
        font-size: 12px;
        text-transform: uppercase;
    }

    select {
        text-transform: uppercase;
    }
</style>

<div class="data-content p-4 text-left">
    <div class="p-4">
        <div class="d-flex justify-content-between mb-3">
            <div class="d-flex">
                <a href="/Travels">
                    <div class="material-icons icon-red">arrow_back</div>
                </a>
                <div class="text-uppercase poppins medium size-24 pl-2">Nuevo viaje</div>

            </div>
            <div>
                @*Folio es el tipo de viaje + día del mes + numero de mes + consecutivo de 4 números*@
                @{string id = Model is null ? "0001" : (++Model.Id).ToString("D4"); }
                <h4 class="text-secondary" id="folio">VT@(string.Concat(DateTime.Now.ToString("ddMM"), id))</h4>
            </div>
        </div>

        <form id="frmRegister" class="viaje">

            <div class="p-4 shadow bg-white">
                <div class="row">
                    <div class="form-group col-6">
                        <label class="col-form-label col-form-label-sm">Cliente</label>
                        <div>
                            <select class="form-control form-control-sm" id="cliente" name="cliente" style="width: 100%;">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-3">
                        <label class="col-form-label col-form-label-sm">Fecha de salida</label>
                        <div>
                            <input type="datetime-local" class="form-control form-control-sm" id="fechasalida" name="fechasalida" required>
                        </div>
                    </div>
                    <div class="form-group col-3">
                        <label class="col-form-label col-form-label-sm">Fecha de llegada</label>
                        <div>
                            <input type="datetime-local" class="form-control form-control-sm" id="fechallegada" name="fechallegada" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <div class="d-flex justify-content-between">
                            <label class="col-form-label col-form-label-sm">Origen</label>
                            <a class="btn btn-link text-primary" onclick="agregarCiudad(this);">Agregar</a>
                        </div>
                        <div>
                            <select class="form-control form-control-sm text-uppercase" id="origen" name="origen" style="width: 100%;">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label class="col-form-label col-form-label-sm">Dirección Remitente</label>
                        <div>
                            <input type="text" class="form-control form-control-sm" id="direccionremitente"
                                   name="direccionremitente" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <div class="d-flex justify-content-between">
                            <label class="col-form-label col-form-label-sm">Destino</label>
                            <a class="btn btn-link text-primary" onclick="agregarCiudad(this);">Agregar</a>
                        </div>
                        <div>
                            <select class="form-control form-control-sm" id="destino" name="destino" style="width: 100%;">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label class="col-form-label col-form-label-sm">Dirección Destinatario</label>
                        <div>
                            <input type="text" class="form-control form-control-sm" id="direcciondestinatario"
                                   name="direcciondestinatario" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <label class="col-form-label col-form-label-sm">Ruta</label>
                        <div>
                            <select class="form-control form-control-sm" id="ruta" name="ruta" style="width: 100%;">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-3">
                        <label class="col-form-label col-form-label-sm">Tipo de Unidad</label>
                        <div>
                            <select class="form-control form-control-sm" id="tipounidad" name="tipounidad">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-3">
                        <label class="col-form-label col-form-label-sm">Tipo de Viaje</label>
                        <div>
                            <select class="form-control form-control-sm" id="tipoviaje" name="tipoviaje" onchange="{ SetFolio(this.value); }">
                                <option value="VTNOW">TERRESTRE NACIONAL ONE WAY</option>
                                <option value="VTNTW">TERRESTRE NACIONAL TWO WAY</option>
                                <option value="VTNC">TERRESTRE NACIONAL CIRCUITEABLE</option>
                                <option value="VTI">TERRESTRE INTERNACIONAL</option>
                                <option value="VM">MARÍTIMO</option>
                                <option value="VA">AÉREO</option>
                                <option value="VMM">MULTIMODAL</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-4">
                        <label class="col-form-label col-form-label-sm">Orden de compra</label>
                        <div>
                            <input type="text" class="form-control form-control-sm" id="ordencompra" name="ordencompra"
                                   required>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label class="col-form-label col-form-label-sm">Referencia 2</label>
                        <div>
                            <input type="text" class="form-control form-control-sm" id="referencia2"
                                   name="referencia2" required>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label class="col-form-label col-form-label-sm">Referencia 3</label>
                        <div>
                            <input type="text" class="form-control form-control-sm" id="referencia3"
                                   name="referencia3" required>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="form-group col-12 d-flex justify-content-between">
                        <h6 class="font-weight-bold">Servicios</h6>
                        <a class="btn btn-outline-secondary btn-sm" onclick="selectServicios(this);">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                    <div class="form-group col-12 addServicios">
                        <div class="border rounded d-flex justify-content-center align-items-center font-weight-bolder"
                             onclick="selectServicios(this);"
                             style="border: 5px dashed #585858 !important; height: 7rem; opacity: 0.2; cursor: pointer;">
                            <h3>AGREGA SERVICIOS</h3>
                        </div>

                    </div>
                    <div class="col-12 serviciosseleccionados" style="display: none;"></div>
                </div>

            </div>

            <div class="row p-3">
                <div class="col-3 bg-white">
                    <p class="font-weight-bolder">Cálculos</p>
                    <div class="d-flex justify-content-around">
                        <div class="d-flex align-items-end flex-column">
                            <span>Costo</span>
                            <span>Precio Cliente</span>
                        </div>
                        <div class="d-flex flex-column">
                            <b id="costos">0.00</b>
                            <b id="preciocliente">0.00</b>
                        </div>
                    </div>
                    <button class="btn btn-dark col-12 mt-4 guardar">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Modal global-->
<div class="modal fade" id="modalDiv" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal">AGREGAR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <form id="frmServicios" class="viaje"
                      onsubmit="event.preventDefault();">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="0" name="terrestrenacional">
                        <label class="form-check-label" for="0">
                            Terrestre nacional
                        </label>
                    </div>
                    @*<div class="form-check">
                            <input class="form-check-input" type="checkbox" id="1" name="naviera">
                            <label class="form-check-label" for="1">
                                Naviera
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="2" name="agenteaduanal">
                            <label class="form-check-label" for="2">
                                Agente aduanal
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="3"
                                   name="terrestreinternacional">
                            <label class="form-check-label" for="3">
                                Terrestre Internacional
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="4" name="aerolinea">
                            <label class="form-check-label" for="4">
                                Aerolinea
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="5" name="coloaders">
                            <label class="form-check-label" for="5">
                                Coloaders
                            </label>
                        </div>*@
                </form>
                <br />
                <button onclick="closeModal('agregarServicios');" class="btn btn-dark" style="width:100%;">
                    Agregar
                </button>

            </div>
        </div>
    </div>
</div>
<!--Modal global-->
<!--Modal agregar ciudad-->
<div class="modal fade" id="modalAgregarCiudad" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <form id="frmAgregarCiudad" onsubmit="event.preventDefault(); closeModal('agregarciudad');">
                    <input type="hidden" name="id" id="idEditar" value="0" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="">País</label><br />
                                <select class="form-control" name="id_pais" id="id_pais" style="width:100%">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="">Estado</label><br />
                            <select class="form-control" name="id_estado" id="id_estado" style="width:100%">
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="">ID SEPOMEX</label>
                            <input type="text" class="form-control" name="id_sepomex" id="id_sepomex" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="">Ciudad/Municipio</label>
                            <input type="text" class="form-control" name="nombre" id="nombre" value="" required />
                        </div>
                        <div class="col-md-4">
                            <label class="">Estatus</label><br />
                            <select class="form-control form-control-sm" name="estatus" id="estatus" style="width:100%">
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-dark guardar" style="width:100%;">
                        Guardar
                    </button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal agregar ciudad-->

@section Scripts{
    <script>
    var dataCity = [];
    var catPais = [];
    var catEstado = [];
    var catCiudad = [];

    $(window).ready(function () {
        loadState();
        loadCountry();
        loadCity();
        loadUnits();
        initSelects();

        $(".viaje").submit(function (event) {
            event.preventDefault();
            $(".guardar").attr("disabled", true);

            let jsonData = convertJson($(".viaje"));
            const details = {
                folio: $('#folio').text(),
                estatus: 'REGISTRADO',
                equipo: getEquipos(),
                unidad: getUnidades(),
                servicios: $('#frmServicios').serialize(),
                preciototal: $('#preciocliente').text(),
                costototal: $('#costos').text()
            };

            jsonData = { ...jsonData, ...details };

            const serviceExists = jsonData.servicios != '' && jsonData.unidad != '' && true;
            if (serviceExists) {
                $.post("/Travels/setTravels", jsonData, function (res) {
                    dToast("success", "Registro guardado exitosamente.", "Registrado");
                    $(".guardar").attr("disabled", false);
                    window.location.replace("@Url.Action("", "Travels")");
                }).fail(function (error) {
                    dToast("error", "Error al tratar de guardar el registro", "Error");
                    $(".guardar").attr("disabled", false);
                });
            } else {
                dToast("error", "LOS SERVICIOS SON OBLIGATORIOS", "Error");
                $(".guardar").attr("disabled", false);
            }
        });
    });

        function SetFolio(tipoviaje) {
            switch (tipoviaje) {
                case 'VTNOW':
                    tipoviaje = tipoviaje.replace('NOW', '');
                    break;
                case 'VTNTW':
                    tipoviaje = tipoviaje.replace('NTW', '');
                    break;
                case 'VTNW':
                    tipoviaje = tipoviaje.replace('NW', '');
                    break;
                case 'VTNC':
                    tipoviaje = tipoviaje.replace('NC', '');
                    break;
                case 'VTI':
                    tipoviaje = tipoviaje.replace('T', '');
                    break;
                case 'VMM':
                    tipoviaje = tipoviaje.replace('MM', 'V');
                    break;
                default:
                    break;
            }

            $('#folio').text($('#folio').text().replace(/[a-zA-Z_]+/g, tipoviaje));
        }

        function initSelects() {
            $.get("/Clients/getClients", res => {
                res.map(({ id, nombreCorto, estatus }) => estatus === 1 ? $('#cliente').append(`<option value="${id}">${nombreCorto}</option>`) : null);
                dSelect('cliente');
            });
            $.get("/Route/GetRoutes", res => {
                res.map(({ id, fromTo }) => $('#ruta').append(`<option value="${id}">${fromTo}</option>`));
                dSelect('ruta');
            });
        };

        function setPrecios() {
            const precios = $('.precios');
            let total = 0;
            precios.map(index => {
                const cantidad = Number.isNaN(Number.parseFloat(precios.eq(index).val())) ? 0 : precios.eq(index).val();
                total += parseFloat(cantidad);
            });
            total = parseFloat(total).toFixed(2);
            $('#preciocliente').text(total);
        }

        function setCostos() {
            const costos = $('.costos');
            let total = 0;
            costos.map(index => {
                const cantidad = Number.isNaN(Number.parseFloat(costos.eq(index).val())) ? 0 : costos.eq(index).val();
                total += parseFloat(cantidad);
            });
            total = parseFloat(total).toFixed(2);
            $('#costos').text(total);
        }

        function getEquipos() {
            const length = --$('.selectequipo').length;
            let data = ``;
            i = 0;
            while (i <= length) {
                const select = document.getElementsByClassName('selectequipo')[i],
                    options = select.options;
                data += `${i !== 0 ? '&' : ''}${select.name}=${options[options.selectedIndex].value}`;
                ++i;
            }
            return data;
        }

        function getUnidades() {
            const length = --$('.selectunidad').length;
            let data = ``;
            i = 0;
            while (i <= length) {
                const select = document.getElementsByClassName('selectunidad')[i],
                    options = select.options;
                data += `${i !== 0 ? '&' : ''}${select.name}=${options[options.selectedIndex].value}`;
                ++i;
            }
            return data;
        }

        selectEquipo = (IdTransportista, IdTipoUnidad, selectid) => {
            $.get(`/Carriers/Inventory/GetEquipos/${IdTransportista}`, ({ dataReport }) => {
                const equipos = dataReport.filter(x => x.tipoUnidad == IdTipoUnidad);
                $(`#equipo${selectid}`).empty();
                if (equipos.length > 0) {
                    equipos.map(({ id, marca, modelo, placa }) => {
                        $(`#equipo${selectid}`).append(`<option value="${id}">${marca}, ${modelo}. PLACA: ${placa}</option>"`);
                    });
                } else {
                    $(`#equipo${selectid}`).append(`<option value="0">No existen unidades activas</option>"`);
                }
            });
        }

        getInventario = (IdTransportista, elementId) => {
            $.get(`/Carriers/Inventory/GetEquipos/${IdTransportista}`, res => {
                const { unidades } = res;
                if (unidades.length > 0) {
                    unidades.map(({ tipoUnidad, nombre }) => {
                        $(`#unidad${elementId}`).append(`<option value="${tipoUnidad}">${nombre[0]}</option>"`);
                    });
                    selectEquipo(IdTransportista, unidades[0].tipoUnidad, elementId);
                } else {
                    $('.selectunidad').append(`<option value="0">No existen unidades activas</option>"`);
                    $('.selecUrlequipo').append(`<option value="0">No existen equipos activos</option>"`);
                }
            });
        };

        function addEquipo(servicio, element) {
            const boton = jQuery(element);
            const idtransportista = $('#transportista').val();
            const elementid = $('.equipocontainer').children().length;
            $('.equipocontainer').attr('rel', idtransportista);
            boton.remove();

            const equipo = `<div class="d-flex justify-content-between equipo mt-2">
                <select id="unidad${elementid}" class="form-control form-control-sm col-4 selectunidad" name="unidad${servicio}" required onchange="{selectEquipo(${idtransportista}, this.value, ${elementid});}">
                </select>
                <div class="col-8 d-flex flex-row justify-content-between">
                    <select id="equipo${elementid}" class="form-control form-control-sm col-10 selectequipo" name="equipo${servicio}" required>
                    </select>
                    <i class="material-icons text-danger" style="cursor: pointer;" onClick="{$(this).parent().parent().remove();}">delete</i>
                </div>
            </div>
            <i class="material-icons" style="cursor:pointer;" onclick="addEquipo('${servicio}', this);">add_box</i>`;

            $('.equipocontainer').append(equipo);
            getInventario(idtransportista, elementid);
        }

    function agregarCiudad(element) {
        $('#modalAgregarCiudad').modal('show');
    }

    function closeModal(action) {
        $('#modalDiv').modal('hide');
        if (action == 'agregarciudad') {
            var jsonData = convertJson($("#frmAgregarCiudad"));
            $.post("/Catalogs/Geography/City/setCity", jsonData, function (res) {
                loadCity();
                $('#modalAgregarCiudad').modal('hide');
                dToast("success", "Registro actualizado exitosamente.", "Registrado");
                $(".guardar").attr("disabled", false);
            }).fail(function (error) {
                dToast("error", "Error al tratar de guardar el registro", "Error");
                $(".guardar").attr("disabled", false);
            });
        } else {
            const servicios = $('#frmServicios').serialize();
            if (servicios) {
                $.post("@Url.Action("ReturnServicios", "Travels")", { servicios: servicios }, function (res) {
                    $('.addServicios').hide();
                    $('.serviciosseleccionados').html(res).show('slow', () => { $('.serviciosseleccionados').show(); });
                });
            } else {
                $(`.addServicios`).show('slow', () => { $('.addServicios').show(); });
                $('.serviciosseleccionados').empty().hide();
            }
        }
        }

        //Cargar ciudades
        function loadUnits() {
            $.get("/Catalogs/TypesOfUnits/getUnidades", function (res) {
                $("#tipounidad").empty();
                $.each(res, function (item, key) {
                    $("#tipounidad").append(`<option value="${key.id}">${key.nombre}</option>`);
                });
                dSelect('tipounidad');
            }).fail(function (error) {
                dToast("error", "Error al obtener ciudades", "Atencion!");
            });
        }

        //Cargar unidades
        function loadUnits() {
            $.get("/Catalogs/TypesOfUnits/getUnidades", function (res) {
                $("#tipounidad").empty();
                $.each(res, function (item, key) {
                    $("#tipounidad").append(`<option value="${key.id}">${key.nombre}</option>`);
                });
                dSelect('tipounidad');
            }).fail(function (error) {
                dToast("error", "Error al obtener ciudades", "Atencion!");
            });
        }

    //Cargar ciudades
    function loadCity() {
        $.get("/Catalogs/Geography/City/getCity", function (res) {
            res.map(data => {
                const { id, nombre, estatus } = data;

                if (estatus === 1) {
                    catCiudad = [...catCiudad, data];
                    $("#origen, #destino").append(`<option value="${id}">${nombre}</option>`);
                }
            });
            dSelect('origen');
            dSelect('destino');
        }).fail(function (error) {
            dToast("error", "Error al obtener tipos de unidad", "Atencion!");
        });
    }

    //Cargar paises
    function loadCountry() {
        $.get("/Catalogs/Geography/Country/getCountry", function (res) {
            res.map(data => {
                const { id, pais, estatus } = data;
                if (estatus === 1) {
                    catPais = [...catPais, data];
                    $("#id_pais").append(`<option value="${id}">${pais}</option>`);
                }
            });
            dSelect('id_pais');
        }).fail(function (error) {
            dToast("error", "Error al obtener paises", "Atencion!");
        });
    }

    //Cargar estados
    function loadState() {
        $.get("/Catalogs/Geography/State/getState", function (res) {
            $("#id_estado").empty();
            res.map(data => {
                const { id, nombre, estatus } = data;
                if (estatus === 1) {
                    $("#id_estado").append(`<option value="${id}">${nombre}</option>`);
                }
            });
            dSelect('id_estado');
        }).fail(function (error) {
            dToast("error", "Error al tener esUrlados", "Atencion!");
        });
    }

    function selectServicios(element) {
        const elemento = jQuery(element);
        elemento.attr('disabled', true);
        $("#modalDiv").modal("show");
    }

    </script>
}
