@{
    ViewData["Title"] = "Configuracion viajes";
}

@{
    int id = ViewBag.id;
}
<style>
    .form-check-label {
        font-size: 12px !important;
    }
</style>

<div class="data-content p-4 text-left">
    <div class="p-4">
        <div class="text-left d-flex mb-3">
            <a href="/Travels">
                <div class="material-icons icon-red">arrow_back</div>
            </a>
            <div class="text-uppercase poppins medium size-24 pl-2">Nuevo viaje</div>
        </div>

        <form id="frmRegister" class="viaje">

            <div class="p-4 shadow bg-white">
                <div class="row">
                    <div class="form-group col-6">
                        <label class="col-form-label col-form-label-sm">Cliente</label>
                        <div>
                            <select class="form-control form-control-sm" id="cliente" name="cliente">
                                <option value="1">mi cliente</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-3">
                        <label class="col-form-label col-form-label-sm">Fecha de salida</label>
                        <div>
                            <input type="date" class="form-control form-control-sm" id="fechasalida" name="fechasalida"
                                   required>
                        </div>
                    </div>
                    <div class="form-group col-3">
                        <label class="col-form-label col-form-label-sm">Fecha de llegada</label>
                        <div>
                            <input type="date" class="form-control form-control-sm" id="fechallegada"
                                   name="fechallegada" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <div class="d-flex justify-content-between">
                            <label class="col-form-label col-form-label-sm">Origen</label>
                            <a class="btn btn-link text-primary" onclick="agregarCiudad(this);">Agregar</a>
                        </div>
                        <div>
                            <select class="form-control form-control-sm text-uppercase" id="origen" name="origen" style="width: 100%;">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label class="col-form-label col-form-label-sm">Dirección Remitente</label>
                        <div>
                            <input type="text" class="form-control form-control-sm" id="direccionremitente"
                                   name="direccionremitente" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <div class="d-flex justify-content-between">
                            <label class="col-form-label col-form-label-sm">Destino</label>
                            <a class="btn btn-link text-primary" onclick="agregarCiudad(this);">Agregar</a>
                        </div>
                        <div>
                            <select class="form-control form-control-sm" id="destino" name="destino" style="width: 100%;">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label class="col-form-label col-form-label-sm">Dirección Destinatario</label>
                        <div>
                            <input type="text" class="form-control form-control-sm" id="direcciondestinatario"
                                   name="direcciondestinatario" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <label class="col-form-label col-form-label-sm">Ruta</label>
                        <div>
                            <select class="form-control form-control-sm" id="ruta" name="ruta">
                                <option value="10">mi ruta</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-3">
                        <label class="col-form-label col-form-label-sm">Tipo de Unidad</label>
                        <div>
                            <select class="form-control form-control-sm" id="tipounidad" name="tipounidad">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-3">
                        <label class="col-form-label col-form-label-sm">Tipo de Viaje</label>
                        <div>
                            <select class="form-control form-control-sm" id="tipoviaje" name="tipoviaje">
                                <option value="190">mi tipo de viaje</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-4">
                        <label class="col-form-label col-form-label-sm">Orden de compra</label>
                        <div>
                            <input type="text" class="form-control form-control-sm" id="ordencompra" name="ordencompra"
                                   required>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label class="col-form-label col-form-label-sm">Referencia 2</label>
                        <div>
                            <input type="text" class="form-control form-control-sm" id="referenciados"
                                   name="referenciados" required>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label class="col-form-label col-form-label-sm">Referencia 3</label>
                        <div>
                            <input type="text" class="form-control form-control-sm" id="referenciatres"
                                   name="referenciatres" required>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="form-group col-12 d-flex justify-content-between">
                        <h6 class="font-weight-bold">Servicios</h6>
                        <a class="btn btn-outline-secondary btn-sm" onclick="selectServicios(this);">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                    <div class="form-group col-12 addServicios">
                        <div class="border rounded d-flex justify-content-center align-items-center font-weight-bolder"
                             onclick="selectServicios(this);"
                             style="border: 5px dashed #585858 !important; height: 7rem; opacity: 0.2; cursor: pointer;">
                            <h3>AGREGA SERVICIOS</h3>
                        </div>

                    </div>
                    <div class="col-12 serviciosseleccionados" style="display: none;"></div>
                </div>

            </div>

            <div class="row p-3">
                <div class="col-3 bg-white">
                    <p class="font-weight-bolder">Cálculos</p>
                    <div class="d-flex justify-content-around">
                        <div class="d-flex align-items-end flex-column">
                            <span>Costo</span>
                            <span>Precio Cliente</span>
                        </div>
                        <div class="d-flex flex-column">
                            <b id="costo">0.00</b>
                            <b id="preciocliente">0.00</b>
                        </div>
                    </div>
                    <button class="btn btn-dark col-12 mt-4">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Modal global-->
<div class="modal fade" id="modalDiv" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal">AGREGAR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <form id="frmServicios" class="viaje"
                      onsubmit="event.preventDefault();">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="0" name="terrestrenacional">
                        <label class="form-check-label" for="0">
                            Terrestre nacional
                        </label>
                    </div>
                    @*<div class="form-check">
                            <input class="form-check-input" type="checkbox" id="1" name="naviera">
                            <label class="form-check-label" for="1">
                                Naviera
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="2" name="agenteaduanal">
                            <label class="form-check-label" for="2">
                                Agente aduanal
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="3"
                                   name="terrestreinternacional">
                            <label class="form-check-label" for="3">
                                Terrestre Internacional
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="4" name="aerolinea">
                            <label class="form-check-label" for="4">
                                Aerolinea
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="5" name="coloaders">
                            <label class="form-check-label" for="5">
                                Coloaders
                            </label>
                        </div>*@
                </form>
                <br />
                <button onclick="closeModal('agregarServicios');" class="btn btn-dark guardar" style="width:100%;">
                    Agregar
                </button>

            </div>
        </div>
    </div>
</div>
<!--Modal global-->
<!--Modal agregar ciudad-->
<div class="modal fade" id="modalAgregarCiudad" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <form id="frmAgregarCiudad" onsubmit="event.preventDefault(); closeModal('agregarciudad');">
                    <input type="hidden" name="id" id="idEditar" value="0" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="">País</label><br />
                                <select class="form-control" name="id_pais" id="id_pais" style="width:100%">
                                    <option value="0">México</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="">Estado</label><br />
                            <select class="form-control" name="id_estado" id="id_estado" style="width:100%">
                                <option value="0">Monterrey</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="">ID SEPOMEX</label>
                            <input type="text" class="form-control" name="id_sepomex" id="id_sepomex" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="">Ciudad/Municipio</label>
                            <input type="text" class="form-control" name="nombre" id="nombre" value="" required />
                        </div>
                        <div class="col-md-4">
                            <label class="">Estatus</label><br />
                            <select class="form-control form-control-sm" name="estatus" id="estatus" style="width:100%">
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-dark guardar" style="width:100%;">
                        Guardar
                    </button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal agregar ciudad-->

@section Scripts{
    <script>
    var dataCity = [];
    var catPais = [];
    var catEstado = [];

    $(window).ready(function () {
        valId();
        loadState();
        loadCountry();
        loadCity();
        loadUnits();

        $(".viaje").submit(function (event) {
            event.preventDefault();

            const equipo = {
                equipo: getEquipos()
            };

            var jsonData = convertJson($(".viaje"));
            console.log('pre', jsonData);
            jsonData = { ...jsonData, ...equipo };
            console.log('post:', jsonData);

            @*if (parseInt(@id) == 0) {
                $.post("/Carriers/setCarriers", jsonData, function (res) {
                    console.log(res);
                    $(location).attr('href', '/Carriers/formCarriers/' + res.id);
                    dToast("success", "Registro guardado exitosamente.", "Registrado");
                }).fail(function (error) {
                    dToast("error", "Error al tratar de guardar el registro", "Error");
                    $(".guardar").attr("disabled", false);
                });
            } else {
                $.post("/Carriers/putCarriers", jsonData, function (res) {
                    console.log(res);
                    dToast("success", "Registro actualizado exitosamente.", "Registrado");
                }).fail(function (error) {
                    dToast("error", "Error al tratar de actualizar el registro", "Error");
                    $(".guardar").attr("disabled", false);
                });
            }*@
        });
    });

        function setPrecios() {
            const precios = $('.precios');
            let total = 0;
            precios.map(index => {
                const cantidad = Number.isNaN(Number.parseFloat(precios.eq(index).val())) ? 0 : precios.eq(index).val();
                total += parseFloat(cantidad);
            });
            total = parseFloat(total).toFixed(2);
            $('#preciocliente').text(total);
        }

        function getEquipos() {
            const length = --$('.selectequipo').length;
            let data = ``;
            i = 0;
            while (i <= length) {
                const select = document.getElementsByClassName('selectequipo')[i],
                    options = select.options;
                data += `${i !== 0 ? '&' : ''}${select.name}=${options[options.selectedIndex].value}`;
                ++i;
            }
            return data;
        }

        function addEquipo(element, id) {
            const boton = jQuery(element);
            boton.remove();
            const nextId = ++$('.equipocontainer').children().length;

            const equipo = `<div class="d-flex justify-content-between equipo">
                <select class="form-control form-control-sm col-4 selectequipo" name="equipo${nextId}" required>
                    <option value="mi">Mi equipo</option>
                    <option value="mx">Mx</option>
                    <option value="w">w</option>
                    <option value="e">e</option>
                </select>
                <div class="col-8 d-flex flex-row justify-content-between">
                    <p id="equipodetail">new empty</p>
                    <i class="material-icons text-danger" style="cursor: pointer;" onClick="{$(this).parent().parent().remove();}">delete</i>
                </div>
            </div>
            <i class="material-icons" style="cursor:pointer;" onclick="addEquipo(this);">add_box</i>`;

            $('.equipocontainer').append(equipo);
        }

    function agregarCiudad(element) {
        $('#modalAgregarCiudad').modal('show');
    }

    function closeModal(action) {
        $('#modalDiv').modal('hide');
        if (action == 'agregarciudad') {
            var jsonData = convertJson($("#frmAgregarCiudad"));
            $.post("/Catalogs/Geography/City/setCity", jsonData, function (res) {
                loadCity();
                $('#modalAgregarCiudad').modal('hide');
                dToast("success", "Registro actualizado exitosamente.", "Registrado");
                $(".guardar").attr("disabled", false);
            }).fail(function (error) {
                dToast("error", "Error al tratar de guardar el registro", "Error");
                $(".guardar").attr("disabled", false);
            });
        } else {
            const servicios = $('#frmServicios').serialize();
            if (servicios) {
                $.post("@Url.Action("ReturnServicios", "Travels")", { servicios: servicios }, function (res) {
                    $('.addServicios').hide();
                    $('.serviciosseleccionados').html(res).show('slow', () => { $('.serviciosseleccionados').show(); });
                });
            } else {
                $(`.addServicios`).show('slow', () => { $('.addServicios').show(); });
                $('.serviciosseleccionados').empty().hide();
            }
        }
    }

        //Cargar unidades
        function loadUnits() {
            $.get("/Catalogs/TypesOfUnits/getUnidades", function (res) {
                $("#tipounidad").empty();
                $.each(res, function (item, key) {
                    $("#tipounidad").append(`<option value="${key.id}">${key.nombre}</option>`);
                });
                dSelect('tipounidad');
            }).fail(function (error) {
                dToast("error", "Error al obtener ciudades", "Atencion!");
            });
        }

    //Cargar ciudades
    function loadCity() {
        $.get("/Catalogs/Geography/City/getCity", function (res) {
            catCiudad = res;
            $("#origen, #destino").empty();
            $.each(res, function (item, key) {
                $("#origen, #destino").append(`<option value="${key.id}">${key.nombre}</option>`);
            });
            dSelect('origen');
            dSelect('destino');
        }).fail(function (error) {
            dToast("error", "Error al obtener tipos de unidad", "Atencion!");
        });
    }

    //Cargar paises
    function loadCountry() {
        $.get("/Catalogs/Geography/Country/getCountry", function (res) {
            catPais = res;
            $("#id_pais").empty();
            $.each(res, function (item, key) {
                $("#id_pais").append(`<option value="${key.id}">${key.pais}</option>`);
            });
            dSelect('id_pais');
        }).fail(function (error) {
            dToast("error", "Error al obtener paises", "Atencion!");
        });
    }

    //Cargar estados
    function loadState() {
        $.get("/Catalogs/Geography/State/getState", function (res) {
            catEstado = res;
            $("#id_estado").empty();
            $.each(res, function (item, key) {
                $("#id_estado").append(`<option value="${key.id}">${key.nombre}</option>`);
            });
            dSelect('id_estado');
        }).fail(function (error) {
            dToast("error", "Error al tener esUrlados", "Atencion!");
        });
    }

    function selectServicios(element) {
        const elemento = jQuery(element);
        elemento.attr('disabled', true);
        $("#modalDiv").modal("show");
    }

    function valId() {
        if (parseInt(@id) != 0) {
            $("#idTransportista").val(@id);
            $.get("/Carriers/getCarrier/", { "id": @id}, function (res) {
                console.log(res);
                $("#Banco").val(res.banco);
                Url("#Comentario").val(res.comentario);
                $("#Contrasena").val(res.contrasena);
                $("#Cuenta").val(res.cuenta);
                $("#DireccionFiscal").val(res.direccionFiscal);
                $("#DireccionOficinas").val(res.direccionOficinas);
                $("#DireccionPatio").val(res.direccionPatio);
                $("#Estatus").val(res.estatus);
                $("#Facebook").val(res.facebook);
                $("#FechaUltimoViaje").val(res.fechaUltimoViaje);
                $("#GoogleMaps").val(res.googleMaps);
                $("#GradoConfiabilidad").val(res.gradoConfiabilidad);
                $("#NivelServicio").val(res.nivelServicio);
                $("#NombreComercial").val(res.nombreComercial);
                $("#OtraRed").val(res.otraRed);
                $("#PaginaWeb").val(res.paginaWeb);
                $("#RazonSocial").val(res.razonSocial);
                $("#Rfc").val(res.rfc);
                $("#Servicio").val(res.servicio);
                $("#Tamanio").val(res.tamanio);
                $("#UsuarioMaster").val(res.usuarioMaster);
            }).fail(function (error, xhr, status) {
                console.log(error);
            });

        }
    }

    </script>
}
