
<div class="text-left mb-3">
    <div class="text-uppercase poppins medium size-24 pl-2">Rutas</div>
</div>

<div class="p-4 shadow bg-white">
    <table id="table" class="table table-striped table-bordered display table-hover table-rutas" width="100%">
        <thead class="text-uppercase">
            <tr>
                <th>ID</th>
                <th>Estado Or</th>
                <th>Ciudad Or</th>
                <th>Estado De</th>
                <th>Ciudad De</th>
                <th>Kilometros</th>
                <th>Seguridad</th>
                <th>Estatus</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="table-info"></tbody>
    </table>
</div>