@model KLS_WEB.Models.Clients.DTO.ClientsDTO
<div class="p-2">
    <div class="d-flex flex-nowrap">
        <div class="p-2">
            <div class="text-left d-flex p-2">
                <div class="text-uppercase poppins medium size-24 pl-2">MONITOREO</div>
            </div>
        </div>
        <div class="ml-auto p-2">
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center shadow-sm p-3 bg-white rounded" style="width: 9rem; height: 5rem; font-size: 14px;">
                        <b id="card-confirmados">0</b>
                        CONFIRMADOS
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center shadow-sm p-3 bg-white rounded" style="width: 9rem; height: 5rem; font-size: 14px;">
                        <b id="card-transito">0</b>
                        EN TRANSITO
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center shadow-sm p-3 bg-white rounded" style="width: 9rem; height: 5rem; font-size: 14px;">
                        <b id="card-concluidos">0</b>
                        DEMORADOS
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-4 shadow bg-white" style="overflow-x: auto; overflow-y: hidden;">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item">
                <label style="font-size:12px;font-weight:bold;" class="form-label">CLIENTE</label>
                <select class="form-control form-control-sm" style="width: 200px;" asp-items="Model.Selects.Clientes" id="sCliente" onchange="DT();"></select>
            </li>
            <li class="nav-item pl-4">
                <label style="font-size: 12px; font-weight: bold">Estatus</label>
                <select class="form-control form-control-sm" style="width: 200px;" asp-items="Model.Selects.Status" id="sEstatus" onchange="DT();setsSelectI(this.value)"></select>
            </li>
            <li class="nav-item pl-4">
                <label style="font-size: 12px; font-weight: bold">Sub estatus</label>
                <select class="form-control form-control-sm" style="width: 200px;" asp-items="Model.Selects.SubStatus" id="sSubEstatus" onchange="DT();"></select>
            </li>
            <li class="nav-item pl-4">
                <label style="font-size: 12px; font-weight: bold">Grupo monitor</label>
                <select class="form-control form-control-sm" style="width: 200px;" id="grupoMonitor" onchange="DT();"></select>
                @*<input type="text" class="form-control form-control-md" style="width: 200px;" id="grupoMonitor" />*@
            </li>
            <li class="nav-item ml-auto">
                <a class="btn btn-sm btn-secondary float-right" href="#">
                    <span class="material-icons" onclick="downloadExcel();">
                        file_download
                    </span>
                </a>
            </li>
        </ul>
        <div class="pt-2">
            <table id="table" class="table table-striped table-bordered display table-hover table-viajes" width="100%">
                <tbody id="table-info"></tbody>
            </table>
        </div>
    </div>
</div>
@*Modal Comentario*@
<div class="modal fade" id="comentarioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
@*Modal de checkpoints*@
<div class="modal fade" id="checkpointModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
@*Detalle del modal*@
<div class="modal fade" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="@Url.Content("~/js/sheetjs/fileSaver.min.js")"></script>
    <script src="@Url.Content("~/js/sheetjs/xlsx.full.min.js")"></script>
    <script>
        $(document).ready(function (event) {
            DT();
            getConteo();
            getGrupo();
        });
        DT = () => {
            Table = $('#table').DataTable({
                destroy: true,
                responsive: true,
                autoWidth: true,
                processing: true,
                serverSide: true,
                ajax: {
                    type: 'POST',
                    url: '/Monitor/DataTableMonitoring',
                    data: {
                        "SearchModel": {
                            "ClientId": $("#sCliente").val(),
                            "estatusId": $("#sEstatus").val(),
                            "subestatusId": $("#sSubEstatus").val(),
                        }
                    }
                },
                columns: [
                    {
                        data: 'folio',
                        render: (folio, type, row) => {
                            const { idviaje, cliente } = row;
                            return `  <p onclick="verInfo(${idviaje})" style="cursor: pointer;">ID VIAJE: ${folio}<br />CLIENTE: ${cliente}</p>`
                        }
                    },
                    {
                        data: 'origen',
                        render: (origen, type, row) => {
                            const { destino } = row;
                            return `Origen: ${origen}<br />Destino: ${destino}`
                        }
                    },
                    {
                        data: 'fechasalida',
                        render: (fechasalida, type, row) => {
                            const { tiemporuta } = row;
                            //return `FECHA DE SALIDA : ${fechasalida} <br />FECHA DE LLEGADA : ${moment(fechasalida).add(tiemporuta, 'days').format('YYYY-MM-DD hh:mm:ss')}`
                            return `FECHA DE SALIDA : ${moment(fechasalida).format('YYYY-MM-DD hh:mm:ss A')} <br />FECHA DE LLEGADA : ${moment(fechasalida).add(tiemporuta, 'hours').format('YYYY-MM-DD hh:mm:ss A')}`
                        }
                    },
                    {
                        data: 'tiemporuta',
                        render: (tiemporuta, type, row) => {
                            const { frecuenciaValidacion, monitor } = row;
                            return ` SIGUIENTE CONTACTO EN ${frecuenciaValidacion} HRS<br />ETA:${tiemporuta} HRS  Grupo Monitor: ${monitor}`
                        }

                    },
                    {
                        data: 'estatus',
                        render: (estatus, type, row) => {
                            const { substatus } = row;
                            //return `<button class="btn btn-success btn-sm">${estatus}</button> <br>${substatus}`;
                            return `<b>${estatus}</b> <br>${substatus}`;
                        }
                    },
                    {
                        render: (data, type, row) => {
                            const { folio, idviaje, idruta, fechasalida } = row;
                            return `
                                    <a href="#" onclick="agregarComentario(${idviaje})">
                                        <span class="material-icons">
                                            control_point
                                        </span>
                                    </a>
                                    <a href="#" onclick="verCheckpoint(${idviaje},${idruta},'${fechasalida}');">
                                        <span class="material-icons">
                                            assistant_photo
                                        </span>
                                    </a>
                                `;
                        }
                    }
                ],
                language: {
                    url: '/json/dt-es.json'
                },
                initComplete: () => {
                    $("#table_filter").hide();
                    //$('#table_length').html(`<a href="/Travels/AddEdit/0/0" class="btn btn-sm btn-outline-secondary float-right"><span class="material-icons">add</span></a>`).show();
                }
            });
        }
        function agregarComentario(id) {
            $.get(`/Monitor/Comment?id=${id}`, function (data) {
                $('#comentarioModal').html(data);
                $('#comentarioModal').modal('show');
            });
        }
        function setComent() {
            $("#btnComentario").prop('disabled', true);
            if ($("#subestatusModal").val() != 0) {
                var jsonData = convertJson($("#frmComentario"));
                var formData = new FormData(document.getElementById("frmComentario"));

                formData.append('file', $('#FileArchivo')[0].files[0]);
                $.ajax({
                    url: "/Monitor/setCommentario",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        dToast("success", "Registro actualizado exitosamente.", "Actualizado");
                        $("#btnComentario").prop('disabled', false);
                        $("#monitoreo").click();
                        DT();
                        getConteo();
                    },
                    error: function (data) {
                        $("#btnComentario").prop('disabled', false);
                        dToast("error", "Ocurrio un error al intentar guardar el archivo.", "Error");
                    }
                });
                $("#comentarioModal").modal("hide");
            } else {
                dToast("error", "Todos los campos son necesarios.", "Atención");
            }
        }
        function verCheckpoint(idviaje, idruta, fechasalida) {
            $.get(`/Monitor/Checkpoint?idviaje=${idviaje}&idruta=${idruta}&fecha=${fechasalida}`, function (data) {
                $('#checkpointModal').html(data);
                $('#checkpointModal').modal('show');
            });
        }
        function saveCheckpoint(idviaje, idcheckpoint, idruta, fechasalida) {
            var horaReal = $("#horaReal-" + idviaje).val();
            var jsonData = { "idSection": idviaje, "idCheckpoint": idcheckpoint, "HoraReal": horaReal };
            $.post("/Monitor/setSCheckpoints", jsonData, function (res) {
                verCheckpoint(idviaje, idruta, fechasalida);
            });
        }
        function getConteo() {
            $.get("/Monitor/getConteo", function (data) {
                /*
                 confirmado = 2, entransito = 3,concluidos = 4
                 */
                $("#card-confirmados").html("0");
                $("#card-transito").html("0");
                $("#card-concluidos").html("0");
                $.each(data, function (item, key) {
                    if (key.key == 2) {
                        $("#card-confirmados").html(key.count);
                    }
                    if (key.key == 3) {
                        $("#card-transito").html(key.count);
                    }
                    if (key.key == 4) {
                        $("#card-concluidos").html(key.count);
                    }
                })
            });
        }
        function downloadExcel() {
            $.get('/Monitor/downloadExcel', function (res) {
                var catMonitoreo = [];
                //console.log(res);
                $.each(res, function (item, key) {
                    catMonitoreo.push(
                        {
                            "Folio": key.folio,
                            "Cliente": key.cliente,
                            "Origen": key.origen,
                            "Destino": key.destino,
                            "Fecha de salida": key.fechasalida,
                            "Fecha de llegada": key.fechasalida,
                            "Estatus": key.estatus,
                            "Substatus": key.substatus,
                        }
                    );
                });

                //console.log(catMonitoreo);

                var _fileName = "REPORTEMONITOREO.xlsx";
                var _sheetName = "REPORTE";
                var wb = XLSX.utils.book_new();
                wb.Props = {
                    Title: "REPORTE ",
                    Subject: "Excel",
                    Author: "KLS",
                    CreatedDate: new Date(2021, 08, 11)
                };
                wb.SheetNames.push(_sheetName);
                var ws_data = catMonitoreo;
                var ws = XLSX.utils.json_to_sheet(ws_data);
                wb.Sheets[_sheetName] = ws;
                var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });
                saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), _fileName);
            });
        }
        function s2ab(s) {
            var buf = new ArrayBuffer(s.length); //convert s to arrayBuffer
            var view = new Uint8Array(buf);  //create uint8array as viewer
            for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF; //convert to octet
            return buf;
        }
        function verInfo(id) {
            $.get('/Monitor/getInfo?id=' + id, function (res) {
                $('#detalleModal').html(res);
                $("#detalleModal").modal("show");
            });
        }
        function setsSelectI(id) {
            $.get("/Monitor/getSubStatusFind?id=" + id, function (res) {
                $("#sSubEstatus").empty();
                $("#sSubEstatus").append(`<option value="0">SELECCIONA</option>`);
                $.each(res, function (item, key) {
                    $("#sSubEstatus").append(`<option value="${key.id}">${key.name}</option>`);
                });
            });
        }
        function getGrupo() {
            $.get("/Monitor/getGrupo", function (data) {
                $("#grupoMonitor").empty();
                $("#grupoMonitor").append("<option>SELECCIONA</option>");
                $.each(data, function (item, key) {
                    $("#grupoMonitor").append(`<option value="${monitor}">${monitor}</option>`);
                })
            });
        }
    </script>
}
