@{
    ViewData["Title"] = "Detalle del viaje";
}

@{ int id = ViewBag.id; }

<div class="data-content p-4 text-left">
    <div class="p-4">
        <div class="row d-flex b-3 justify-content-between">
            <div class="d-flex">
                <a href="/Travels">
                    <div class="material-icons icon-red">arrow_back</div>
                </a>
                <div class="text-uppercase poppins medium size-24 pl-2">Viaje {folio}</div>
            </div>
            <div class="d-flex mx-auto">
                <h4>EN TRÁNSITO</h4>
                <h4 class="ml-5">A TIEMPO (0HR)</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

                <form id="frmRegister" action="#" method="post">

                    <div class="p-4 shadow bg-white">
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label col-form-label-sm">Folio de viaje</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="folio" disabled="disabled" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label col-form-label-sm">Cliente</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="cliente" disabled="disabled" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label col-form-label-sm">Dirección Origen</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="direccionorigen" disabled="disabled" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label col-form-label-sm">Dirección Destino</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="direcciondestino" disabled="disabled" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label col-form-label-sm">Ruta</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="ruta" disabled="disabled" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label col-form-label-sm">Fecha Salida</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="fechasalida" disabled="disabled" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label col-form-label-sm">Fecha Entrega</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="fechaentrega" disabled="disabled" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label col-form-label-sm">Costo</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="costo" disabled="disabled" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label col-form-label-sm">Precio Cliente</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="preciocliente" disabled="disabled" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5 col-form-label col-form-label-sm">Tipo de Unidad</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-control-sm" id="tipounidad" disabled="disabled" required>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="col-md-8">
                <div class="catalog-list">

                    <a href="/Travels/Services" class="catalog">
                        <div class="content">
                            <span class="material-icons">
                                people
                            </span>
                            <div class="name font-barlow">Servicios</div>
                        </div>
                    </a>

                    <a href="/Travels/Requisites" class="catalog">
                        <div class="content">
                            <span class="material-icons">
                                inventory_2
                            </span>
                            <div class="name font-barlow">Requisitos</div>
                        </div>
                    </a>

                    <a href="/Travels/Commodity" class="catalog">
                        <div class="content">
                            <span class="material-icons">
                                store
                            </span>
                            <div class="name font-barlow">Mercancía</div>
                        </div>
                    </a>

                    <a href="/Travels/Invoice" class="catalog">
                        <div class="content">
                            <span class="material-icons">
                                receipt_long
                            </span>
                            <div class="name font-barlow">Facturación</div>
                        </div>
                    </a>

                    <a href="/Travels/Documents" class="catalog">
                        <div class="content">
                            <span class="material-icons">
                                folder
                            </span>
                            <div class="name font-barlow">Documentos</div>
                        </div>
                    </a>

                    <a href="/Travels/History" class="catalog">
                        <div class="content">
                            <span class="material-icons">
                                manage_search
                            </span>
                            <div class="name font-barlow">Historial</div>
                        </div>
                    </a>

                    <a href="/Travels/Tracking" class="catalog">
                        <div class="content">
                            <span class="material-icons">
                                pin_drop
                            </span>
                            <div class="name font-barlow">Monitoreo</div>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script>
        $(window).ready(function () {
            valId();
            $("#frmRegister").submit(function (event) {
                event.preventDefault();
                var jsonData = convertJson($("#frmRegister"));
                var normalFill = $("#rateYo").rateYo("option", "rating");
                jsonData["NivelServicio"] = normalFill;
                jsonData["id"] = @id;
                console.log(jsonData);

                if (parseInt(@id) == 0) {
                    $.post("/Carriers/setCarriers", jsonData, function (res) {
                        console.log(res);
                        $(location).attr('href', '/Carriers/formCarriers/' + res.id);
                        dToast("success", "Registro guardado exitosamente.", "Registrado");
                    }).fail(function (error) {
                        dToast("error", "Error al tratar de guardar el registro", "Error");
                        $(".guardar").attr("disabled", false);
                    });
                } else {
                    $.post("/Carriers/putCarriers",jsonData, function (res) {
                        console.log(res);
                        dToast("success", "Registro actualizado exitosamente.", "Registrado");
                    }).fail(function (error) {
                        dToast("error", "Error al tratar de actualizar el registro", "Error");
                        $(".guardar").attr("disabled", false);
                    });
                }
            });
        });

        function valId(){
            if (parseInt(@id) != 0) {
                $("#idTransportista").val(@id);
                $.get("/Carriers/getCarrier/", { "id":@id}, function (res) {

                    $("#rateYo").rateYo({
                        normalFill: "#A0A0A0",
                        rating: res.nivelServicio,
                        fullStar: true
                    });

                    console.log(res);
                    $("#Banco").val(res.banco);
                    $("#Comentario").val(res.comentario);
                    $("#Contrasena").val(res.contrasena);
                    $("#Cuenta").val(res.cuenta);
                    $("#DireccionFiscal").val(res.direccionFiscal);
                    $("#DireccionOficinas").val(res.direccionOficinas);
                    $("#DireccionPatio").val(res.direccionPatio);
                    $("#Estatus").val(res.estatus);
                    $("#Facebook").val(res.facebook);
                    $("#FechaUltimoViaje").val(res.fechaUltimoViaje);
                    $("#GoogleMaps").val(res.googleMaps);
                    $("#GradoConfiabilidad").val(res.gradoConfiabilidad);
                    $("#NivelServicio").val(res.nivelServicio);
                    $("#NombreComercial").val(res.nombreComercial);
                    $("#OtraRed").val(res.otraRed);
                    $("#PaginaWeb").val(res.paginaWeb);
                    $("#RazonSocial").val(res.razonSocial);
                    $("#Rfc").val(res.rfc);
                    $("#Servicio").val(res.servicio);
                    $("#Tamanio").val(res.tamanio);
                    $("#UsuarioMaster").val(res.usuarioMaster);
                }).fail(function (error, xhr, status) {
                    console.log(error);
                });

            } else {
                $("#rateYo").rateYo({
                    normalFill: "#A0A0A0",
                    rating: 0,
                    fullStar: true
                });
                $("#idTransportista").val("0000");
            }
        }

    </script>
}
