@{
    ViewData["Title"] = "Catalogos";
}
<div class="data-content p-4 text-left">
    <div class="title font-barlow">Geografia</div>
    <div class="catalog-list">

        <a href="/Catalogs" class="catalog">
            <div class="content">
                <div class="material-icons icon-red" translate="no">arrow_back</div>
                <div class="name font-barlow">Regresar</div>
            </div>
        </a>

        <a href="/Catalogs/Geography/Regions" class="catalog">
            <div class="content">
                <span class="material-icons" translate="no">
                    flag
                </span>
                <div class="name font-barlow">Regiones</div>
            </div>
        </a>

        <a href="/Catalogs/Geography/Country" class="catalog">
            <div class="content">
                <div class="material-icons" translate="no">local_shipping</div>
                <div class="name font-barlow">País</div>
            </div>
        </a>

        <a href="/Catalogs/Geography/State" class="catalog">
            <div class="content">
                <div class="material-icons" translate="no">map</div>
                <div class="name font-barlow">Estado</div>
            </div>
        </a>

        <a href="/Catalogs/Geography/City" class="catalog">
            <div class="content">
                <div class="material-icons" translate="no">location_city</div>
                <div class="name font-barlow">Ciudad</div>
            </div>
        </a>

        <a href="/Catalogs/Geography/Colonies" class="catalog">
            <div class="content">
                <div class="material-icons">location_on</div>
                <div class="name font-barlow">Colonias</div>
            </div>
        </a>

    </div>
</div>