@{
    ViewData["Title"] = "Catalogos";
}
<div class="data-content p-4 text-left">
    <div class="title font-barlow">Catálogos</div>
    <div class="catalog-list">

        <a href="Catalogs/Geografia" class="catalog">
            <div class="content">
                <div class="material-icons">explore</div>
                <div class="name font-barlow">Geografía</div>
            </div>
        </a>

        <a href="Catalogs/TypesOfUnits" class="catalog">
            <div class="content">
                <div class="material-icons">local_shipping</div>
                <div class="name font-barlow">Tipo de Unidades</div>
            </div>
        </a>

        <a href="Catalogs/Subservices" class="catalog">
            <div class="content">
                <div class="material-icons">local_offer</div>
                <div class="name font-barlow">Subservicios</div>
            </div>
        </a>

        <a href="Catalogs/Airlines" class="catalog">
            <div class="content">
                <div class="material-icons">flight</div>
                <div class="name font-barlow">Aerolíneas</div>
            </div>
        </a>

        <a href="Catalogs/Coloaders" class="catalog">
            <div class="content">
                <div class="material-icons">language</div>
                <div class="name font-barlow">Co-loaders</div>
            </div>
        </a>

        <a href="Catalogs/ShippingCompanies" class="catalog">
            <div class="content">
                <div class="material-icons">directions_boat</div>
                <div class="name font-barlow">Navieras</div>
            </div>
        </a>

        <a href="Catalogs/CustomsBrokers" class="catalog">
            <div class="content">
                <div class="material-icons">public</div>
                <div class="name font-barlow">Agentes aduanales</div>
            </div>
        </a>

        <a href="Catalogs/InternationalLand" class="catalog">
            <div class="content">
                <img src="../img/shipping.svg" class="name" style="width: 60px; margin-bottom: 13px;">
                <div class="name font-barlow">Terrestres inter.</div>
            </div>
        </a>
    </div>
</div>