@{
    ViewData["Title"] = "Transportista|Certificaciones";
}

<div class="data-content p-4 text-left">
    <div class="p-4">
        <div class="text-left d-flex mb-3">
            <a href="/Carriers">
                <div class="material-icons icon-red">arrow_back</div>
            </a>
            <div class="text-uppercase poppins medium size-24 pl-2">BIBLIOTECA DIGITAL</div>
        </div>

        <div class="p-4 shadow bg-white">
            
            Certificaciones... (Pendiente)

        </div>

    </div>
</div>
